[2017-01-24 19:52] vsoch opened #1 "add option to not build all branches"
Reposted from Singularity group list:

I think there could be a need for _not_ building all GitHub branches.
For instance, some branches may be pure development branches.  These a
typically being used with lots of commits / pushes.  I'm a big fan of
the "git flow" model (https://github.com/petervanderdoes/gitflow-avh)
where this is the case, i.e. you have a `master` and a `develop`
branch and then

[2017-01-24 19:56] vsoch commented on #1
And a few quick feedback points to the poster!

- the option of disabling builds for a branch is a great idea. Currently, Singularity Hub doesn't do anything to read the repo, only the ping from Github, so the strategy to store the metadata in a file with the repo doesn't (at least immediately) plug in nicely. I think we could take one of two approaches:

1. disable all other branch builds by defa

[2017-01-24 20:15] vsoch opened #2 "firefox issue with certificates"
the problem is that the certificate is only for
"singularity-hub.org" but not (additionally) for
"www.singularity-hub.org" and Firefox correctly gives a warning
when connrecting to https://www.singularity-hub.org instead of
silently redirecting to https://singularity-hub.org/ as e.g. Chrome
does.

[2017-01-24 22:53] HenrikBengtsson commented on #1
Approach 1, where all branches but `master` is disabled by default, appeals to me.  I keeps the learning curve at a minimum while still providing the option to build other branches too.

I take your word for it, but I'm not sure I understand why it would be more complicated to have additional metadata in a file that lives in the repos.  I assume (=guessing) the repos is cloned to the Hub server al

[2017-01-24 23:05] vsoch commented on #1
Nothing is actually cloned to the server, all of that business is done with a builder, which is a separate server (there are many) deployed on demand that clones the repo, builds the image, and sends it back. Ideally we would want to prevent the build from entering the queue period, meaning that server should never get deployed (and then check that there is a spec file that says not to build, haha

[2017-01-24 23:31] HenrikBengtsson commented on #1
I see.

Git tags are quite widely used in my part of the Git / GitHub world, but it's also used in your neighborhood ;)
[code]

Also, if you don't know about Git Flow, have a look at:

* how it works: http://jeffkreeftmeijer.com/2010/why-arent-you-using-git-flow/
* git plugin: https://github.com/petervanderdoes/gitflow-avh

If you do your own home-cooked braching / release models, as I did for a l

[2017-01-25 01:08] vsoch commented on #1
hey @HenrikBengtsson ! Ok, I added the functions and views, give it a spin! I think this is you:

https://singularity-hub.org/collections/44/branches/edit

[2017-01-25 02:22] HenrikBengtsson commented on #1
(Yes, that's my "slash" organization.)

Beautiful. Thxs. I've tried it out and it seems to work, e.g. I've deleted the previous `feature/yoo` build, enabled it in the hub settings (*), pushed new commits to GitHub, and, yep, the `feature/yoo` branch was rebuilt.

I see that you're also providing access to tags via `refs/tags/<tag>`.  That's great.  I understand that support for `@<tag>` and `@<bra

[2017-01-31 07:31] HenrikBengtsson opened #3 "Add link to Singularity web site"
It would probably be helpful for new users, but also existing ones, if there was links to http://singularity.lbl.gov/ from the https://singularity-hub.org/ website.

A natural update to the https://singularity-hub.org/collections page would be:

[2017-01-31 14:40] vsoch commented on #3
Done! I added one to the [usage docs](https://singularity-hub.org/faq) page as well. Anywhere else where you think it would be good?

[2017-01-31 18:42] HenrikBengtsson commented on #3
Great. Some possibilities for the front page:

[Singularity] containers built with Singularity Hub ...

We provide simple views for seeing inside of your [Singularity] containers, and making comparisons between containers.

[2017-01-31 18:43] HenrikBengtsson commented on #3
Also, maybe the header / banner should read "SINGULARITY [HUB]" to distinguish it from the Singularity web site.  Right now that's not clear and someone might end up on this page when searching for "Singularity".

[2017-01-31 20:07] vsoch commented on #3
I haven't totally decided on branding for Singularity Hub (and I'm not convinced it's totally necessary) so I'm wanting to keep it as it is now - Singularity Hub and Singularity are tightly integrated and the user / searcher (should) stumble across both in searching. I'll keep this in mind though, thanks for the suggestion!

[2017-02-13 00:28] satra opened #4 "turning branches on singularity hub requires additional commit to build"
after turning on branches in singularity hub for a specific project, one has to go back to the branch on github and make a new commit on that branch for the container to build.

from that point on it behaves normally, but that first instance requires an extra commit.

[2017-02-17 12:33] vsoch opened #5 "can there be a way to link other repos/branches with building singularityhub official images?"
A workaround for the requirement of one Singularity file per branch could be allowing the user to create a webhook to trigger a branch for some third repository, either hosted by singularityhub or the user.

[2017-02-21 22:08] vsoch commented on #3
link to Singularity was added, closing issue. Thanks again!

[2017-02-21 22:08] #3 closed

[2017-02-21 22:09] vsoch commented on #1
Branch building is now activated by the user on demand, closing issue. Thanks!

[2017-02-21 22:09] #1 closed

[2017-02-21 22:09] vsoch opened #6 "add view to show Github topics as tags"
a user should be able to tag a collection with field, etc, to make searching easier

[2017-02-22 03:51] alexhrescale opened #7 "Investigate more granular permissions control for membership"
This may allow more involvement from the company account when tight control over private access is needed.

I don't actually know the extent of exposure after granting private repo access from the github OAuth signup, but this uncertainty is likely a blocker at the organization level.

Thanks!

[2017-02-23 17:24] vsoch opened #8 "re-enable manual download with next singularity release"
There seems to be a bug with running the compressed images, currently. there are two errors that I can observe, and both are handled by the Singularity executable. The first is the image name (this is an image I just downloaded from the interface):

      singularity run singularity-hub-regional%2Fgithub.com%2Fpforai%2Fslamdunk%2F75c4350eacd1976ff360238f4f1adc5ffb102a3c%2F4c0b540a1627f19cb8c0e8bd6

[2017-02-23 17:27] pforai commented on #8
+1

[2017-03-17 19:13] GodloveD opened #9 "Container visualization with Krona?"
Compare this:
https://singularity-hub.org/containers/114/view
to this:
https://hpc.nih.gov/examples/rnaseq.html

[2017-03-17 19:15] vsoch commented on #9
others feedback appreciated! I am less inclined to want to use 3rd party visualizations (license issues, etc) and I'm also more a fan of simpler, less cluttered views of things. It does depend on the use case, of course. Thanks for the suggestions and feedback!

[2017-03-17 19:20] GodloveD commented on #9
License issues may be a legit reason not to use this.  The license looks pretty laid back to me, but I'm no lawyer.

[2017-03-21 10:17] TormodLandet opened #10 "Problem with "Registry: quay.io" in Singularity-file"
I'm trying to bootstrap from a docker image `quay.io/fenicsproject/dev-env:latest` like specified here:
http://singularity.lbl.gov/bootstrap-image#docker

I get an error
[code]
When using
[code]

The singularityfile is here:
https://github.com/TormodLandet/singularity-fenics-dev-env

The log is here:
https://singularity-hub.org/containers/605/log

[2017-03-21 10:54] vsoch commented on #10
The version of singularity on shub is unfortunately old, and they carry this bug that has been fixed in newer versions. The good news is that this will be fixed with 2.3 after The builders are updated! Apologies for the hassle, I will let you know when they are updated to repeat the build.

[2017-03-21 11:03] TormodLandet commented on #10
OK, thanks for letting me know! You sure are fast to respond :-)

[2017-03-21 11:05] vsoch opened #11 "when 2.3 released, update builders"
and we will still provide support for building 2.2, but will not be built by default

[2017-03-21 11:07] vsoch commented on #10
:space_invader:

[2017-03-23 09:49] TormodLandet opened #12 "Display of deeply nested folders"
The current visualization of files on https://singularity-hub.org/containers/XXX/view makes it impossible to see the contents of custom python site packages /usr/local/lib/python2.7/site-packages/* which can be interesting to see what Python packages are included in an image

Even when zooming to 80% or less the rightmost items disappear. This is true for all such deeply nested folders (Firefox, l

[2017-03-23 10:01] TormodLandet opened #13 "Manually trigger builds"
This is quite related to issue #4

It would be nice to be able to turn off automatic builds and then just manually trigger builds when needed. This would save you computational resources and save me from feeling bad when I accidentally trigger a build. I keep a dockerfile and a singularity file in the same repo. I need to first trigger docker hub build and then trigger singularity hub build when t

[2017-03-23 12:04] vsoch commented on #13
I'll definitely give this a thinking over - I agree that it's not optimal to have less power to determine triggers. A lot of users will likely be building from a docker image first, and so they would want to have those two things working nicely together. We could definitely go the manual "click to trigger way," but we also should look at having webhooks come from [Docker Hub](https://docs.docker.c

[2017-03-25 19:29] vsoch opened #14 "add reproducibility hashes generation to build"
A user will be able to view the "reproducibility hashes," meaning content hashes generated from logical subsets of files within the container. This means that a researcher can assess if a container is reproducible on the levels of replicate, identical, environment, runscript, labels, or recipe (the previous three). This is a cool idea because a researcher can decide at which level he/she wants to

[2017-03-27 15:05] markeganfuller opened #15 "Multiple containers per repo"
For HPC application teams it would be nice to have multi-container repositories as opposed to one container per repository eg:

[code]

Some thoughts on implementation:

* How to detect a def file? or just list defs in `Singularity`?
* How to deal with image size settings?
* Detecting only changed defs and only building those?

[2017-03-27 17:46] vsoch commented on #15
Hmm interesting... we could definitely have the builders "sniff" for changed files, and we could do a hash of the content to assess for changes. The issue here is reproducibility... all of a sudden one commit and build is linked to multiple images, only some of which may have changed. It also hugely increases the (almost certainty) that the builder instance would run out of disk space. It also wou

[2017-03-27 17:49] vsoch commented on #15
The other issue is uris- having one image per repo maps very cleanly to a uri, and different branches map nicely to tags for different versions. This approach would require the user to manually define some uri for each file, which makes the simple process of turning on the repo and being done turn into one that is much more complicated. Further, with the current setup, if all the metadata went awa

[2017-03-27 17:51] vsoch commented on #15
So I think my thoughts up to this point is that if we do something like this, it must have a workflow that fits cleanly into the Github flow and definition of things, and should require minimal additional variables set by the user that, given if they were lost, would be hard to regenerate.

[2017-03-27 17:58] vsoch commented on #15
Just curious - given that you might have different people maintaining the packages, what are the downsides to having a .git file in each of those directories? Eg:

[code]
That way, let's say that my HPC center really likes your python (but isn't interested in the rest) the modularity of the above approach would support forking that repo and using those definition files.

Perhaps we might think abo

[2017-03-29 09:28] markeganfuller commented on #15
Not sure about this one, but multiple builders sounds like the requirement, perhaps a builder which can trigger other builders? I'll admit I haven't investigated the code.

Perhaps something automatic like `repo/branch_or_tag/path/file_name` eg `shub://markeganfuller/singularity-containers/master/centos7-python-2.7.5.el7` ? This is pretty much how github handles files.

I'm not sure the path / nam

[2017-04-07 22:56] vsoch opened #16 "add date to manifest, and also add to container metadata (with 2.3)"

[2017-04-07 22:57] vsoch opened #17 "Updates for 2.3"
- Builders should obviously have 2.3
- Singularity Python should be updated to provide client, with a web interface with instructions, and a command line interface to compare containers
- Builder should be modified to add metadata about build to container

[2017-05-16 04:07] qobilidop commented on #1
May I ask what's the current status of supporting tags? I'm a beginner user and I might be wrong. Seems it's not on singularity hub yet?

[2017-05-16 04:45] vsoch commented on #1
Do you mean singularity hub building specific tags of Github repos? Right now we treat a tag as a branch, so for example a Singularity file in repo `vsoch/containers` and branch `development` would have uri 'vsoch/containers:development'

[2017-05-16 04:56] qobilidop commented on #1
I mean the git tags discussed above. Now I see that `refs/tags/<tag>` is already provided. Sorry for the confusing question.

[2017-05-22 03:37] mvdoc opened #18 "Typo on singularity-hub.org"
Hi,
I was checking out the singularity hub webpage and noticed a typo (Ber**E**keley), but couldn't find out the repo, so I'm opening this issue. See screenshot below

![image](https://cloud.githubusercontent.com/assets/6150554/26291728/3cb786ee-3e65-11e7-9826-a2dddbe88c76.png)

[2017-05-22 04:22] vsoch commented on #18
haha, oups, sorry about that! Let me fix that right up ... one sec!

[2017-05-22 04:29] vsoch commented on #18
That was in the footer - good catch! And even further, I had a div off so the cutest of the robots wasn't even showing! Does this look ok now?

![image](https://cloud.githubusercontent.com/assets/814322/26292654/ac0ef8b8-3e85-11e7-9981-9877bead8e97.png)

Let me know if I missed anything - sorry about the spelling error! Berkeley is one of those words it has taken me years to figure out where to pu

[2017-05-22 19:51] mvdoc commented on #18
Looks great to me (and honestly I have a hard time with the Es in Berkeley as well ;) and I love the robots 👍

[2017-05-22 20:27] vsoch commented on #18
Glad to help! Closing issue.

[2017-05-22 20:27] #18 closed

[2017-05-25 16:26] olifre opened #19 "Reduce necessary permissions on linking with github"
It seems when logging in with github, permissions to read and WRITE all my personal account data and all my repositories is requested.
I would totally be fine with read access only, which should be sufficient as far as I can see, but uncontrollable **write** access to all my repos and my profile is a bit excessive.

Is this really needed?
It's something preventing me from linking this service with

[2017-05-25 17:17] vsoch commented on #19
hey @olifte! We need write to make webhooks. Do you have other suggestions?

[2017-05-25 17:23] olifre commented on #19
Thanks for the quick reply, that already helps me to understand why it's needed.
Though, that does not explain why write is needed also for the "personal user data" on github instead of for the repositories only.

Maybe another solution could be to document how the webhooks need to look like, and let the more cautious users set them up themselves?

Also, if I compare e.g. with travis-ci, here is t

[2017-05-25 17:29] vsoch commented on #19
Thanks @olifre ! Yes I think we can definitely be more specific about permissions asked for - I'll be sure to test this out with the next version of Shub (it will be updated right after 2.3 release)

[2017-05-25 17:32] olifre commented on #19
Perfect, many thanks!
Full access to account information (including "write" for the accounts mail address - which essentially allows impersonation) is really a no-go for organizations otherwise - and it would be sad to not be able to use singularity hub just due to not-specific permissions.

Please update this issue ticket once the permissions are more fine-grained, then I will certainly link my g

[2017-05-25 17:33] vsoch commented on #19
will do!

[2017-05-26 18:12] akkornel commented on #2
Yo!

I just checked, and I don't see this problem anymore.  I checked the SSL cert, and I see the SSL cert has Subject Alternative Names set for singularity-hub.org and www.singularity-hub.org, so I think this issue has been fixed!

[2017-05-26 18:14] akkornel commented on #17
Can I add one?

• If the bootstrap fails during the `%test` portion, keep the container image anyway, so that the user can get to the container and check stuff out.

[2017-05-26 18:21] vsoch commented on #2
hehe, yes I finally figured out that I could make a little configuration file with TWO names in one schwoop! Thanks for updating this issue! Closing.

[2017-05-26 18:21] #2 closed

[2017-05-26 18:23] vsoch commented on #17
hmm, I think it would make sense to add an option to just disable the test. I wouldn't want an image to return as being successful given that test fails, unless the user specifically asked for the build with test disabled (and thus knows about this.) Would that seem reasonable?

[2017-05-27 22:35] vsoch commented on #19
This issue, when fixed, will also address https://github.com/singularityhub/singularityhub.github.io/issues/7

[2017-05-28 04:49] alaindomissy opened #20 "singularity-hub built container has an extra blank first line in /singularity and other setup issues"
I am having trouble with getting a build by singuarity-hub for the following repo:
[eclip singularity-cwl pipeline](https://github.com/YeoLab/eclip-dev)

**Building locally works fine** , with:
[code]
**Building on singularity-hub presents the following issues**
after downloading  with `singularity pull shub://YeoLab/eclip-dev:master` I notice:
1. /singularity file has a blank line at the top befo

[2017-05-28 04:55] vsoch commented on #20
hey @alaindomissy can you share the path to the repo (with build spec file?) The link above I get 404

![image](https://cloud.githubusercontent.com/assets/814322/26526201/30b65872-4327-11e7-9ef3-c34be17fce03.png)

[2017-05-28 04:57] alaindomissy commented on #20
oops... the repo was private. It is now public. Please try again:
https://github.com/YeoLab/eclip-dev

[2017-05-28 04:57] vsoch commented on #20
ah found it on shub :)

https://singularity-hub.org/containers/989/

I will take a look! Probably tomorrow because I need to have dinner. Stay tuned!

[2017-05-28 05:00] alaindomissy commented on #20
Take you time. Thank you! And `bon appetit` ! :-)

[2017-05-28 05:00] vsoch commented on #20
ah, ok. The quick answer is that not much building is going on at all - we had an early bug that would just cut given a long string, and in your latest build I see that bug:

[code]

So what is happening is that the container is building without most of your install steps. The skeleton is there ( eg runcript) but none of the actual stuff that is supposed to happen in post. The good news is that th

[2017-05-28 05:01] vsoch commented on #20
And the 404 errors are normal / expected - I probably should reduce the verbosity because of that. It just means the builder didn't find one of the optional metadata values.

[2017-05-28 05:01] vsoch commented on #20
`bon appetit!!` :plate_with_cutlery:

[2017-05-28 05:02] alaindomissy commented on #20
Oh , that's great . Could I work around the bug by having only short strings in my Singuarity file ?
Should I not have the "\" continuation  to next line for bash commands ?

[2017-05-28 05:03] alaindomissy commented on #20
`\` continuation to next line

[2017-05-28 05:10] vsoch commented on #20
It looks like it actually has to do with the length of the %post, which triggers that error, see [this old comment](https://github.com/singularityware/singularity/issues/456#issuecomment-275712614) for the issue. I encountered this myself, and the workaround I used was to put the entire %post section in a post.sh script, and have the %post section run that. And copy the post.sh into the container

[2017-05-28 05:12] alaindomissy commented on #20
Ok great... It is time to let you eat! Thank you !

[2017-06-01 23:33] mvdoc opened #21 "Cloud builder singularity-builder-2-3-50gb is not accepted, but it's in the drop-down menu"
### Error on Singularity Hub

I temporarily switched to `singularity-builder-2-2-1-50gb`, and upon reverting back to the default I found I can't, see error here:

![image](https://cloud.githubusercontent.com/assets/6150554/26704982/f4f6d040-4700-11e7-91dc-824cc8f47722.png)

### What do you think is going on?

Make sure that `singularity-builder-2-3-50gb` is among the accepted values?

[2017-06-02 00:17] vsoch commented on #21
hey @mvdoc ! I just found the bug and it will be resolved when I restart the server. It looks like the Google metadata call was having some trouble for an image, so I'm going to debug that first. I will post here when the server is restarted (fixing the above issue) stay tuned!

[2017-06-02 01:56] vsoch commented on #21
Hey @mvdoc could you give this another test? The builders are updated, as is the string error. I'm also writing up some docs that help tell the user how to update their builder, since current collections won't have it done automatically.

[2017-06-02 03:16] belledon opened #22 "Memory error"
## Link to Container Collection Log, Build, or Collection (in that order)

https://singularity-hub.org/containers/1056/log

### Behavior when Building Locally

Bootstrap completes and container is operational

### Error on Singularity Hub

[code]

### What do you think is going on?

I set the container to be 10GB which makes sense that it wouldn't load into ram for a job (assuming you are building

[2017-06-02 03:35] vsoch commented on #22
ok, I'm testing this now. Thankfully I kept a boolean variable that can turn on/off using memory for the tar - you can imagine memory is a nice solution given that you have (smaller) images and want to do quick operations with the tar, but it's not optimal for this case! I will let you know when I finish testing and update singularity-python. I think it should be able to install the updated versio

[2017-06-02 03:36] vsoch commented on #22
ok (I think) this is where it bugged out before - generating the image:

[code]
the above is generated using the (old way) which is singularity export to a file (.tar) instead of to memory, and reading as bytes.

[2017-06-02 03:39] vsoch commented on #22
oh by the way, there was one pip install that failed when I was testing, this one:

[code]

[2017-06-02 03:54] vsoch commented on #22
okey doke - the new version (with old_version=True) to not use the memory tar is uploaded to pypi! If you wouldn't mind, could you commit again to trigger a build? If it's the case that the builder updates with pip, then it should build (or at least not hit that same bug). If it's the case that I need to update the builder itself, then you'll have to give me a bit more time to do that :)  Thanks f

[2017-06-02 11:41] belledon commented on #22
Oops, sorry forgot to mention that I made another branch `chainer_v2.0` without `myavi`. I triggered both now.

[2017-06-02 11:56] mvdoc commented on #21
@vsoch it works now, thanks!

[2017-06-02 11:56] #21 closed

[2017-06-02 13:39] belledon commented on #22
All good here. The container builds!

[2017-06-02 15:08] vsoch commented on #22
Woohoo! So good to hear!! Feel free to close the issue, and please poke again if trouble arises.

[2017-06-02 15:08] belledon commented on #22
Thanks again for all your help!

[2017-06-02 15:08] #22 closed

[2017-06-02 15:10] vsoch commented on #21
woohoo! Awesome!

[2017-06-02 22:37] akkornel commented on #17
Blargh, that's a good question.

I think, as an end user, I would at least want to see the log of the failure, to help understand what went wrong.  It would also be nice if I could get ahold of the bootstrapped-but-untested image, so that I could mount it and dig into it (that's especially helpful if my tests don't output good error messages).  But, even though I would have access to the failed im

[2017-06-02 23:33] qobilidop commented on #15
I think it makes sense to implement something similar to what Docker Hub does. In Docker Hub, when doing an automated build, there is an option to set the Dockerfile Location, which defaults to `/`. This does not require extra effort from the user to turn on an automated build using the default settings, and it opens up new possibilities.

[2017-06-03 00:09] vsoch commented on #15
@qobilidop - in doing that, Docker Hub stores (in its database) that specification of the location. Given that Docker Hub was compromised, to rebuild all those image the user would need to specify that again. By making it required to put at /, and allowing for tags with other branches, this means that the Singularity Hub database could go away equivalently, and a build that is reconnected would re

[2017-06-03 05:09] vsoch commented on #20
hey @alaindomissy any updates on this after testing with the new builders?

[2017-06-04 19:02] alaindomissy commented on #20
The trick of splitting Singularity into separate setup.sh and post.sh worked like a charm with the old builders. That was great. I have now moved on to the new builder based on singularity 2.3 and returned to having a single Singularity file with all configuration into its different sections. It is working well. Thanks

[2017-06-06 17:44] alaindomissy opened #23 "latest commit id mismatch between general Container Collections page and specific collection page"
## latest commit id mismatch

### Container Collection commit ids:
**collection:**
https://singularity-hub.org/collections/161/

when searching for YeoLab/eclip-dev  https://singularity-hub.org/collections,
the latest commit id is shown as : 02a50a2d3dc7ad948242ca23a9cb976d5f879de3

**latest build**
https://singularity-hub.org/containers/1149/
has commit id: 219a210555c8d91df04eb83e3a2740d2136e281

[2017-06-06 20:29] vsoch commented on #23
hey @alaindomissy ! It was indeed a query bug - I was doing a query to get all the collections, and just returning the first in the list (which wasn't actually sorted by the date). I'm really glad that you opened this issue though, because it made me realize showing some random commit ID in the collections page isn't so useful at all for the user. Instead of just adjusting the commit, what I did i

[2017-06-06 21:19] alaindomissy commented on #23
Very nice!
I have 3 semi-related comments/questions if I may:

1) I would personally prefer an ISO format for the date if possible: 2017-04-12 instead of 4-12-2017, but may be that's just me...

2) I kind of like the github commit ids and hope they don't completely disappear from the history of builds as well. If they do, is there a way to retrieve them with singularity inspect ? Would I need toso

[2017-06-06 21:27] vsoch commented on #23
You got it! Done.

They are very important, and of course are still maintained just as before. They don't disappear at all - they are still present on all the collection detail pages. The only place I replaced them is the "all collections" view where you are browsing across collections (and there is little meaning between commit ids between entirely different repositories).

Ah, so for a particula

[2017-06-06 21:37] alaindomissy commented on #23
I should have read the docs! That's perfect. Thanks

[2017-06-06 21:55] vsoch commented on #23
great! Feel free to close the issue if we've addressed each point.

[2017-06-07 01:05] alaindomissy commented on #23
Sorry for being picky but the [date ISO8601 standard](https://en.wikipedia.org/wiki/ISO_8601) would actually be 2017-06-07 instead of 2017-6-7, in other words this format: YYYY-MM-DD :-)

[2017-06-07 01:17] vsoch commented on #23
Why don't you give a go at the correct format to use, here is the docs:

https://docs.djangoproject.com/en/dev/ref/templates/builtins/#date

[2017-06-07 01:40] alaindomissy commented on #23
:-) I think we would need {{ value|date:"Y-m-d" }}
Were you suggesting I try to make a pull request ? I would be happy to try.... but I do not know where to start to look for the code for that website https://singularity-hub.org/
Is it django based ? Thanks

[2017-06-07 01:44] vsoch commented on #23
whaaa -la!!

![image](https://user-images.githubusercontent.com/814322/26858771-47426de2-4b01-11e7-99ad-191c482ff061.png)

How's that?

Yep, Django all the way! I <3 Python!

[2017-06-07 01:46] alaindomissy commented on #23
YAY! Bravo. This seems like a great Finale. Let me close this. Thanks!

[2017-06-07 01:48] #23 closed

[2017-06-07 01:58] vsoch commented on #23
:D  It was cool to learn about that format too, I haven't ever really thought about it :) Thanks as always for your bug reports!

[2017-06-08 02:09] alaindomissy opened #24 "false alert"
never mind :-)

[2017-06-08 05:33] vsoch commented on #24
Did you update the builder?

[2017-06-08 05:33] vsoch commented on #24
lol, this was very funny! You changed it to "false alert" and it sort of made my day, because I was just about to head home (but going to check this first).

[2017-06-08 05:33] vsoch commented on #24
and now I can go home!! :D

[2017-06-08 14:09] alaindomissy commented on #24
:-)

[2017-06-08 14:09] #24 closed

[2017-06-08 14:12] alaindomissy commented on #20
T

[2017-06-08 14:12] #20 closed

[2017-06-08 16:36] gnperdue commented on #19
I'd like to second the requests made in this issue - it is unsettling to give over so much access.

[2017-06-10 22:17] vsoch commented on #19
just to update you guys - this will definitely be the case for the next version of Singularity Hub. I completely agree on all points.

[2017-06-14 18:15] akkornel opened #25 "Singularity 2.3 builders error when doing a yum bootstrap"
## Link to Container Collection Log, Build, or Collection (in that order)

https://singularity-hub.org/containers/1252/log

### Behavior when Building Locally

(In my case, "Locally" means in an Ubuntu 16.10 VM running via Virtual Box on my Mac, using Singularity 2.3)

The build completes successfully!

### Error on Singularity Hub

RPM database is using a weird path: %(bash -c 'echo ~/.rpmdb')

#

[2017-06-15 01:35] vsoch commented on #25
hey @akkornel ! Like we talk about, this will go away if you use the docker image for the same OS. If you are worried about version, then you can specify a particular digest (tag or sha digest). I think if your goal is reproducibility, it would be wise to choose a base bootstrap that doesn't have potential errors based on the configuration of the host, which is what we've seen with this kind. I ca

[2017-06-15 23:06] akkornel opened #26 "Build failing (Docker, Fedora 25 base image), but I can't find a reason"
## Link to Container Collection Log, Build, or Collection (in that order)

https://singularity-hub.org/containers/1343/log

This is a bootstrap using the Docker method, based on Fedora 25.  I use the `%setup` section to copy the working directory into the container image.  I use the `%post` section to install packages, and to call `setup.py` (the source repo is a Python distribution).  I also have

[2017-06-16 18:04] dbgannon opened #27 "hub failed build with centos-7 container"
Hi,
sorry i did not save the repo with the failed build (i did not want to clutter your space with my failures) but here is the Singularity file:

BootStrap: yum
OSVersion: 7
MirrorURL: http://mirror.centos.org/centos-%{OSVERSION}/%{OSVERSION}/os/$basearch/
Include: yum

%runscript
    echo "This is what happens when you run the container..."

%post
    echo "Hello from inside the container"
    y

[2017-06-16 18:08] vsoch commented on #27
hey @dbgannon ! We have quite a bit of trouble with yum bootstraps because there can actually be errors given a mismatch of the package manager on the host, or some missing modules file for it. The first thing I would try is using the same OS but from a Docker image. Let me know if that resolves the problem!

[2017-06-16 18:30] dbgannon commented on #27
Hi Vsoch.  That sounds like a good solution.   i'll try it when i have time.  the version i built from a docker image based on  ubuntu worked fine.
dennis
ps: i am working on a chapter to add to our book https://Cloud4SciEng.org about Singularity.  I'll certainly recommend building from a docker image there.

[2017-06-16 18:31] vsoch commented on #27
super cool! Definitely let me know if you want any help, I love writing things :)

[2017-06-16 18:37] dbgannon commented on #27
How about if i send you a copy of the chapter for comments, corrections and edit?  I will, of course, ack your help.  if interested, send me an actual email address and i'll send a copy your way.   or i may just send you a github repo link.

[2017-06-16 18:47] vsoch commented on #27
That would be great! I'll send you an email so you have my contact.

[2017-06-21 02:53] vsoch commented on #11
this is done, phew.

[2017-06-21 02:53] #11 closed

[2017-06-21 02:54] vsoch commented on #5
this is going to be resolved by allowing multiple images per repo, closing

[2017-06-21 02:54] #5 closed

[2017-06-21 02:55] vsoch opened #28 "generate view for users (with associated registry) to select registry repo"

[2017-06-21 02:58] vsoch commented on #17
@akkornel I'm going to close the issue - the `%test` bit can be controlled by the user, and the others are all set. Feel free to open again if I'm missing something.

[2017-06-21 02:58] #17 closed

[2017-06-21 02:59] vsoch commented on #13
@TormodLandet - if this would be an option for a local registry, would this satisfy this need? If so, I'll add the issue to the milestone for version 2.0 of singularity hub, and if not I can think more about this.

[2017-06-21 03:00] vsoch commented on #15
@markeganfuller just for an update - this is going to supported for registries (eg, HPC centers) to maintain a setup (almost just like) the one you provided. I just added the milestone, no ETA but it's in the works!

[2017-06-21 03:03] vsoch commented on #10
hey @TormodLandet can you try this out again? The builders are updated to 2.3 - although check out this issue as I've found a bit of inconsistency with downloading quay layers [see here!](https://github.com/singularityware/singularity/issues/749)

[2017-06-21 03:05] vsoch commented on #8
@pforai I was going to close this issue, because you can easily pull a container with singularity command line, like

[code]
And further, the software handles de-compressing the file, which isn't obviously necessary to do, and the command isn't something that users are likely to get right the first time. Do you see any rationale for still needing this?

[2017-06-21 03:15] vsoch opened #29 "singularityhub organization should provide registry images template to start with"
ideally, the simple folder structure with build files could dynamically render into a simple (static) API that is built on pushes (jekyll maybe?) I need to think more about this.

[2017-06-21 11:19] TormodLandet commented on #13
I think it would be best to have it available both places, but feel free to down-prioritize this, it is not critical, but just quite nice to have :-)

[2017-06-21 11:26] TormodLandet commented on #10
Closing this since Quay is now supported in v. 2.3. I have not tested on my specific example as I had to leave the idea of using the [FEniCS docker containers](http://fenics-containers.readthedocs.io/en/latest/) directly since they store quite some data in the home directory.

BTW: I made [this tutorial](http://folk.uio.no/tormodla/singularity/) that will be used internally at the math department

[2017-06-21 11:26] #10 closed

[2017-06-22 16:07] fac2003 opened #30 "out of space errors are ignored, container shows as complete on hub UI"
I had a problem where the hub container appeared complete, but the %post section had not run (directories created in / by post did not exist in the image). After inspection of the Hub container building log, I realized the container construction ran out of storage (they were several mentions of this occurrence in the log). These errors were ignored and the container appeared built on the UI, this

[2017-06-22 16:10] fac2003 commented on #30
You can find an example of this here:
https://singularity-hub.org/containers/1406/log

INFO:shub_builder:Checking out branch master
Already on 'master'
Your branch is up-to-date with 'origin/master'.
INFO:shub_builder:Checking out commit 8336d1ffac6e1dc6a9f76c0cac51815547d1310b
INFO:shub_builder:Found spec file Singularity in repository
DEBUG:shub_builder:Building in directory /tmp/tmpd_4yb0l7
DEB

[2017-06-22 16:20] vsoch commented on #30
Hey @fac2003 ! This is unlikely to be the instance, but the container itself. Try setting the size to a larger one in build settings and see if it completes. The reason it is deemed to be ok is because the extracted files don't seem to influence some kind of image being successfully built, which runs with a simple ls command.

[2017-06-22 16:31] fac2003 commented on #30
Thanks for the tip. It's a problem that you can't trust the image was successfully built by just looking at the UI. S
In this case the %post statements never ran, that seems a bit strange to consider it successful.

[2017-06-22 16:53] vsoch commented on #30
I can't implement a test that is general enough to fit all containers - but there is a solution! This is exactly why we have the `%test` section - you can write tests and it will fail if they don't pass. Do you want to give it a try?

[2017-06-22 17:46] fac2003 commented on #30
Thanks, I am trying this now. The documentation of the %test section is lacking in specifics. I assume  returning a non zero status is an error code, but I would have liked this written in the doc (http://singularity.lbl.gov/docs-bootstrap).

[2017-06-22 17:46] #30 closed

[2017-06-22 18:06] vsoch commented on #30
Definitely! Here is the (probably lacking) test section - http://singularity.lbl.gov/docs-bootstrap#test if you have specifics you are wanting to add, I'd be happy to tweak! I think that's about the extent of what test is, so it's all that I wrote :P

[2017-06-22 18:11] vsoch commented on #30
I added some docs here https://github.com/singularityhub/singularityhub.github.io/wiki/Generate-Images#add-tests to make it easier to find this information as well, at least the bits relevant to Singularity Hub!

[2017-06-22 19:07] dbgannon commented on #27
Hi Vsoch,
never heard back from you.  I finished a draft of my chapter section on Singularity and the Hub.  If you are interested in commenting or adding, it is here: https://cloud4scieng.org/singularity-a-container-system-hpc-applications/.   the page is visible but not yet linked from the main site.   There is a markdown version of the text if you want to edit it directly.  it is on github at Sc

[2017-06-22 19:20] vsoch commented on #27
Hey @dbgannon ! Did it maybe go to spam? I did send you a note right away:

![image](https://user-images.githubusercontent.com/814322/27451783-28aee34c-5745-11e7-8557-27dba6d49a01.png)

I'll take a look right away! Let me know if you find me in spam.

[2017-06-22 22:40] vsoch commented on #13
I agree. I'll see what I can do ::)

[2017-06-23 23:09] matteosecli opened #31 "AsciiCast should be hosted on asciinema.org"
Hello, I've uploaded an AsciiCast here: https://singularity-hub.org/demos/3/

However, when clicking "Play" the player loads for an infinite time. I tried a
[code]
and indeed I get a `502 Bad Gateway` error.

[2017-06-23 23:45] vsoch commented on #31
hey @matteosecli ! Yes I received this error in the log - could you send me the asciicast file you used to debug? The error was that the json is invalid, so I want to step through it and see how it can be best resolved. Thanks!

[2017-06-24 07:38] matteosecli commented on #31
Yes, of course! Forgot to include it! :smile: Here it is: https://asciinema.org/a/QmcJjkdtm80BeReOSS5euw8WU. It plays just fine on Asciinema's website.
I had a suspect about the invalid json, so I was looking for an option to delete the AsciiCast and download/upload it again, but I couldn't find one. Is there any way do delete an AsciiCast?

[2017-06-24 08:32] vsoch commented on #31
hey @matteosecli - I took care of deleting it for you - it didn't actually find the file on the server! I think there is likely a but wrt the saving - Let's hold off for now and if you don't mind, we can use asciinema.org to host it. What I think I want to do for 2.4 is embed them from there (versus saving the files on the shub server). I'll add this to the milestone for the next release, sorry fo

[2017-06-24 13:38] matteosecli commented on #31
No worries, for me it's ok!

[2017-06-27 03:14] HenrikBengtsson opened #32 "End usage instructions hard to find"
I've looked through https://singularity-hub.org/ and it looks like the documentations / instructions are geared toward developers and maintainers of containers, but not to end users.  Because user are likely to find SingularityHub containers via a search engine, I think one could lower the "get-started" threshold significantly if there were usage instructions for each container on the SingularityH

[2017-06-27 04:03] vsoch commented on #32
oh I really like this idea! Yes huge +1 :) There is a commands section that lives with the container:
![image](https://user-images.githubusercontent.com/814322/27570415-f114cc46-5acb-11e7-8ec0-f53649a4ef51.png)

But methinks it should be moved up one level to be at the level of the collection, and fixed per your suggestion. I don't see a ton of use cases for which the running of containers would d

[2017-06-27 04:31] HenrikBengtsson commented on #32
Ah...a.  I had a vague memory of having seen that way back, but then I really click-click-click-clicked around and couldn't find it.  So, yes, it's not obvious that one need to click on the green "COMPLETE" status to find the "Commands" tab, especially since there are other buttons / icons to the far right.   I would certain vote for promoting those commands being available on the front page of ea

[2017-06-27 16:54] vsoch commented on #32
hey @HenrikBengtsson ! I just made these changes to the next version, so you should expect to see them there. Thanks for the suggestion! I totally agree, the usage needs to be seen up front.

[2017-06-27 17:23] HenrikBengtsson commented on #32
Awesome. Thanks for your prompt replies and the awesome hub service.

[2017-06-29 08:42] remyd1 opened #33 "Create an image security scanner"
Hi,

This issue is not a bug, but a feature request.

Some registries like quay.io allows users to scan images for vulnerabities. You can have an example [here](https://quay.io/repository/quay/redis/image/54da947db59aafbbc0f691c96d6d3eedabb123628e2268662e0eedd875603c8f?tab=vulnerabilities)

I think it is using [clair](https://github.com/coreos/clair) from CoreOS.

Best regards,
Rémy

[2017-06-29 08:56] remyd1 opened #34 "Upgrading all images from a registry"
Hi,

This is not an issue but a feature request. The main idea is to add the possibility as a registry admin, to upgrade all images from a registry and check logs for any problem, or at least, container by container (or with a scheduler).
Container by container would be as easy as `singularity exec $IMG yum update` or `singularity exec $IMG "apt-get update && apt-get dist-upgrade"`. For all contai

[2017-06-29 13:12] vsoch commented on #34
you got it! Could you put this in the [registry repo?](https://github.com/singularityhub/singularity-registry/issues) I should be starting management / logging commands soon :)

[2017-06-29 13:14] vsoch commented on #33
Definitely agree! [Here is a post](https://banyanops.com/blog/analyzing-docker-hub/) from a while back to start from. I think this would be good functionality to add to the builder.

[2017-06-30 12:32] apeltzer opened #35 "Can not pull Container"
## Link to Container Collection Log, Build, or Collection (in that order)

https://singularity-hub.org/containers/1560/

### Behavior when Building Locally

Works fine :-)

### Error on Singularity Hub

Works fine, too!

### What do you think is going on?

I tried pulling with the commands specified, but only the one with the ID worked fine.

[code]

Error Messages:

``
singularity pull shub://ape

[2017-06-30 13:17] apeltzer commented on #35
Dont know why, it works now.

[2017-06-30 13:17] #35 closed

[2017-06-30 13:31] apeltzer opened #36 "Building does crash"
## Link to Container Collection Log, Build, or Collection (in that order)

https://singularity-hub.org/containers/1569/log

### Behavior when Building Locally

Works fine like this:

`
sudo singularity create --size 3000 eager.img
sudo singularity bootstrap eager.img Singularity
`

### Error on Singularity Hub

errors in building, files are there - it just seems to fail at some point and I can't c

[2017-06-30 15:51] vsoch commented on #36
hey @apeltzer ! The log linked above is a 404 for me - do you have a link to one?

[2017-07-01 16:54] vsoch opened #37 "labels as own model"
we would want users to be able to add a label to a container, and then filter to those containers via an api endpoint (to retrieve some set relevant to the application represented by the label)

[2017-07-02 18:35] vsoch opened #38 "when pulling image, filter out latest if image doesn't exist yet"
derp a derp!! Thanks

[2017-07-02 19:59] vsoch opened #39 "improve search interface"
currently all containers are returned. Container collections should be returned, and the user browses containers from there.

[2017-07-03 10:47] apeltzer commented on #36
Fortunately, this resolved itself somewhat. If I come back to such an issue, I will let you know (and close this for now)

[2017-07-03 10:47] #36 closed

[2017-07-03 13:05] vsoch commented on #36
Thanks! I think the issue is making available an image that isn't done building yet, which should fail nicely (and doesn't). I did a PR to Singularity to return a more proper error message, and will have the same for the next version off the hub. Thanks for reporting!

[2017-07-03 13:28] vsoch opened #40 "tree visualization needs better dealing with overflow"
setting svg width to 100% resolves up to the column width, but then we can't see the nodes. Likely need to allow scrolling, or smooshing the tree to the left.

[2017-07-03 21:08] vsoch commented on #40
okay, I have a good working example for this on the current version, mimicked here:

![image](https://user-images.githubusercontent.com/814322/27807920-357b437e-6012-11e7-8496-b7f570c64232.png)

the files are moved below the visualization, so the user can navigate and still see them. Likely on larger screens (mine is tiny) you would have both easily in the same window.

[2017-07-04 21:05] vsoch commented on #19
hey @olifre ! How does this level of permissions look?

![image](https://user-images.githubusercontent.com/814322/27842763-dcd15a32-60da-11e7-8e5a-e787c13c346f.png)

The webhooks and commits do not give code access, and the account information is also read only. Would this be suitable for your group?

[2017-07-04 21:06] vsoch commented on #7
hey @alexhrescale how does this look?

![image](https://user-images.githubusercontent.com/814322/27842785-01d7bf1a-60db-11e7-8d9a-5ca30d9cab17.png)

This would be for the next version I'm working on now. It gives no direct code access, but the webhooks to know when the user commits should still work, along with making an account associated with the user email.

[2017-07-04 21:14] olifre commented on #19
hey @vsoch ! This looks **significantly** better, I believe that's acceptable.
Just to make sure, let's ping my colleague @wiene .
Does the last permission imply that Singularity Hub also provides feedback for commits integrated in Github, i.e. "container build worked"? That's a cool feature!

[2017-07-04 21:56] vsoch commented on #19
The commit status part may not even be necessary, likely being able to create (and then receive a webhook is sufficient) but I'm testing that one out to see what kind of cool stuff could be possible :)

[2017-07-05 02:17] vsoch commented on #26
@akkornel is this still an issue?

[2017-07-05 02:18] vsoch commented on #27
hey @dbgannon is this issue resolved?

[2017-07-05 02:21] vsoch commented on #9
hey @GodloveD do you still have strong feelings about this? I'm still liking the simple container tree better, and for the new shub I have added better dealing with overflow:

![image](https://user-images.githubusercontent.com/814322/27846641-e6a013f6-6106-11e7-8e5e-ff890856fc60.png)

The krona looks really cool, I'm just not convinced that it's easy to get information from (akin to a pie chart).

[2017-07-05 08:51] apeltzer commented on #13
Bumping on this - this would be indeed a great feature.  I don't always update the main project with my Singularity file in it, as it pulls in other dependencies when building the container image, so manually triggering these would be best for my use case. I think I could live with both (local registry vs yours), but I think its a good feature for both cases!

[2017-07-05 14:13] GodloveD commented on #9
Hi @vsoch!  No I don't have strong feelings one way or the other about this.  I basically just got really excited about Krona when I first discovered it and thought it might be a good way to display all the things.  But in truth, if a user wants to display the contents of their container with Krona it is just a single command, so I don't know if it is necessary to do it via the shub.  Feel free to

[2017-07-05 19:27] vsoch commented on #13
hey @apeltzer I've been thinking over this, let me describe what I have in mind, and if it would fit with your workflow!

## Singularity Registry
A registry would be optimized for building locally, with only occasional pushes to Singularity Hub to make a latest image available for users outside the institution. This is important to note because the registry will have a trigger command that comes d

[2017-07-08 02:38] vsoch commented on #32
okay here is how the view is! I added a nice copy paste functionality too :)

![copycommands](https://user-images.githubusercontent.com/814322/27981975-c9f8aa0a-6364-11e7-8cfb-096eced5907d.png)

and this is linked directly from the main collection page, notice also some of the buttons are more logically grouped so it won't be as cluttered.

![image](https://user-images.githubusercontent.com/814322

[2017-07-08 02:40] vsoch commented on #31
hey @matteosecli ! Just wanted to give an update on this - the new version is done, so will be live in the next release. The asciinema are now hosted directly from asciinema,org so we don't risk losing them on the shub server, which is what seemed to be happening with yours.

![image](https://user-images.githubusercontent.com/814322/27981999-40b30280-6365-11e7-8d5d-d04754be72b8.png)

[2017-07-08 03:14] vsoch commented on #7
I'm going to close this issue in favor of #19 , the change is done and will be in the next release. Thanks @alexhrescale !

[2017-07-08 03:14] #7 closed

[2017-07-08 03:15] vsoch commented on #12
This is fixed and will be in the next release - see #40 I'm going to close this issue in favor of that one, thanks @TormodLandet !

[2017-07-08 03:15] #12 closed

[2017-07-08 03:16] vsoch commented on #9
Okay, closing this issue! I am going to keep thinking about some new visualizations :) I hope you do too!

[2017-07-08 03:16] #9 closed

[2017-07-08 03:17] vsoch commented on #6
We can grab these from the Github API

[2017-07-08 04:08] vsoch commented on #6
making progress!
![image](https://user-images.githubusercontent.com/814322/27982534-8aa0745c-6371-11e7-9416-2b19dda2ada3.png)

[2017-07-08 05:55] HenrikBengtsson commented on #32
Thxs - that looks great.  When do you think you roll it out?

[2017-07-08 11:18] vsoch commented on #32
No idea - but reasonably after I get back from the conference next week, I'll likely want a few more weeks for singularity hub, and then a handful for the registry. I'd say sometime late August or early September is likely. I'd rather have it robustly tested with all the bells and whistles that are wanted vs. not before making the switch from the current!

[2017-07-08 12:03] apeltzer commented on #13
Currently my developmental model is as follows:

I work on updated applications, test them (real data, simulations and also some JUnit tests) and then would like to update the images. The current situation does not allow me to trigger a build after my tests - its just able to trigger a build whenever I commit to one of my repositories. Ideally I could have a webhook in Jenkins CI, that is then tri

[2017-07-08 12:37] vsoch commented on #13
cool! So a circle/travis webhook would fit the bill?

[2017-07-08 12:39] apeltzer commented on #13
I'm using Jenkins CI, but I guess this is also possible to integrate with. In the worst case I could simply set up a shell command and trigger manually with curl or something.

I think that should work yes!

[2017-07-08 13:25] matteosecli commented on #31
That looks great! Looking forward to the next release! :smiley:

[2017-07-08 15:04] vsoch commented on #13
hey @apeltzer - do you know if Jenkins is able to send a deployment status back to GIthub on successful build? If so, I could use this webhook -->https://developer.github.com/v3/activity/events/types/#deploymentstatusevent This would actually be a much more extendable solution than implementing each service separately, since (I think?) they all might be sending back the statuses. The concern I hav

[2017-07-08 16:26] vsoch commented on #6
![image](https://user-images.githubusercontent.com/814322/27987266-ae56d050-63d8-11e7-9b53-79c18bf9116d.png)

[2017-07-08 19:09] vsoch commented on #13
ok this will need testing once I get it in a cloud, but now there is a setting that will change the build to check for the deployment status (instead of the commit):

![image](https://user-images.githubusercontent.com/814322/27988423-5fee9ce2-63ef-11e7-8168-e0931c74a849.png)

[2017-07-08 20:25] HenrikBengtsson commented on #32
Sounds good - no rush.

[2017-07-08 22:04] vsoch commented on #39
okay this is much improved:

![image](https://user-images.githubusercontent.com/814322/27989486-a91876e6-6407-11e7-9e12-7620d15543fd.png)

the containers aren't searched, but rather the collections. The most relevant information that the user might want is returned - including tags (clicking takes to other containers tagged similarity) the collection itself with containers, and the Github repo. @a

[2017-07-08 22:06] vsoch commented on #39
one more tweak - having the collection name twice is sort of redundant, so I changed it to be the container count:
![image](https://user-images.githubusercontent.com/814322/27989513-31038780-6408-11e7-9c93-57c66d87a945.png)

[2017-07-08 23:09] vsoch commented on #6
and "all tags" view:

![image](https://user-images.githubusercontent.com/814322/27989831-f09e3312-6410-11e7-9580-059364f3af23.png)

[2017-07-08 23:19] vsoch commented on #6
single tag view (clicking the above) shows the associated collections:

![image](https://user-images.githubusercontent.com/814322/27989870-f5d113bc-6411-11e7-93f1-c4ac5b8931ee.png)

[2017-07-09 04:12] alaindomissy commented on #39
This is much better. But I am still unsure when should people use the magnifying glass to to a search, and when they should click on "Containers" and fill up the "Enter keywords here" box. Why not lead to the same   page and display output in the same format ? The "Containers/Enter keywords here" page seems much nicer and more useful to me. Am I missing something ? If the 2 searches are indeed dif

[2017-07-09 04:19] vsoch commented on #39
The box under "Containers" isn't a search implemented by the back end server, it's just a filter of the table. That makes sense to me to be where the user goes when he/she is generally browsing, first. Then when looking for something specific (and wanting to search via the server) that is when you would want to use the actual search.

[2017-07-09 08:56] apeltzer commented on #13
Looks good to me - I'll check how Jenkins can integrate with this, but am really sure it can do that. I know that there is full github support anyways .

[2017-07-09 12:28] alaindomissy commented on #39
OK. So what  showing "Filter" before the "Enter keywords box" the Containers page.
Aldo what about including the "Type in a query string to search for containers" Search box directly in the many bar next to the magnifying glass icon?
My experience has been that I was using the containers page for all my searches and I did not notice the magnifying glass for a long time until a student mentioned sh

[2017-07-09 15:06] vsoch opened #41 "add stars for favorites and ranking"
the user should be able to star a collection, or find containers based on rankings

[2017-07-13 23:00] vsoch opened #42 "builds should/might be done by estimating size in %setup"

[2017-07-18 20:21] sven1103 opened #43 "Manual release/version tagging for containers"
More a feature request than an issue :)

Created my first Singularity container today and build it on singularity hub. I wondered, if there is a mechanism to manually tag a certain version of a container, like a release tag "v1.0" or so.
Currently, as I understood it, the git branch name is used as the tag in the container collection overview?

I normally would have a release branch and tag releas

[2017-07-18 20:28] vsoch commented on #43
hey @sven1103 ! I completely agree, and this is actually already implemented in the next release, and it will look like this --> https://singularityhub.github.io/singularity-registry/user/registry-flow.html#github-for-version-control. Basically, you will be able to have multiple tags per repo, determined by the extension of the Singularity file.

[2017-07-18 20:48] sven1103 commented on #43
hey @vsoch, thanks for the fast response!

But I am thinking, if it is a good idea to have singularity files with different tags that live within the same git snapshot. At least in my humble opinion. I mean, I am using GitHub features like 'release' or 'tag' extensively, as this gives you full control about the content of a certain snapshot of the repo. If you have different tags in the filename,

[2017-07-18 20:56] vsoch commented on #43
Github tags are up to you, different from a tag for the container. For example, for docker the tag `ubuntu:latest` doesn't coincide with some tag in the Github repo called "latest."  My preference is to have one Github commit with one image, but this is in response to much feedback that people want to be able to store multiple tags (eg, gpu version, cpu version, dev version) in a single folder. Yo

[2017-07-18 21:44] sven1103 commented on #43
But how would you reference a certain version of a shared Singularity container within a production workflow environment? Especially if you pull from Singularity hub? If you pull `shub://sven1103/analysis:cpu`, the container status will change over time.

[2017-07-18 21:53] vsoch commented on #43
The same as it works now, if you ask for a tag, it returns the last build of the tag. If you want more specific than that, you ask for the commit id. In the new version I'm not going to be saving every single commit unless the user "freezes" the container specifically - so the tag will always return the last successful container built from the repo with the tag. Tag != "I am tagging this specific

[2017-07-18 21:54] vsoch commented on #43
And the way I would probably do it is akin to having master/development branches on github, always one tag called "production" so for the workflow you always use `shub://sven1103/analysis:production` and only update when necessary.

[2017-07-18 21:56] vsoch commented on #43
if you disagree, then this might be a good issue to bring up with others on slack.  it's an important enough detail that we should get it right.

[2017-07-19 06:07] sven1103 commented on #43
hey @vsoch, thanks for your feedback. I agree, Slack would be a good place to get some other impulses/ideas referring this issue :)

[2017-07-20 22:09] vsoch opened #44 "think about enabling adding collaborators to repos"
but must have organizational write access.

[2017-07-20 22:11] vsoch commented on #44
the workaround for now is to manage entirely via Github - this is from a user:

1. I made him an owner in the organization so he didn't have to request access
2. I revoked my personal access
3. He revoked his personal access
4. We both logged out (of singularity hub)
5. He logged in, was given a page requesting access to `fermi-lat`, he granted it
6. He was able to add the container repo at that p

[2017-08-02 20:57] vsoch opened #45 "builder should check exit code to determine status success/fail"

[2017-08-02 20:58] vsoch commented on #45
I think something might be broken then. The failures I see are non-0 exit codes. For example:

https://singularity-hub.org/collections/363/

and specifically:

https://singularity-hub.org/containers/2267/log

In the log:
[code]

But the build still is marked as "Complete".

If you want to try the same one, the Singularity file is very simple: https://github.com/rynge/hub-test/blob/master/Singulari

[2017-08-02 20:59] vsoch commented on #45
this is logical behavior given the current way the image is checked, but should be changed to check the exit code instead.

[2017-08-09 05:30] stebo85 opened #46 "container build already running since 7 days and doesn't finish or give error"
## Link to Container Collection Log, Build, or Collection (in that order)
https://github.com/CAIsr/singularity-minc-v2-develop
https://singularity-hub.org/collections/352/

### Behavior when Building Locally
the build works perfectly and everything works as expected

### Error on Singularity Hub
the build does not finish

### What do you think is going on?
the download of external packages might b

[2017-08-09 05:45] vsoch commented on #46
I think this build got lost in a server restart - the instance finished, sent the response, and it was not fully received (meaning the builder is done / gone but the main application not updated). Would you mind canceling, and committing again to restart? Also, it looks like your %files section in your Singularity spec file is empty!

[2017-08-12 13:08] vsoch commented on #46
hey @stebo85 - I see that it's building again, and from what I can tell the instance is active, possibly running out of memory / space because I'm unable to shell into it. I notice you build the entire revusive clone of submodules:

[code]

I was looking at the [number of installs](https://github.com/BIC-MNI/minc-toolkit-v2) and compiles needed for this and  **holy crap** no wonder it is taking 7

[2017-08-12 15:40] yarikoptic commented on #46
Hi @vsoch
Found this one so decided to comment on instead of breeding a new one.  I have a build which runs already for > 12h, and typically here locally it takes just an hour or so:  https://singularity-hub.org/collections/67/

I guess if there was some way to see build logs of the RUNNING build -- it could help identify why it is stuck and cancel it in such cases, instead of pestering you ;)

[2017-08-12 16:11] vsoch commented on #46
It must be due to calculating the size - have you timed it when providing a size so it doesn't need to estimate?

[2017-08-12 18:42] yarikoptic commented on #46
oh -- I didn't ... I guess I will need to read on that ;)

[2017-08-12 19:28] yarikoptic commented on #46
tricky point -- "Image size:?" does not give idea in what units to specify -- MB, GB?  I will assume it is in megabytes so will say 12000 to be on a safe side.

[2017-08-12 20:27] vsoch commented on #46
ah yes, same convention as with singularity. I'll make sure to have this specified for next release!

[2017-08-12 21:08] vsoch commented on #46
okay, change is in!

![image](https://user-images.githubusercontent.com/814322/29244229-df774fca-7f80-11e7-8a42-e360dbc4672b.png)

[2017-08-14 04:49] yarikoptic commented on #46
even with specified size, and toggling some debug output somewhere is settings it is still "Running" since Aug 12 (https://singularity-hub.org/collections/67/)

[2017-08-14 05:02] vsoch commented on #46
Here is the full log, for neurodebian I was actually able to shell into the instance. You mean to use singularity 2.2? also, I noticed that

[code]

and then it just stops. There doesn't seem to be any activity:

![image](https://user-images.githubusercontent.com/814322/29258910-a1a502f8-8072-11e7-86cc-1de43c55873e.png)

here is disk usage:

[code]
there seems to be an image... but it's doing some

[2017-08-14 15:44] yarikoptic commented on #46
I thought we are all using singularity 2.3.1 everywhere now, so not sure about 2.2 questions

that "Device or resource busy" -- may be related to https://github.com/singularityware/singularity/issues/471 ?

re stuck one -- when I run locally, I am getting a bit more verbose output (I wonder why you don't have those outputs from having 'set -x' which I though singularity ? sets):
http://www.oneruss

[2017-08-14 17:22] vsoch commented on #46
If you want to change the builder to 2.3.1, it's up to you the collection owner to do so!  maybe try that?   it's a setting under the collection builder settings

[2017-08-14 17:27] yarikoptic commented on #46
Ah I didn't realize it was configurable and expected the most recent and greatest to be used, at least by default. I will give it a shot

[2017-08-14 18:17] vsoch commented on #46
sounds good! I would also change it to specify the larger of the two instances. Let me know if/when it's hanging and I'll go in to investigate.

[2017-08-15 15:55] yarikoptic commented on #46
@vsoch would you be so kind to check current logs for the https://singularity-hub.org/collections/67/ which is Running since yesterday I believe. probably stuck again -- would need to figure out why

[2017-08-15 17:01] vsoch commented on #46
ah I think the bug is revealed! There is something in your build process that is cleaning up tmp. The problem is that /tmp is where the image is being built, and where the repo is cloned, etc, so when you delete it you stop everything. The offending line is [here](https://github.com/neurodebian/neurodebian/blob/master/Singularity#L67) andere is the log in full:

[code]

It's pretty common to do th

[2017-08-15 17:10] yarikoptic commented on #46
holy guacamole... in principle nothing should cleanup /tmp that aggressively,  silly me just picked up the "way to to things" from elsewhere while installing there bids-validator ;)  indeed, building outside of /tmp though would be a good way to avoid such gotchas.  Thank you @vsoch .  I will stop/fix/push and see how it goes with a new one

[2017-08-15 17:19] vsoch commented on #46
Eggcellent! Let's hope for a good build :)

[2017-08-15 17:20] vsoch commented on #46
and +1 guacamole! :avocado: :avocado: :avocado: :heart: :heart: :heart:

[2017-08-17 15:32] yarikoptic commented on #46
woohoo @vsoch -- it built! and seems to run fine!  thanks for all the help

[2017-08-17 15:45] yarikoptic opened #47 "[wishlist] ideal way to store "version""
There is currently
[code]
so we know the version of the singularity was used but I don't think there is a way to determine within the container which version of the repository was used.  Ideally I would like to see a version which would be based on the "git describe --match=sing-*" output, so I could tag versions of the singularity definition, but then even if it changes without tagging, I would g

[2017-08-17 15:52] yarikoptic commented on #47
ideally it should get integrated somehow with version in the image filename:
[code]
so that it could be  neurodebian-neurodebian-2.2-1-g51e579c.img  instead? my point is that image is re-generated, users wouldn't know which one they are actually using -- not good for reproducibility

[2017-08-17 16:48] vsoch commented on #47
@yarikoptic is it not sufficient to have it represented as a label? Eg: `2.3-master.gf737013` --> `[singularity-version][branch][commit start]`

[2017-08-17 16:49] vsoch commented on #46
woooho! No problemo.

[2017-08-17 17:27] yarikoptic commented on #47
it is not sortable, it is not understood by git

sortable: Would be impossible to figure out which one is "later".
Sure thing, because of the possible branches, comparison by # of commits since last one would not necessarily be correct across branches, but since you are specifying the branch -- it makes it nice and dandy.  So ideally, it should have been 2.3-2-master-gf7370131

understood by git:

[2017-08-17 17:43] vsoch commented on #47
why don't you just pull with the name by commit command?  try pull --commit and see pull --help for details.

[2017-08-17 19:05] yarikoptic commented on #47
those options are indeed nice to have, BUT require user to know the commit.  What I am aiming at is for naive user to not get mixed up -- do the pull, run some analysis using one version, then do pull again, run another analysis using another version without realizing that now he is using another (which ?) version of the image.  Having an explicit version (may be based on another cmdline switch) w

[2017-08-17 19:28] vsoch commented on #47
The user doesn't need to know the commit! For example, here is the standard way of pulling:

[code]
Now let me grab the image but name it by the FULL commit, without needing to know in advance:

[code]
What Singularity Hub can do is provide an easy way to ask for containers that pertain to a specific version. If you want customizability of this you can use the API (or the wrapper in Singularity Py

[2017-08-18 03:40] yarikoptic commented on #47
I misunderstood its meaning -- I thought it was to request an image for that commit. Cool.

for that I guess I should generate a singularity definition file with that version.  I feel that we want to avoid that and have it done within %post ?

that is the question -- how to do that "the best way" and to which variable?  I guess I could always just dump it to some file and then source it within %ru

[2017-08-18 04:55] stebo85 commented on #46
I tried building the minc singularity build based on the docker minc https://hub.docker.com/r/simexp/minc-toolkit/ but unfortunately the graphical applications then do not work and I haven't found a way of fixing this :(
register: error while loading shared libraries: libGL.so.1: cannot open shared object file: No such file or directory

Do you have any idea how I could get the build to work on th

[2017-08-18 05:08] vsoch commented on #46
hey @stebo85 - have you tried just bootstrapping that image? If you could provide the steps (singularity definition or commands to reproduce your work thus far) it would be useful to help.

[2017-08-18 12:18] stebo85 commented on #46
hey @vsoch. I got it working now :) I built an image based on the deb packages instead of starting from the source code and this works nicely - even with applications that rely on OpenGL. Thank you for your help. Cheers.

[2017-08-18 14:49] vsoch commented on #46
phew that is so good to hear! I've also had more luck taking that approach. I'm going to close the issue.

[2017-08-18 14:49] #46 closed

[2017-08-18 15:09] yarikoptic commented on #46
Well... You might like to add a safeguard that if no output received eg for an hour - kill the build ( similar to how Travis etc do it) and announce it errored

[2017-08-18 20:43] vsoch commented on #47
@yarikoptic I think for %labels, you would easily be able to add the label - by the time we are in post, the Docker bits (and the file for the labels at `/.singularity.d/labels.json' has been written. It's just a json file, so if you have a small script to read it in and add a label, you are then done! You could also just write a line to export the variable to the environment, we just added that i

[2017-08-18 20:57] yarikoptic commented on #47
greedy me says "both" too ;) ok -- will add it to labels.json for now, and use that information within %runscript.

[2017-08-18 21:50] vsoch commented on #47
sounds good!

[2017-08-18 22:07] yarikoptic opened #48 "unable to fetch any version of the container while new one is building"
[code]
waited until it is done:
[code]
I guess the last successful should be made available until  a new one comes to life

[2017-08-18 22:11] yarikoptic commented on #47
ok, tried:  log is https://singularity-hub.org/containers/2517/log
[code]

and what is interesting I ended up without any  '/.singularity.d/labels.json' at the end (not even the ones singularity itself should place)

1. ideally if one command fails, the script/build should fail.  I guess I will try adding 'set -eu' now to %post to see if it has desired effect
2. when /.singularity.d is created?  e

[2017-08-18 22:13] yarikoptic commented on #48
actually can't even fetch a previous one, while current one is building
[code]
BTW  the error message is a bit 'misleading' ;-)

[2017-08-18 22:15] vsoch commented on #48
The error message bit should go under singularity as an issue, the first part (about downloading) I will address with next version!

[2017-08-18 22:18] vsoch commented on #47
Ah, if you are using debootstrap (and not docker) then the labels aren't written until after `%post`, in which case you should just echo to the file (and create it). If you do a docker bootstrap, the file is likely to already be there, at least if the container has labels.

TLDR: don't try to add to the file, try to write to it! Let's try that? And I'm not sure this is a singularityhub issue, but

[2017-08-18 22:34] yarikoptic commented on #48
error msg:   Roger -- https://github.com/singularityware/singularity/issues/880

[2017-08-18 22:38] yarikoptic commented on #45
FWIW -- added `set -eu` to my %post script, which caused it to fail as soon as first error, but hub reported 'COMPLETE' as well and now pull fetches that crippled image

[2017-08-18 22:57] yarikoptic commented on #47
ok -- my scripts worked but assumption was wrong -- sure thing within that %post script I am not within git repo , so could not invoke `git describe`...   is there any point in which code is executed while under original git repo?

[2017-08-18 22:58] vsoch commented on #47
Yes, in the %setup section you can access your host, and the image base is at `$SINGULARITY_ROOTFS`

[2017-08-19 00:29] vsoch commented on #45
If it has a shell that is able to echo, it's determined a success. Like we already talked about, this will change to look at the exit code.

[2017-08-19 14:06] yarikoptic commented on #47
woohoo
[code]
will add it now to the proper one ;)

[2017-08-19 14:06] #47 closed

[2017-08-22 09:24] remyd1 commented on #33
New related issue : https://github.com/singularityhub/sregistry/issues/14

[2017-08-23 20:52] anderbubble opened #49 "Is it possible to mark a container to be rebuilt?"
I'm trying to build my first container; but I was running into a situation where I needed more space than the default 800MB. I increased the image size for the collection, but I can't figure out how to get it to rebuild without removing and re-adding the whole collection, or pushing a garbage commit.

Does this feature exist?

[2017-08-23 21:22] anderbubble opened #50 "Container build keeps failing due to lack of size?"
## Link to Container Collection Log, Build, or Collection (in that order)

https://singularity-hub.org/containers/2576/log

### Behavior when Building Locally

Not tried

### Error on Singularity Hub

At least 538MB more space needed on the / filesystem.

### What do you think is going on?

I think there's not enough space in the image; but the space it says is required seems to be inconsistent. I

[2017-08-23 21:40] vsoch commented on #50
hey @anderbubble ! You have a large image, so you need to set the size in the collection portal under the builder settings. That will cut your build time in half, and also make the space available for the image proper. If you read the log carefully, the size that the builder estimates is just under 1500. If you want to try building locally to get your own size guesstimate, that would work too. Ple

[2017-08-23 21:42] vsoch commented on #49
You can't go back in time and rebuild an (old) container, the idea behind singularity hub is that the builds and they corresponding spec files are frozen. You would want to push (commit) again to produce an updated (possibly with different collection settings) build.

[2017-08-29 02:19] yarikoptic opened #51 "[wishlist] button/url to download raw build log"
ATM, e.g. https://singularity-hub.org/containers/2530/log, it is an HTML with the log colored etc somewhere in the middle... makes it hard to use it locally to troubleshoot failures

[2017-08-29 02:27] vsoch commented on #51
What would you suggest instead?

[2017-08-29 02:28] vsoch commented on #51
Just a download button?

[2017-08-29 02:29] yarikoptic opened #52 "Failure in %setup should fail the build, but instead it seems to continue building something else?"
## Link to Container Collection Log, Build, or Collection (in that order)

https://singularity-hub.org/containers/2530/log   has

[code]

So `%setup` failed (not sure why yet since should have been ran as root and there should be no other process) but build continued on with building something else (there should have been no ubuntu but debian), and replaced previously built correct image, and now

[2017-08-29 02:36] vsoch commented on #52
setup is before image build, I'm not sure that we dunk out when setup fails (just post?) It makes sense it's different because commands on setup aren't happening in/for the image, but outside of it.

[2017-08-29 02:57] yarikoptic commented on #52
ha -- I should have got that.  and it explains why it worked for me locally ;-)

[2017-08-29 02:58] yarikoptic commented on #52
but should/could I just assume that the build box has git and python installed? ;)

[2017-08-29 02:59] yarikoptic commented on #51
may be not instead but in addition?  yeah, just a button "Download" or "Raw" (like github iirc)?

[2017-08-29 03:04] vsoch commented on #52
lol, no you don't get to control the build box :P

[2017-08-29 03:05] vsoch commented on #51
will do!

[2017-08-31 11:52] verdurin opened #53 "Dockerfile convert provides empty output"
## Link to Container Collection Log, Build, or Collection (in that order)

Trying to convert this Dockerfile:
https://raw.githubusercontent.com/rocker-org/rocker-versioned/master/rstudio/3.4.1/Dockerfile

### Behavior when Building Locally

I've tried manually converting...

### Error on Singularity Hub

There's no error shown, but no output either.
If the file cannot be parsed, an error message t

[2017-09-01 21:29] yarikoptic commented on #52
what does it have then -- is there a list somewhere so we could know what tools we could use in %setup stage?

[2017-09-04 11:38] reikoch commented on #53
Maybe a related finding:
conversion of verse 3.4.1 from rocker-versioned seems to work, but when trying to run the image I see:

    $ singularity run /opt/R/singu/verse3.4.1.img
    s6-mkdir: warning: unable to mkdir /var/run/s6: Read-only file system

Could it be that RStudio docker images do not work under singularity?

[2017-09-05 10:39] vsoch commented on #53
hey @verdurin ! Could you show me the container / log where this happened? I tried parsing with the local tool, and it does return a (non None) value when I strip away some of the extra &&. I think likely it's not erroring because it is returning a value, but likely one of the lines is parsed incorrectly. This tool hasn't been used much, so I'm glad you are using and happy to look into the bug for

[2017-09-06 13:45] dctrud opened #54 "Description missing on detail page"
When searching/paging through https://singularity-hub.org/collections there is a description for containers shown - e.g.

researchapps/edd | 1 | Enriched Domain Detector for ChIP-seq data
-- | -- | --

When looking at the detail page: https://singularity-hub.org/collections/74/ - there is no description shown.

This can be confusing, esp. when sending a direct link to someone.

[2017-09-06 13:54] dctrud opened #55 "Full-description (markdown) for containers?"
One of the nice things about browsing docker hub is the presence of nice 'Full Description' instructions in Markdown for many containers. It'd be good to be able to add this type of thing for containers in singularity-hub, so full information / instructions for a container can be presented in the web interface that is used to discover singularity containers.

Unsure whether it'd be best for this d

[2017-09-16 15:53] mafeilong opened #56 "Bootstrapping failed without obvious error"
## Link to Container Collection Log, Build, or Collection (in that order)

https://singularity-hub.org/containers/2900/log

### Behavior when Building Locally

Haven't tried this one yet.

### Error on Singularity Hub

[code]
### What do you think is going on?

The messages of the build look good to me, however I still get an error message in the end and the build get cancelled.

[2017-09-16 16:25] vsoch commented on #56
The build is huge - the instance might have run out of space (but we would see the message).

[code]

Let's do the following:
- Try the build locally first
- If locally works, compare the size of the image to the size of the builder (100GB) and if 2 times the image size is greater than that, you should provide an estimated size so Singularity Hub doesn't need to do it.
 - If that doesn't work, the

[2017-09-16 21:56] mafeilong commented on #56
Thanks @vsoch !
The local build was ok, however I got some error messages when I tried to reduce the image size following [this link](https://github.com/singularityware/singularity/issues/623).
[code]
Also, I cannot open the image built but can open the shrunk image, which seems to be related to this file system problem above.
[code]

[2017-09-16 22:22] vsoch commented on #56
Okay - so if this is what is happening on Singularity Hub (the test is what you did (basically having the image run a simple echo) then it makes sense that the builder reported an unsuccessful built (because you don't have a working image). I don't know of any shrink functionality, I would suggest the following:

 - build a REALLY big image locally, big enough so you are sure it works
 - test that

[2017-09-21 15:02] colinmcnally opened #57 "ERROR Improperly formed manifest, layers or fsLayers must be present"
## Link to Container Collection Log, Build, or Collection (in that order)

https://singularity-hub.org/containers/2971/log

### Behavior when Building Locally

I have not attempted this build locally, don't have a local singularity install where I have root. It is a minimal description, with only a bootstap from Docker.

### Error on Singularity Hub

The error line in the log is:
ERROR Improperly

[2017-09-21 17:35] vsoch commented on #57
hey @colinmcnally! Yes, this needs to be fixed, and pronto! I'm creating builders with the patch release for the software right now - I just posted an FYI message: https://singularity-hub.org/. Stay tuned!

[2017-09-21 18:06] vsoch commented on #53
hey everyone! I'm going to disable the convert for now, since it's not properly developed. If you have ideas for version 2.0 (if you still want this) please open another issue, thanks!

[2017-09-21 18:06] #53 closed

[2017-09-21 18:07] vsoch commented on #54
okay, this should be all set! Thanks @dctrud

[2017-09-21 18:07] #54 closed

[2017-09-21 18:37] vsoch commented on #57
hey @colinmcnally ! This should be all set. Please click the "Edit Builders" in your collection view to update to builder 2.3.2 (size 50 or 100GB) and then retry the build. Let us know here if it works for you!

[2017-09-21 18:38] vsoch commented on #56
hey @mafeilong if the build worked ok I'm going to close this issue. If you have trouble with singularity related things please post here --> https://www.github.com/singularityware/singularity/issues

[2017-09-21 18:38] #56 closed

[2017-09-21 18:59] mafeilong commented on #56
Thanks @vsoch .
The problem seems related to the `apt-key` step which somehow broke the file system (still unsure why), and not a problem with singularity hub per se.

[2017-09-21 20:11] colinmcnally commented on #57
Thanks @vsoch! It works now after the switch to builder 2.3.2.

[2017-09-21 20:11] #57 closed

[2017-09-21 20:14] vsoch commented on #57
Awesome! Build away, @colinmcnally

[2017-09-27 16:02] yarikoptic commented on #55
Ideally just a way to edit that description straight on the singularity hub, since github repository might be more than just a Singularity file so description might be a bit misleading (e.g. in our case for NeuroDebian we described what that repository is exactly about within the scope of the entire project -- website, tools).

[2017-09-27 16:03] yarikoptic opened #58 "[wishlist] Download stats of some kind?"
no error here -- just a wishlist (if possible) to provide some feedback on either any given container was downloaded and how many times

[2017-09-27 16:05] vsoch commented on #55
Yep definitely can do that!

[2017-09-27 16:54] vsoch commented on #58
This is implemented in Singularity Registry, but not Hub. I'll see if it's easy / non trivial to use in both places.

[2017-10-05 17:57] yinglilu opened #59 "shub: build failed without obvious error"
## Link to Container Collection Log, Build, or Collection (in that order)
https://singularity-hub.org/containers/3283/log

### Behavior when Building Locally
Success

### Error on Singularity Hub
No obvious error.

### What do you think is going on?
No idea.

### Buider spec:
could builder: singularity-builder-2.3.2-50gb
enable debug printing: yes
image size: 20000

### Singularity file:
Bootstrap

[2017-10-05 18:45] vsoch commented on #59
It looks like a bad gateway (502). Have you tried this more than once? The BIDS container are infamously known for being huge / installation at root so this might be an issue related to that, or a less frequent server blurp. I'm currently working against the clock to finish the next version of shub, so we might be better off waiting for that.

[2017-10-06 15:14] omsai opened #60 "Build hung in "Running" status for 2 days (either due to image size or %test pipes)"
### Link to Container Collection Log, Build, or Collection (in that order)

- Collection log: N/A because the build hangs with status "Running".
- Build: https://github.com/UConn-HPC/singularity-ctffind
- Collection: https://singularity-hub.org/collections/454/

### Behavior when Building Locally

Build proceeds as normal.  I'm using an older version of Singularity than on the hub, but which has w

[2017-10-06 15:52] vsoch commented on #60
hey @omsai ! Thanks for the post, and sorry about the troubles. I'm not sure about this one - the log on the builder suggests it had some issue with downloading errors:

[code]
but I've just run it and watched, and it seemed ok. Have you tried this build more than once? I don't think the issue is image size. I've never done anything with pipes in test, so that might be the issue. Maybe I would ret

[2017-10-06 16:10] omsai commented on #60
The hang in "Running" happened only once, so it's quite possible there was a network error and I was confused after switching from 2-3 to the 2-3-2 builder and seeing it change from Erroring out to hanging in Running.

I'm leaving the pipes out for now in `%test`.  Upstream makes doesn't provide a basic usage message because it either wants to read from stdin or enter interactive mode, and my usin

[2017-10-06 16:10] #60 closed

[2017-10-06 16:12] vsoch commented on #60
sure thing! I hope to get the next version for you to use soon :)

[2017-10-07 01:54] vsoch commented on #58
hey @yarikoptic - your wish is done! The new singularity hub has a page to keep track of downloads (as in calls to retrieve via the API). There is also a page for user favorites (stars).

![image](https://user-images.githubusercontent.com/814322/31303769-c26e9fc4-aac7-11e7-9ee6-a9fdc397f5af.png)

[2017-10-07 01:54] vsoch commented on #58
This will be released with Singularity Hub 2.0.

[2017-10-07 02:08] vsoch commented on #55
Ok working on this - here are some things to discuss, because there are conflicting ideas here. There are a few things here:

 - collection descriptions (short summary)
 - collection README (if exist)
 - container description

The ability to edit a description or README obviously undoes any automatic parsing and vice versa. So for each of the above I'm curious about your opinion on:

 - if the fie

[2017-10-07 02:40] vsoch commented on #55
okay, I've implemented what I mentioned with the contenteditable description for a container:
![screenshot from 2017-10-06 19-38-41](https://user-images.githubusercontent.com/814322/31304062-27739bd0-aace-11e7-99af-e0a70b321d53.png)

It defaults to the collection description originally, and then is allowed for the owner to edit in the web interface. I haven't done anything special looking for READ

[2017-10-07 04:27] yarikoptic commented on #55
Thanks!
I haven't yet looked into description for the collection... Editable for the container sounds like what I was after

[2017-10-07 04:29] yarikoptic commented on #58
Very much thank you @vsoch

[2017-10-07 15:02] yarikoptic opened #61 "Mobile rendering hides the menu on the left"
I thought I have complained before but can't find it, sorry if a duplicate
See
https://photos.app.goo.gl/CgjB23XL9pyZ9pW12

[2017-10-08 15:32] vsoch commented on #51
hey @yarikoptic this is done! Will be included with next release.

![image](https://user-images.githubusercontent.com/814322/31318197-2bbf4db6-ac03-11e7-9364-f4b70f0fa45d.png)

[2017-10-08 15:33] vsoch commented on #55
ok I'm going to mark this as finished unless there is other issue.

[2017-10-08 15:34] vsoch commented on #48
hey @yarikoptic is this still an issue?

[2017-10-08 15:36] vsoch commented on #43
hey @sven1103 - this will be possible with the next release of shub - you basically can define tags based on the extension of the Singularity file, and  a plain `Singularity` builds latest. Each new build of a tag over-writes the previous (old version if existing) unless the user has frozen a container, in which case it builds a new one.

[2017-10-08 15:43] yarikoptic commented on #51
Great. Thank you @vsoch !

[2017-10-08 15:54] vsoch commented on #49
hey @anderbubble ! Heads up I'm looking to add this ability to the next version of shub - it will be possible to trigger a build for a finished / cancelled / error container that already has a commit and associated recipe file.

[2017-10-09 00:37] vsoch commented on #52
hey @yarikoptic - I don't see giving users control of the servers anytime soon, in fact we are securing the environment even more so. I'm going to close this issue.

[2017-10-09 01:00] vsoch commented on #42
We don't need this with squashfs, closing!

[2017-10-09 01:00] #42 closed

[2017-10-09 01:01] vsoch commented on #38
This is now handled by the client

[2017-10-09 01:01] #38 closed

[2017-10-09 01:01] vsoch commented on #37
This is also done!  Adding finished.

[2017-10-09 01:03] vsoch commented on #29
this is no longer relevant for current shub - was for registry (now another project, that is done!)

[2017-10-09 01:03] #29 closed

[2017-10-09 01:04] #34 closed

[2017-10-09 01:05] vsoch commented on #28
Registry repo, not relevant anymore here, closing.

[2017-10-09 01:05] #28 closed

[2017-10-09 01:06] vsoch commented on #25
ping @cclerget! Does the secure build image handle this use case? It's come up a few times - I remember seeing debootstrap and some other dependencies installed, but am not sure about this particular one!

[2017-10-09 01:06] vsoch commented on #16
This is done, container metadata for Shub 2.0 will have container metadata for Singularity 2.3/2.4

[2017-10-09 01:09] vsoch commented on #15
Another update, this is ready to go and will be possible with Singularity version 2.0. The one difference is that the folder organization still relies on a file called "Singularity" with an extension (however long) corresponding to the tag. So - a file "Singularity.ubuntu" in three different folders in the same repo would be akin to the specifying the same image to be built, and in the case of red

[2017-10-09 01:10] vsoch commented on #14
This is going to just be the single version.

[2017-10-09 01:10] #14 closed

[2017-10-09 01:27] vsoch commented on #13
hey @TormodLandet ! I'm adding support for multiple recipe files in a repo, and I'm curious to know how you would want this to work with a "Trigger Build" button. If you look at issue #49 it makes sense to rebuild a container, because we've already discovered a particular build recipe. In the case of triggering manually, we would not have this information. So either it would default to something,

[2017-10-09 03:17] yarikoptic commented on #52
well, the issue still that if %setup fails one way (me trying to do evil) or another (or not evil), I think the build should fail.  Also it would still be nice to get some description of the build boxes -- what to expect to have there

[2017-10-09 04:40] cclerget commented on #25
@vsoch Yes https://github.com/cclerget/singularity/blob/d4c5ce80d200505dffc0cbac02772b61470c86f9/libexec/bootstrap-scripts/secbuild.sh#L85

[2017-10-09 04:48] vsoch commented on #25
awesome! @akkornel I'm going to close the issue here - let's be sure to test when 2.4 is released. Thanks @cclerget you da bomb!

[2017-10-09 04:48] #25 closed

[2017-10-09 07:11] TormodLandet commented on #13
I think that having a list of recipes already discovered with a "Trigger build" button next to each of them would be sufficient. I guess you would like to have a list of recipes found in the repo anyway?

For my use case I am happy with turning off automatic builds and only pressing the "Trigger build" button once I have pushed the underlying docker files to docker hub and manually verified that t

[2017-10-09 08:39] vsoch commented on #13
hey @TormodLandet, that's a good idea, but it would take a little more processing oomph on the main application server. The recipe names are discovered from the webhook pings as changed files, and so even if we saved a changed list there would be some potential misalignment with our list and what is actually in the repo. It also gets messy quickly because we have to keep track of different branche

[2017-10-09 08:40] vsoch commented on #52
oh I see! Yes we can definitely put more information about the particulars of the builder. I'll re-open until I do this.

[2017-10-11 12:35] vsoch opened #62 "main container details view should have apps"

[2017-10-11 16:14] cokelaer opened #63 "cannot see a repository in the list of new container to be built"
## Link to Container Collection Log, Build, or Collection (in that order)

### Behavior when Building Locally

### Error on Singularity Hub

I have added a Singularity file to this project: https://github.com/CancerRxGene/gdsctools (I have admin rights).

In my singularity-hub page, I go to the container page (top right). Then, I click "add container".

Here we have the list of all connected repos

[2017-10-11 16:45] vsoch commented on #63
hey @cokelaer ! This has happened to me too - and it's just because you have to give Singularity Hub access to the organization (it will see all repos regardless of having the file or not). For me the page is (on the second pagination) under https://github.com/settings/connections/applications

There should be a red X that you can give permission to change to green. Let me know if you have trouble

[2017-10-11 18:48] cokelaer commented on #63
So for bookeeping,

- I went to [my github account (you have to log in) ](https://github.com/settings/connections/applications)
- On the right hand side, click on the "singularity-hub" link
- There you have all your organization and indeed there was a red cross.

Thanks

[2017-10-11 18:48] #63 closed

[2017-10-11 19:29] vsoch commented on #63
Thanks! Yeah it's embarrassing to admin, but I regularly have trouble finding this page. I always wind up somewhere else and have to start over, and then I'm sure that I had tried that... :)

[2017-10-12 12:14] vsoch commented on #62
this is now finished

[2017-10-12 12:15] vsoch commented on #61
hey @yarikoptic ! I might not get around to fixing this for this particular go around - it's a good thing to fix and an important detail for mobile users, but not essential (and I wouldn't advocate using shub on mobile anyway, ha)

[2017-10-13 00:25] vsoch opened #64 "maximum build time?"
hey @cclerget what do you think about enforcing a maximum build time? This will ensure that if something goes weird, there is a job in the queue to automatically kill a build (maybe one day?)

[2017-10-13 08:09] cclerget commented on #64
@vsoch Yes ! timeout command (http://man7.org/linux/man-pages/man1/timeout.1.html) seems appropriate: `timeout -s KILL 2h singularity build ...`, after two hour, command is killed with exit code 137 which mean build job has been killed because too long

[2017-10-13 12:53] vsoch commented on #64
okey doke, I just added a very simple (with 2 hour limit, this should be reasonable or you think too short?) when we are ready for another go of testing, I can update the builder.

[2017-10-13 13:01] cclerget commented on #64
2 hours for most build is enough, at worst it could be adjusted

[2017-10-14 15:54] vsoch commented on #44
Don't think this is needed for now.

[2017-10-14 15:54] #44 closed

[2017-10-14 18:03] vsoch commented on #4
@satra this should be addressed now with the ability to manually trigger builds (coming soon with 2.0). This is more flexible than enforcing an "always build" rule as some users may not want to build when enabling a new branch.

[2017-10-14 18:04] #8 closed

[2017-10-14 20:39] vsoch commented on #52
hey @yarikoptic let me know what else you want added here - https://github.com/singularityhub/singularityhub.github.io/wiki/Meet-Builders

[2017-10-14 21:42] alaindomissy opened #65 "Container Collections / Branches - last sentence is not clear"
## Link to singularity-hub wiki page

https://github.com/singularityhub/singularityhub.github.io/wiki/Release-Notes

The last sentence in this paragraph seems to miss something:
[code]
Did you mean:
To avoid confusion, we recommend that you build from fewer branches. Ideally, just build from a single branch: either master or a production branch.

[2017-10-14 21:45] vsoch commented on #65
Fixed!!

For small details like these, give a go at editing the wiki. Sort of like wikipedia !

[2017-10-14 21:45] #65 closed

[2017-10-14 21:56] alaindomissy commented on #65
Thanks. And I would but I just could not figure out how to edit the wiki ! lol... it is not like submitting Pull Request, is it ?

[2017-10-16 15:34] mathiaswagner opened #66 "Github permissions"
I wanted to login to singularity hub but it ask for a lot of permissions for which I have a hard time seeing the necessity. For me it asked for:

[code]

I do get read access for the code but read **and write** access to some of the information seems unnecessary. Is it documented somewhere what you need and why?
I recommend reducing it to the bare minimum.
I get that you need to read the code of t

[2017-10-16 15:37] vsoch commented on #66
hey @mathiaswagner ! We have changed this with the new version. Would you like to be one of our testers and see if the new permissoins model is better fit for your needs?

[2017-10-16 15:42] mathiaswagner commented on #66
Sure, happy to help.

[2017-10-16 15:54] vsoch commented on #66
Great! I just sent you an email with details. Please post here any issues you find and I'll fix them real time!

[2017-10-16 20:08] apeltzer opened #67 "Logo incorrect (GitHub Icon/Picture fetched incorrectly? )"
### Error on Singularity Hub

When using the Singularity hub, the picture used in the top is incorrectly fetched from Github. My current user logo is definitely different from the one that is used by Singularity hub. Its still the first (and outdated) picture I used years ago when setting up my Github back then ;-)
![screenshot from 2017-10-16 22-07-53](https://user-images.githubusercontent.com/23

[2017-10-16 20:09] vsoch commented on #67
It's actually not pulling from github - it's your gravatar, which is associated with your email account. I think if you wanted to change that you would go to --> https://en.gravatar.com/

[2017-10-16 21:38] vsoch opened #68 "Migration Requests"
This is a log of migration requests that are being processed, and will be added to as containers are transferred. For those that need migration, please fill out the form [here](https://goo.gl/forms/UreW4L4nR2t4A6Mj1) and your containers will show up here eventually. You will also eventually be asked to create a new account to associate the containers with.

| url  | storage migration | user accoun

[2017-10-17 00:57] vsoch opened #69 "legacy containers should not be unfreezable"
to protect users from over-writing legacy containers, they should not be allowed to unfreeze.

[2017-10-17 07:51] apeltzer commented on #67
Correct, I will close this now!

[2017-10-17 07:51] #67 closed

[2017-10-18 12:02] #31 closed

[2017-10-18 12:02] #32 closed

[2017-10-18 12:02] #37 closed

[2017-10-18 12:02] #39 closed

[2017-10-18 12:02] #40 closed

[2017-10-18 12:02] #41 closed

[2017-10-18 12:02] #43 closed

[2017-10-18 12:02] #49 closed

[2017-10-18 12:02] #51 closed

[2017-10-18 12:02] #55 closed

[2017-10-18 12:02] #58 closed

[2017-10-18 12:02] #62 closed

[2017-10-18 12:02] #64 closed

[2017-10-18 12:02] #69 closed

[2017-10-18 12:02] #4 closed

[2017-10-18 12:02] #6 closed

[2017-10-18 12:02] #13 closed

[2017-10-18 12:02] #15 closed

[2017-10-18 12:02] #16 closed

[2017-10-18 12:02] #19 closed

[2017-10-18 12:02] #45 closed

[2017-10-18 12:04] #48 closed

[2017-10-18 17:05] vsoch commented on #59
hey @yinglilu could you please try this on the new singularity hub? Thanks! I'm going to close this issue, and please re-open if you still have trouble.

[2017-10-18 17:06] vsoch commented on #52
I have added details, closing this issue.

[2017-10-18 17:06] #52 closed

[2017-10-18 17:06] vsoch commented on #27
hey @dbgannon we just released Singularity Hub 2.0 would you mind trying the build again? I'm closing the issue and feel free to re-open if you need.

[2017-10-18 17:06] #27 closed

[2017-10-18 17:07] #59 closed

[2017-10-18 17:07] vsoch commented on #50
Hey @anderbubble ! Could you please test this on the new release of Singularity Hub? We might still need a larger instance. I'm going to close the issue, please open a fresh one if the error continues!

[2017-10-18 17:07] #50 closed

[2017-10-18 17:08] vsoch commented on #26
hey @akkornel could you please try this on the new release of Singularity Hub? Thanks!

[2017-10-20 12:53] vsoch opened #70 "Check commits against files removed"
There are reports of (older, non existing) Singularity files building as well as a commit not properly triggering a build - need to look into this.

[2017-10-20 12:56] vsoch commented on #70
This is definitely due to not removing the files removed from the set.

[2017-10-20 14:17] cokelaer opened #71 "build error: Cannot install into target '/usr/local/var/singularity/mnt/container' mounted with noexec or nodev"
## Link to Container Collection Log, Build, or Collection (in that order)

https://www.singularity-hub.org/collections/105

### Behavior when Building Locally

Container should be built without error

### Error on Singularity Hub

https://www.singularity-hub.org/containers/464/log

E: Cannot install into target '/usr/local/var/singularity/mnt/container' mounted with noexec or nodev

### What do yo

[2017-10-20 14:52] vsoch commented on #71
hey @cokelaer I think it comes down to something to do with [this line](https://github.com/singularityware/singularity/blob/3e338d75003f2a0a621c352bb4da2f0fc2ad9e50/libexec/bootstrap-scripts/deffile-driver-debootstrap.sh#L84) within the context of our secure build environment. @cclerget could this be the case?

As a workaround, you could try bootstrapping a docker image created from the same OS.

[2017-10-20 15:46] cokelaer commented on #71
seems to work locally, I will push and let you know the outcome.

[2017-10-20 15:47] vsoch commented on #71
okay great! I think @cclerget knows about the issue and has been working on it, so we will get to fixing it up when that's done!

[2017-10-20 16:41] cokelaer commented on #71
it seems I having trouble with the new system in rebuilding the container.
I pushed a new empty commits a few times, switch to "commit" or "manual" mode but this does not seem to restart the build.  Maybe there is some latencies ? (https://www.singularity-hub.org/collections/105)

[2017-10-20 16:58] vsoch commented on #71
The commits only will build if there are changes to the Singularity files. It should work if you switch to manual and then select a particular commit, however. Would you mind trying again? And tell me what you did? I'll watch the server.

[2017-10-20 17:02] vsoch commented on #71
ok I can confirm seeing you went to the collection:

[code]
but then did you push? This is the github hook trigger, and your collection is set to build manual.
[code]

[2017-10-20 17:07] vsoch opened #72 "tags should only be added after newly created"
Currently, tags are posted on init of the page, and this is unnecessary!

[2017-10-20 21:36] vsoch commented on #71
hey @cokelaer I just updated the builder - would you change the builder in your settings to:

![image](https://user-images.githubusercontent.com/814322/31842620-dfd632e8-b5a3-11e7-9eb6-015c05d907ca.png)

and then try again? Note that this new builder (and changing the builder generally) hasn't been thoroughly tested so thanks in advance for your patience! :)

@katakombi this should be tested with

[2017-10-20 23:21] vsoch commented on #72
This is done.

[2017-10-20 23:21] #72 closed

[2017-10-20 23:21] vsoch commented on #70
This is also done - will leave open in case any others hit the issue (and my fix didn't work!)

[2017-10-20 23:22] vsoch commented on #66
hey @mathiaswagner have you checked it out? I saw that you had migration requests? If you make corresponding collections I can migrate the images for you (and apologies if you did and I missed the repository names)

[2017-10-21 01:18] vsoch opened #73 "Do users need/want a profile page?"
Thoughts?

[2017-10-21 17:38] cokelaer commented on #71
I did not manage to trigger the build again after many trials. So, I decided to delete the collection and start again from scratch. After creating the collection again, and added the master and develop branches. Push a commit. However, the build do not appear anymore. This is a different issue. I can close and open a new one if you want. The new collection is at https://www.singularity-hub.org/col

[2017-10-21 17:41] vsoch commented on #71
hey @cokelaer I've been actively (as we speak) seeing the errors that you are triggering and fixing them! If you are able to try again, it would be fantastic. The builds weren't triggering because there was a bug in the function to parse a hook.

[2017-10-21 17:52] cokelaer commented on #71
it has started. thanks. It may take a while. I'll let you know the outcome tomorrow ;-) !

[2017-10-21 17:56] vsoch commented on #71
Awesome! And apologies for the burps and hiccups - when I see a server error I usually respond right away looking into it, and that means a few server restarts with fixes. The change I had added was to prevent old recipes that were added and later removed from still building. The error was forgetting to check if we already had seen it, and then trying to remove a key that didn't exist in a diction

[2017-10-22 10:16] cokelaer commented on #71
very well it works now. thanks

[2017-10-22 10:16] #71 closed

[2017-10-22 15:05] cokelaer opened #74 "usage page not complete"
Usage (pull) is not clear enough on how do download a specific container

e.g.(https://www.singularity-hub.org/collections/114/usage)

For instance, container may be from different releases (branch / master) but I do  not see how to retrieve the specific develop version right now.

similarly, I believe that in the previous hub version, there was a way to download a container thanks to its identifi

[2017-10-22 15:11] vsoch commented on #74
hey @cokelaer ! I used to have specifics for downloading a container on the single container page, but a user said it was not optimal because it would be expected to see on the collection page. Would you want to see two locations for usage - one on the collection and one on the page for a particular container build?

In the meantime - did you see the docs? https://github.com/singularityhub/singula

[2017-10-22 15:19] cokelaer commented on #74
The information missing for me (and therefore a potential user) was the "digest" method with the branch information. thanks

As for the usage page, I think the place is good. A link to the more details or adding this "digest" method could be useful. I close the issue since I got the relevant answer. thanks again for the quick feedback

[2017-10-22 15:19] #74 closed

[2017-10-22 15:27] vsoch commented on #74
Sure thing! I'm working on some views now, and I'll add a link to the docs so users that want the details know how to get there. I should have it up within the next hour or so.

[2017-10-22 15:49] vsoch commented on #74
okey doke:

![image](https://user-images.githubusercontent.com/814322/31863680-b6e57dd6-b705-11e7-8c07-8cde4923c0ed.png)

I didn't answer one of your questions - we did have a pull based on a container ID, but I decided to remove it because I couldn't guarantee that number and container association if the database needed to be re-created, for example. It was just a database index depending on when

[2017-10-24 09:18] TormodLandet opened #75 "Build phase "Setup" provides no feedback"
I have a container build stuck in "Setup" for a couple of days https://www.singularity-hub.org/collections/95
I tried at least twice and it is always stuck there. The Singularity-file in the root of the linked repository builds locally

I cannot find a link to see the commands being executed. I think it only shows up after the build is done? When the build is just hanging forever there is no way t

[2017-10-24 10:36] vsoch commented on #75
Hey @TormodLandet !

I re-triggered the build of the current container and checked out the instance - it was failing and then stuck in setup due to missing most of its metadata, so I'm guessing this particular container got stuck in some of the crossfire of the last few days of server restarts and fixes. If you are interested in the log, it's rather uninteresting :o:

[code]

I removed the buggy c

[2017-10-24 12:04] TormodLandet commented on #75
Thanks!

I think, as a first step, having the results page available from the start would be very nice. The contents could just be something like "container build currently running, phase: Setup". Then, if someone goes there and manually requests an update, the backend could possibly pull in some info from the builder? At least that way the builders are not spamming the core infrastructure all the

[2017-10-24 14:16] vsoch commented on #75
Hey @TormodLandet - the request from the main server seems reasonable (assuming it's authenticated and someone can't use it to maliciously spam the instances).

That's exactly what the builder does do - it builds, as it does it outputs to a log file, it pings the instance immediately when the first pass at building is done (and the main server receives notice of the build) and then after this noti

[2017-10-24 21:36] proycon opened #76 "Missing pacstrap on host system when building arch container"
## Link to Container Collection Log, Build, or Collection (in that order)

Log: https://www.singularity-hub.org/containers/525/log

### Behavior when Building Locally

I initially had this error locally (on my Arch Linux system) as well. Installing the ``arch-install-scripts`` package as suggested fixes it.

### Error on Singularity Hub

[code]

### What do you think is going on?

Missing pacstrap

[2017-10-24 21:44] vsoch commented on #76
hey @cclerget does the builder have pacstrap? Looks like he might need it!

[2017-10-25 15:49] edraizen opened #77 "Unable to pull container: not in gzip format"
## Link to Container Collection Log, Build, or Collection (in that order)

https://www.singularity-hub.org/containers/394

### Behavior when Building Locally

When I pull the container, I get the following error:

### Error on Singularity Hub

gzip: ./edraizen-Singularity-master.img.gz: not in gzip format
ERROR Error extracting image, cleaning up.
ERROR: pulling container failed!

[2017-10-25 16:00] vsoch commented on #77
Hey @edraizen! You need to update your Singularity client. The images on the new shub are in squashfs, so older clients that try to extract them will see this error.

[2017-10-25 16:08] edraizen commented on #77
Ok, I'll try that. Thanks!

[2017-10-25 16:08] #77 closed

[2017-10-26 12:37] bneron opened #78 "[ENH] add GitLab integration"
## Link to Container Collection Log, Build, or Collection (in that order)

I have a project hosted on a private gitlab.
the repository is publicly available https://gitlab.pasteur.fr/bneron/craw/tree/branch_1.0
I provide a Singularity recipe (https://gitlab.pasteur.fr/bneron/craw/blob/branch_1.0/Singularity)
I'd like to connect Singularityhub and my project to build a new image each time I create

[2017-10-26 12:59] bneron opened #79 "Improve error message"
## Link to Container Collection Log, Build, or Collection (in that order)

Write here.

### Behavior when Building Locally

When the section test is name test**s** by mistake. the error message is not really helpful:

/bin/sh: 0: Can't open s

 The complete trace and a singularity recipe to reproduce the behavior
[Singularity.txt](https://github.com/singularityhub/singularityhub.github.io/files/14

[2017-10-26 13:09] vsoch commented on #79
Parsing for correctness of the build recipe is something we haven't done yet, and I think it's best to bring up an issue here: https://github.com/singularityware/singularity/issues with Singularity proper. Singularity Hub shouldn't do anything special other than run the build, so if there is an error not being caught (as is above) it should be added there. That way, if you were to do the build loc

[2017-10-26 13:17] vsoch commented on #78
hey @bneron ! I hadn't added GitLab in the past because their API didn't provide token secrets. It looks like they might now:

https://docs.gitlab.com/ce/user/project/integrations/webhooks.html

I need to do some thinking about this, because it's likely the case that all Gitlab installations aren't the same. For example, I wouldn't want to encourage not using https, and it would not work for older

[2017-10-26 13:51] bneron commented on #79
done https://github.com/singularityware/singularity/issues/1097

[2017-10-26 13:51] #79 closed

[2017-10-29 18:16] jekriske opened #80 "Update the docs describing tags"
## Link to Container Collection Log, Build, or Collection (in that order)
https://github.com/singularityhub/singularityhub.github.io/wiki/Build-A-Container#naming-recipes

### Behavior when Building Locally

N/A

### Error on Singularity Hub

The tag determined by Singularity Hub does not follow the docs.
Container URI is not readable in the GUI due to being cut off.

### What do you think is goin

[2017-10-29 18:24] jekriske opened #81 "Issue boostrapping from shub base"
## Link to Container Collection Log, Build, or Collection (in that order)

https://www.singularity-hub.org/containers/601/log

### Behavior when Building Locally

No issues when building locally

### Error on Singularity Hub

`/usr/local/libexec/singularity/functions: line 356: FROM: unbound variable`

### What do you think is going on?

My shub base image started with a centos image from Docker..

[2017-10-30 05:33] vsoch commented on #80
Thanks for reporting this @jekriske ! The first issue with tags was not properly accounting for folders with `.` in them. It came down to changing:

[code]
to

[code]

The tags was confusing because **now** they are topics from Github, and any custom that the user adds. You would only see them if your repository had tags, and it is rather confusing now that we have actual "tags." As we discussed e

[2017-10-30 05:34] vsoch commented on #81
With the updates to the server do you want to try this again? Then I will manually debug in the case that it persists. The other thing you can try is to switch the builder from the default to the other provided - which has had some updates and might make a difference.

[2017-10-30 13:16] jekriske commented on #81
Looks like the same type of error:
https://www.singularity-hub.org/containers/615/log
[code]

[2017-10-30 14:10] vsoch commented on #81
okay just reproduced the error building manually - and issue is filed here https://github.com/singularityware/singularity/issues/1118

Hopefully we can get the image fixed and the builder rebuilt to support shub bootstrap! Thanks for your patience as we do that.

[2017-10-30 15:20] jekriske commented on #80
Looks good so far, some of the metrics of course don't show up on the table yet, like finished container size.

One concern might be if the future size metric reported is related to the label reported `"org.label-schema.build-size": "905MB"` I hope not.
For my particular image, this number is 15% larger than a sandbox build on a local FS (about 793 MB) and a great deal larger than the resulting sq

[2017-10-30 16:23] vsoch commented on #80
okay, size is there!

![image](https://user-images.githubusercontent.com/814322/32182417-df91ac9c-bd53-11e7-9cee-f0aa2a3db343.png)

If you have an issue with the number itself, please report an issue on the main singularity board. The calculation is done with the Singularity software and the result produced by it via the builder is then shown here.

woot!

[2017-10-30 20:48] vsoch commented on #80
I'm going to close this issue, thanks for your help @jekriske.

[2017-10-30 20:48] #80 closed

[2017-10-31 14:30] vsoch commented on #81
just recording here - plan is to update builder with a security release that is coming out soon. Stay tuned :)

[2017-11-01 14:50] akhanf opened #82 "Build error, exit code 137"
## Link to Container Collection Log, Build, or Collection (in that order)

https://www.singularity-hub.org/containers/630/log
https://www.singularity-hub.org/containers/630/

### Behavior when Building Locally

Completes with no errors.

### Error on Singularity Hub

...
Singularity container built: /tmp/tmpjs3x0e6h/build.simg
Cleaning up...
Return value of 137.
Killed: Wed Nov 1 05:37:56 UTC 2017

[2017-11-01 15:09] vsoch commented on #82
How long does it take to build locally? We kill all builds after 2 hours.

[2017-11-01 15:11] akhanf commented on #82
On my local workstation 30 minutes, but it seemed to be taking longer on shub, though haven’t timed it.

[2017-11-01 15:12] vsoch commented on #82
The first thing to investigate is if it *is* in fact going over the limit. Would you mind rebuilding, telling me when it starts, so we can time it? If it's taking that long, we can investigate why. If it's not, then we can also investigate why :)

[2017-11-01 15:15] akhanf commented on #82
Actually just looked at the log now, the timestamps do indeed indicate it is 2 hours so that is the issue — looking at the log for my local build it is 20 minutes.

Ali R. Khan, PhD
Assistant Professor
Medical Biophysics & Medical Imaging
Scientist, Robarts Research Institute
Western University
Room 1254B, Robarts Imaging
London, ON, Canada, N6A 5B7
E-mail: alik -AT- robarts.ca <http://robarts.ca/

[2017-11-01 15:18] vsoch commented on #82
How big is the final image?

[2017-11-01 15:33] akhanf commented on #82
6.5GB

Ali R. Khan, PhD
Assistant Professor
Medical Biophysics & Medical Imaging
Scientist, Robarts Research Institute
Western University
Room 1254B, Robarts Imaging
London, ON, Canada, N6A 5B7
E-mail: alik -AT- robarts.ca <http://robarts.ca/>
Tel: 519.931.5777 x24280
Website: http://www.khanlab.ca <http://www.khanlab.ca/>

[2017-11-01 15:39] vsoch commented on #82
How much memory do you have, and does the build require it? Or have tests? The instance has pretty small memory, so that could explain the slow down. So possibly increasing the build time would fix this issue, or the memory. I can't speak about the slower connectivity, it could be variable or bad luck. There is also the time to extract metrics and upload to storage, but I don't see that needing ov

[2017-11-01 18:24] akhanf commented on #82
It doesn’t run any tests, is just downloading and building, though probably downloads over 5GB total... I have 64GB memory on my local machine.
Looks like the finalization steps are taking close to an hour on shub (excerpt below, where it is killed in the Cleaning up phase); is there a way I can test it with a longer wall time?

(Nov 01, 2017 04:42:37) Exiting with status 0
(Nov 01, 2017 04:42:37)

[2017-11-01 18:34] vsoch commented on #82
I can increase the time for the next builder. @cclerget @gmkurtzer @godloved what is the time frame for 2.4.1 release?

[2017-11-06 22:01] vsoch opened #83 "When subsequent pushes (and container not frozen) delay start"
the builder for a (currently running build) that is cancelled needs some padding time before launching another build, otherwise the builder gets stuck in "WAITING" because the instance cannot be generated.

[2017-11-08 16:48] narrative opened #84 "Triggering manual builds with a webhook"
Hi,

I am maintaining a docker image and a singularity image which is based on said docker image. I want to automate the building of both images. Since the singularity image depends on the docker image, I would like to have the singularity build wait until the docker build is complete and on dockerhub.

Dockerhub provides a way to call webhooks after a new image is pushed, and I wonder if there is

[2017-11-08 16:59] vsoch commented on #84
Hey @narrative ! I think you would want to try out the deployment webhook that is offered. https://developer.github.com/v3/guides/delivering-deployments/ It would mean that you would do the build / testing with Continuous Integration, deploy your image (to Docker Hub) and that would send a webhook to Singularity Hub, that is able to detect a deployment webhook (and ignore others). If you want a co

[2017-11-08 17:26] eriknstevenson commented on #84
Thanks @vsoch, I think I understand what you are suggesting. How can I determine the singularity hub URL that I should direct the Dockerhub webhook to? Is it simply the URL of the collection?

From looking at dockerhub's [webhook info](https://docs.docker.com/docker-hub/webhooks/) I am unsure if this will be treated by singularity hub as a deployment webhook as the payload seems to be considerably

[2017-11-08 18:18] vsoch commented on #84
The hook wouldn't come from Dockerhub, it would come from Github when it gets a deployment success status from your continuous integration service. Docker webhooks aren't secure/certified with a secret so unfortunately cannot be accepted as a hook.

[2017-11-08 18:18] vsoch commented on #84
The hook wouldn't come from Dockerhub, it would come from Github when it gets a deployment success status from your continuous integration service. Docker webhooks aren't secure/certified with a secret so unfortunately cannot be accepted as a hook.

[2017-11-08 18:20] vsoch commented on #84
The hook wouldn't come from Dockerhub, it would come from Github when it gets a deployment success status from your continuous integration service. Docker webhooks aren't secure/certified with a secret so unfortunately cannot be accepted as a hook.

[2017-11-08 18:21] vsoch commented on #84
The hook wouldn't come from Dockerhub, it would come from Github when it gets a deployment success status from your continuous integration service. Docker webhooks aren't secure/certified with a secret so unfortunately cannot be accepted as a hook.

[2017-11-08 21:13] eriknstevenson commented on #84
I understand. Thanks again!

[2017-11-08 21:13] #84 closed

[2017-11-09 14:04] narrative opened #85 "Deployment build webhook returning 500"
Hi again,

I think I'm quite close to getting the singularity hub deployment build triggering after docker build working as I asked about in #84, but my deployment webhook is receiving a 500 error response from singularity hub.

### On Singularity Hub

I enabled deployment build on [my collection](https://www.singularity-hub.org/collections/214) settings.

### On Travis

Configured to build the do

[2017-11-09 14:08] vsoch commented on #85
The webhook should be the same url, the information that you provided here, this is great! Let me take a look at the server.

[2017-11-09 15:34] vsoch commented on #85
okay! The bug was very minor - the key to look for deployment used to be a flat lookup (eg, `payload["deployment_status"]` and it looks like it is not under just `payload["deployment"]`. I was able to walk through the steps and get your (previous) deployment to trigger a builder to run, and he's running full steam!

![image](https://user-images.githubusercontent.com/814322/32613434-c101f68c-c51f-1

[2017-11-09 15:52] vsoch commented on #85
Houston, we have container! Here is for you to check out --> https://www.singularity-hub.org/collections/214

[2017-11-09 15:54] eriknstevenson commented on #85
Really appreciate the quick turnaround on this. I can definitely provide a brief write up of the steps I took to set this up.

As for setting up the webhook to be triggered by deploy events out of the box (not requiring users to enable this themselves), I think [this](https://developer.github.com/v3/repos/hooks/#create-a-hook) might be useful, in particular the `events` parameter might be what you

[2017-11-09 16:08] vsoch commented on #85
Found it!

[code]
So now we have the deployment added to events, plus the scope adjusted. This should work for users that haven't already created a webhook, and for those that have, we can give instruction for how to add the scope. The group is likely relatively small so it shouldn't be a huge hindrance.

I'm really grateful for your help in testing this - it's a very useful thing that I know off

[2017-11-09 16:26] alfpark opened #86 "Build stuck in pending state"
## Link to Container Collection Log, Build, or Collection (in that order)

https://www.singularity-hub.org/collections/204

### Behavior when Building Locally

Builds fine.

### Error on Singularity Hub

Build is stuck, no progress is made. I've tried various things, delete, re-trigger, manual builds, nothing works. Everytime the `Date` always refers back to the first build. I even deleted the col

[2017-11-09 16:32] vsoch commented on #86
hey @alfpark ! I'm debugging this for you now - I was doing work on the server this morning so likely something is off. For now don't touch the collection and I'll send an update soon.

[2017-11-09 17:17] vsoch commented on #86
okay, I figured out the issue - I had a bug (fixed this morning) that was (sometimes) generating instance names with dashes, which is invalid for Google. However in fixing the bug I didn't update the builder metadata, and since these are unique names for a container --> builder, it was finding a builder in the "ACTIVE" queue (one that can no longer be referenced now that the bug is fixed) and then

[2017-11-09 23:58] eriknstevenson commented on #85
Here is a quick rundown of information I would've found helpful in the wiki while figuring this out:
I think this issue can be closed now. Thanks again for the awesome support @vsoch.

## Deployment Builds

### Overview

A deployment build works similarly to a commit (automatic) build and indeed is also automatic, however it checks if the webhook came via a deployment commit first. The build only

[2017-11-10 12:50] vsoch commented on #85
Thanks @narrative ! I just updated the docs, and it's much better than before:

https://github.com/singularityhub/singularityhub.github.io/wiki/Deployment-Build

Closing!

[2017-11-10 12:50] #85 closed

[2017-11-16 17:05] gdolle opened #87 "Collection team management feature"
Currently it seems that only the owner of a github repository can add/manage a collection and can manually trigger builds on singularity hub.

It would be nice to add the possibility for owner to give access to github repository/organization team members via the shub interface (add a check box list in the settings to select which github team member can also manage the shub collection for example t

[2017-11-16 17:11] vsoch commented on #87
hey @gdolle ! This is a good idea! I'll add it as a feature for the next update.

[2017-11-16 17:12] vsoch commented on #86
Looks like we are good? Closing issue!

[2017-11-16 17:12] #86 closed

[2017-11-17 17:00] karlmutch opened #88 "Is debootstrap supported for xenial and other OS's"
## Link to Container Collection Log, Build, or Collection (in that order)

https://github.com/karlmutch/singularity-images/blob/master/ubuntu/16.04/x86_64/cuda_base/Singularity

karlmutch/singularity-images

https://www.singularity-hub.org/containers/836/log

### Behavior when Building Locally

Successfully builds

### Error on Singularity Hub

ERROR Return Code 1: b'Using container recipe deffile

[2017-11-17 17:16] vsoch commented on #88
I think this was fixed, but you need to change your builder! Go into build settings and select the other builder, and give that a try.

[2017-11-17 17:29] karlmutch commented on #88
I tried changing to the 2.4-dev builder which is the only alternative and the web page won't save the option.

[2017-11-17 17:33] vsoch commented on #88
Is there an error message? Can you click save, then tell me what the blue bar at the top says? Or if you navigate away and then come back?

[2017-11-17 17:38] vsoch commented on #88
Right now your builder is set to:

[code]

[2017-11-17 17:41] karlmutch commented on #88
Looks like a UI confusion for me. When I click the drop down I see both a 2.4-dev and a 2.4.  If I select the 2.4-dev then the selection changes inside the drop down selection box.  Then when I click save I see the blue message noting that the -dev version is being used.  When I look back at the selection drop down box it reports I am using the non dev version.

[2017-11-17 17:47] vsoch commented on #88
ok I can fix this up. For now rest assured that the message you see in blue is accurate to reflect your builder choice.

[2017-11-17 17:48] vsoch commented on #88
here is your selection from my end:

[code]

[2017-11-17 17:55] karlmutch commented on #88
Thanks !  Appears to be more of a UI misunderstanding than anything.  Closing

[2017-11-17 17:55] #88 closed

[2017-11-17 18:04] vsoch commented on #88
Thanks! And I just fixed the UI, so it shouldn't be an issue for future users. Thanks for catching the bug!

[2017-11-20 17:06] gdolle opened #89 "CRON schedule build feature"
It would be nice to have the possibility to schedule build directly from the interface.
For example to schedule nightly weekly builds.
That would add another automatic possibility aside to CI deployment and commit build.

[2017-11-20 17:16] vsoch commented on #89
hey @gdolle ! What if you used the scheduler in Circle CI or travis, and then put Singularity Hub on "build on deployment" mode? That would accomplish what you seek, I think. I haven't tried out these new features for the CI, and am definitely interested to learn more.

[2017-11-20 17:17] vsoch commented on #89
here we go! https://docs.travis-ci.com/user/cron-jobs/

[2017-11-21 09:52] gdolle commented on #89
Ah! that can be a solution in my case.
Actually have a repository for singularity recipes separated from the sources (so commits does not follow dev).
We use buildkite CI mainly, but I think I can manage to do the cron via travis thanks for the idea! 👍

[2017-11-21 12:44] patrickvdb opened #90 "Selected branch is ignored"
## Link to Container Collection Log, Build, or Collection (in that order)
[https://www.singularity-hub.org/collections/276]()

[https://github.com/patrickvdb/multiqc-singularity/]()

### Behavior when Building Locally

works

### Error on Singularity Hub
Contradictive branches
![screen shot 2017-11-21 at 13 43 02](https://user-images.githubusercontent.com/6596512/33073061-ee3d681a-cec1-11e7-83bb-b

[2017-11-21 18:39] vsoch commented on #90
yes this definitely looks like a bug! The branch parsing comes from the webhook, so likely we should look there first. If you are able, can you go into your repository settings under Webhooks and send me the payload that was sent to the server? I should be able to debug and figure out from there!

[2017-11-21 19:47] iosonofabio commented on #90
Hi, I am running into the same problem, branches worked on the old version so this is a regression...

here the payload from the latest commit of my branch `stampy` of repo `organic-bo-factory` (https://github.com/iosonofabio/organic-box-factory/tree/stampy):

[code]

The response was: "Hook received, parsing" so it sounds good but nothing happens...

[2017-11-21 19:56] patrickvdb commented on #90
Payload
[code]
Response:
[code]

[2017-11-21 20:14] vsoch commented on #90
Thanks guys this is perfect! I will look into soon. Happy :turkey: week!

[2017-11-21 20:44] vsoch commented on #90
okay first debugging stuffs - I walked through the webhook receive and can confirm the branch is passed to the builder:

![image](https://user-images.githubusercontent.com/814322/33095753-9ee58f02-ceb9-11e7-8478-53aa22d4e62d.png)

[2017-11-21 20:53] vsoch commented on #90
2. builder is receiving and parsing the params with branch included

[code]

[2017-11-21 20:54] vsoch commented on #90
Singularity Hub gets the payload with correct branch:

[code]

[2017-11-21 20:55] vsoch commented on #90
hmm that seemed to work ok - http://singularity-hub.org/containers/900

I did add one value to the metadata that is sent so let me update the server with that change and then we can have another testing done!  One sec...

[2017-11-21 21:13] vsoch commented on #90
@iosonofabio I need to look at yours more closely - it looks like the commits are now included with the payload, and previously this wasn't done (I had a separate function to find all changed recipes). But now there is this new summary with the payload:

[code]

[2017-11-21 21:36] vsoch commented on #90
okay, I figured this out - the Github webhook api is in fact different. I did changes to the code but am going to wait on restarting the server until I have some time to watch it carefully. In the meantime, I've been able to fire off the "stampy" branch, and we can see if that works well. I'm taking a quick run but I'll be able to do the final update later today so that (future) "other branch" bui

[2017-11-21 21:43] vsoch commented on #90
stampy ftw! http://singularity-hub.org/containers/907

I will post here when the code is updated so this works proper.

[2017-11-21 23:41] vsoch commented on #90
okay I've updated the code - the next time you commit to the (off branch) we should be able to test. If there are any errors likely I'll get notified, but if you don't hear from me within usually 24 hours please post here again! And if it works, of course feel free to close the issue. Ty!

[2017-11-22 09:50] patrickvdb commented on #90
It worked for me! Thank you! @iosonofabio?

[2017-11-26 15:50] #90 closed

[2017-11-26 15:50] vsoch commented on #90
I've closed the issue, please re-open if necessary when you test @iosonofabio. Thanks!

[2017-11-26 15:52] vsoch commented on #82
Hey @akhanf do you want to try again with the 2.4.1 builder? I didn't get feedback from any of the others so the build time is the same, but it might be worth trying again. I'll have to increase it for the next round.

[2017-11-26 15:52] vsoch opened #91 "apps rendering on page issue"
speaks for itself

https://singularity-hub.org/apps/adaptive-n-back

[2017-11-26 15:54] akhanf commented on #82
Sure, just queued it up now.

[2017-11-26 16:16] vsoch commented on #91
fixed

[2017-11-26 16:16] #91 closed

[2017-11-26 17:38] vsoch commented on #66
ping @mathiaswagner ?

[2017-11-26 17:40] vsoch commented on #73
Users have profiles, accessible via the top right menu/ list. Closing!

[2017-11-26 17:40] #73 closed

[2017-11-26 17:41] vsoch commented on #26
ping @akkornel !

[2017-11-27 09:06] mathiaswagner commented on #66
Sorry for the delay. The new version is fine.

[2017-11-27 09:06] #66 closed

[2017-11-28 16:13] marcc-hpc opened #92 "How to update descriptions for existing containers?"
First off, great tool! We are eager to use this tool to support users at Johns Hopkins, and using Singularity Hub is very smooth.

http://singularity-hub.org/u/marcc-hpc -> collections
https://github.com/marcc-hpc/theano

Seems like the descriptions are cached on the initial container creation, or did we miss out on an interface to update the description?

[2017-11-28 16:23] vsoch commented on #92
hey @marcc-hpc ! What happens is that the description is maintained for the overall collection to match the one one Github, but updates can only happen when you do a following interaction with Singularity Hub via the webhook. However for individual containers you can edit the descriptions in the interface, and they start with a default of a description matching the collection. For example, try goi

[2017-11-28 16:57] marcc-hpc commented on #92
Thanks! Option 1 is useful (the UI didn't make it clear that it something I could click)
My only remark is maybe having something to indicate we could 'edit' it.

Option 2 is very informative - this is better for longer-term use.

I would classify this as more information needed - no bugs from our POV.

-Kevin

[2017-11-29 16:43] marcc-hpc commented on #92
I feel silly but I'm not able to do Option 1 and 'save', is that just me?

[2017-11-29 17:48] vsoch commented on #92
Can you open the browser console (right click inspect and then go to console table) and tell me what you see when you click, write something, and then click away? Does it change but revert back (and this isn't saving?)

[2017-11-29 18:48] marcc-hpc commented on #92
I don't see any action on the console (should I)?

In the element tab:
`<p id="the_description" contenteditable="true" onkeyup="saveDescription()" class="metric">Climate Data Operator jjj</p>`

I click away and see the new text, but starts over when leaving/refreshing.

Separately I saw

[code]

I don't know if this is related or if this is pertinent.

[2017-11-29 21:01] marcc-hpc commented on #82
I also just saw the 137 with this build https://www.singularity-hub.org/containers/991 - it's likely exceeding 2 hours.

[2017-11-29 21:45] vsoch commented on #82
Is there any particular reason it's taking so long? Have you thought about a strategy of building a base image, and then using it across different builds (to be more consistent, less redundant, and not take too much time?)

[2017-11-29 21:48] akhanf commented on #82
Yes good point about the base build, I think that is the best strategy.

On Wed, Nov 29, 2017 at 4:45 PM Vanessa Sochat <notifications@github.com>
wrote:

[2017-11-30 01:13] vsoch commented on #82
okay great - please try it out and report back!

[2017-11-30 02:01] marcc-hpc commented on #82
Same here, http://singularity.lbl.gov/build-shub, we'll try a similar approach.

[2017-12-04 10:34] gipert opened #93 "Change Github username"
Is there anything that could go wrong or I should be aware of if I change my Github username? I did it yesterday and I'm still able to log in (however the old username persists on the Hub). Then how can I change also the Singularity Hub username?

[2017-12-04 11:23] vsoch commented on #93
It should be updated in the webhook, although the displayed collection name wouldn't be. How were you able to change it? If it's just a few collections, then I can adjust the name in Singularity Hub for you.

[2017-12-04 11:28] gipert commented on #93
I changed it on Github under "(Profile) Settings > Account > Change username"

Only one collection actually, it would be nice!

[2017-12-04 11:31] vsoch commented on #93
ok definitely can! Which collection?

[2017-12-04 11:33] gipert commented on #93
My (old) username was `luigipertoldi` and the only collection I have is `baseos-containers`.

[2017-12-04 11:44] vsoch commented on #93
It looks like most of it changed automatically, which is good! The one issue that I anticipated was a database conflict changing the old container names to be updated, so I removed them seeing them rebuilt.

[2017-12-04 11:47] gipert commented on #93
Thanks so much!

[2017-12-04 11:47] #93 closed

[2017-12-11 21:15] tmozgach commented on #83
@vsoch In my case, the builder got stuck in "Pending" status, I was trying to delete the container build and re-commit it, but it doesn't work. Is that related problem?

https://www.singularity-hub.org/collections/354

[2017-12-11 21:45] tmozgach opened #94 "Perl module fails on Singularity Hub but not locally."
## Link to Container Collection Log, Build, or Collection (in that order)

https://www.singularity-hub.org/containers/1108/log

### Behavior when Building Locally

Singularity version: 2.4.1-master.gf2d7795

Used the follosing command: singularity --debug build linuxbrew41.1.simg Sing4

--> Working on IO::All
Fetching http://www.cpan.org/authors/id/F/FR/FREW/IO-All-0.87.tar.gz ... OK
Configuring I

[2017-12-12 12:34] vsoch commented on #94
You should run the build using the secure build image, that is what singularity hub does. Here are the details of the host (and note installing the secure image branch from @cclerget)

https://github.com/singularityware/singularity-python/blob/master/singularity/build/scripts/singularity-prepare-instance.sh

Importantly, notice that we are doing `make secbuildimg`

Then you can either run it the w

[2017-12-12 16:22] cclerget commented on #94
@tmozgach @vsoch All build failed, try build with developement branch with/without --isolated option and 2.4.2 release.

[code]

Between @tmozgach you don't need to use su and sudo during build you are already root

[2017-12-13 00:18] tmozgach commented on #94
@vsoch @cclerget Thank you for your help, I am pretty new in Singularity. I tried the following options:
* I installed the singularity using the above script:
[code]
I build the container successfully by:
[code]
* Tried the to install 2.4.2 release, with and without --isolated, development branch. I can not repeat error.

If I build the environment like in `singularity-prepare-instance.sh` based o

[2017-12-13 00:46] vsoch commented on #94
I think you would need to have the same base operating system, and then install singularity as above, and then run the entire thing through singularity python (in the scripts linked above). I do believe the os is 16.04 LTS.

[2017-12-13 01:11] tmozgach opened #95 "Building old commit"
When  I delete collection and add the same collection again. The Singularity Hub is building old(yesterday commit, Dec. 11, 2017, 3 p.m. commit). When I recommit it. The new commit is stuck in Pending status forever.
https://www.singularity-hub.org/collections/367
How to correctly stop building and start again? It would be nice to have a button `stop`.

[2017-12-13 01:18] vsoch commented on #95
hey @tmozgach ! When you connect a collection for the first time (regardless of whether it existed before) the repository is parsed for all Singularity files, but importantly, only the commits for which you made a change to a file (so if you changed something like a README.md at a later commit but no Singularity files, this commit wouldn't be used for the build). You are only allowed one builder f

[2017-12-13 01:30] tmozgach commented on #95
@vsoch Thank you for explanation. I did commit exactly for Singularity.1 file today (more the 5 times), but the system starts to build the yesterday commit when I start new collection. I recommitted again and now it took a new commit but stuck in Pending status even if I don't have another buildings.
Just want to clarify, Cancel function is Trash bin(delete container build) on the left?

[2017-12-13 01:31] vsoch commented on #95
yes! I would cancel, then go to build settings and change to manual build, and then build exactly as you want.

[2017-12-18 22:04] tmozgach commented on #94
@vsoch I reached the detailed description of the error:
https://www.singularity-hub.org/containers/1132/log
[code]
One possible problem could be:
[code]

Any thoughts?

[2017-12-18 23:03] vsoch commented on #94
Pinging @cclerget on this- my gut is saying we could do some trick so the build works but the machine host should not have exposed localhost.

[2017-12-21 20:02] tmozgach commented on #94
Hello @cclerget and @vsoch any new updates on this issue?

[2017-12-21 20:07] vsoch commented on #94
We haven't heard yet from @cclerget , who is in charge of the secure builder image. I can't offer any additional insight.

[2017-12-22 11:25] cclerget commented on #94
@tmozgach @vsoch Sorry for the delay. First error after looking at definition file https://github.com/bcgsc/orca/blob/master/Singularity.1, the following line https://github.com/bcgsc/orca/blob/a298ed7c22a33489c043d9b2adb58fc9e8b468c5/Singularity.1#L33, if you don't remove this line, build will always fail. After removing this line I successfully build container

For error:
`# Failed test \'Checki

[2017-12-22 21:50] vsoch commented on #94
hey @tmozgach ! I'm working on a new builder for you right now! I'll let you know when he's ready to go with the updates from @cclerget .

[2017-12-22 21:57] tmozgach commented on #94
@vsoch thank you very much! I appreciate that! =)

[2017-12-22 22:07] vsoch commented on #94
okay @tmozgach the builder is ready, the image is called `singularity-builder-2-4-dev-50gb` please test it out (and note to remove the build line as suggested above) and let us know if it works.

[2017-12-28 01:00] tmozgach commented on #94
@vsoch I tried 2 times to build image but now, it is the in running mode forever:
https://www.singularity-hub.org/collections/367

[2017-12-28 01:32] vsoch commented on #94
Thanks for letting me know - I will shell in and debug this guy manually tomorrow.

[2017-12-28 01:32] vsoch commented on #94
Just to make sure - you changed the builder image?

[2017-12-28 01:38] tmozgach commented on #94
Yes

[2017-12-28 01:41] vsoch commented on #94
Roger that!

[2017-12-28 16:19] vsoch commented on #94
hey @tmozgach , making tiny progress! There was a library with a version that triggered a bug (not surprisingly, pandas) and I was able to fix and update the builder. Could you try a fresh build for the image again? The builder name is still `singularity-builder-2-4-dev-50gb`. I can't say this fix will 100% comb through all the knots in the hairball, but I think we are one step in the right direct

[2017-12-28 22:54] tmozgach commented on #94
@vsoch It is still in the running mode. Thank you for your help to build this image!

[2017-12-29 15:17] vsoch commented on #94
okay, the builder for some reason was still missing pandas, which is a bit confusing because I re-created and wiped the disk, so it must have some kind of timing / cache so that you still were able to use it. I'm again interactively logged into the server and trying to run it manually. If it works (or not) I'll go about re-creating the builder in a different way to hopefully fix this rather stupid

[2017-12-29 15:30] vsoch commented on #94
okay the build seems to work, are either of you @tmozgach or @cclerget familiar with this error:

[code]
it seems to be the one [in the log](https://www.singularity-hub.org/containers/1167/log) that ends the build and thus terminates.

[2017-12-29 15:31] vsoch commented on #94
I'll hold off on creating the updated builder in case singularity needs something done to it.

[2018-01-08 15:02] yarikoptic commented on #58
Hi @vsoch , sorry to pester -- was 2.0 released already?  I just thought to check the downloads count but see none at eg. https://singularity-hub.org/collections/209

Thanks in advance for the clarification

[2018-01-08 19:51] vsoch commented on #58
yep it's on the main page! 19!

![image](https://user-images.githubusercontent.com/814322/34689413-4de17ff4-f46a-11e7-9c61-9ab04e524378.png)

[2018-01-08 20:50] yarikoptic commented on #58
HA -- I got lost!  I went not to "All collections" but "Registry" and that one looked like this:
![img](http://www.onerussian.com/tmp/gkrellShoot_01-08-18_154517.png)
Now I found it, thanks!  Hopefully more to come (i.e. >19 downloads). Cheers!!

[2018-01-08 20:58] vsoch commented on #58
haha, wrong website :P No worries!!

[2018-01-09 18:59] jgrn307 opened #96 "How do I build containers housed within an organization's github?"
Hi there -- I got my lab set up as an educational organization in github, but I can't seem to figure out how to import repositories listed under my organization rather than my personal github.  Ideas?

[2018-01-09 19:29] vsoch commented on #96
Yeah! I'm afk so I can't give you direct links, but under your user settings there should be a tab section for Oauth apps, under which Singularity Hub is one. When you click on it, you should switch the toggle for your organization so it's green and save. Then you should be able to see the tepos there when you add a new container collection.

[2018-01-13 21:18] akhanf opened #97 "Environment variable for Singularity.<tag> usable in recipe file?"
Wondering if there is currently some way to access the <tag> (extension from Singularity.<tag>) within the recipe file for automated builds, or if not, whether it could be a future feature?

 e.g. would be used like the CIRCLE_TAG environment variable in CircleCI.  I am finding it is necessary when porting some existing Docker+CircleCI workflows to Singularity+Shub

Thanks!
Ali

[2018-01-13 21:38] vsoch commented on #97
oh that's an awesome idea!! I think you can do this with Singularity proper (and so we would just need to update the docs). Here is a little Singularity build definition I just wrote:

[code]
Note that it just will show the environment variables with Singularity. So let's see what it produces:

[code]

So you can use the variable `SINGULARITY_BUILDDEF` during your post, and parse however you need

[2018-01-13 21:46] vsoch commented on #97
And here is the "Vanessa-lazy-way-with-python" way to parse it, hehe:

[code]
Singularity.omgtacos
[code]
[code]

[2018-01-13 22:15] akhanf commented on #97
Perfect, thanks!!

Ended up doing a bash parse:
SINGULARITY_TAG=${SINGULARITY_BUILDDEF#Singularity.}

[2018-01-13 22:17] vsoch commented on #97
awesome! Glad to be of help. I'll leave this open if you like to add a feature for the next go around / update, although likely that won't be for a bit.

[2018-01-16 00:52] henrykironde opened #98 "Docs about singularity and Drone io integration"
Trying to get singularity and Drone io set up. Any help is welcome

[2018-01-16 01:10] vsoch commented on #98
I'd be totally glad to help! How can I help?

[2018-01-16 10:57] TormodLandet opened #99 "Trigger build button does nothing"
Logged in, using Firefox 57.0.4 on Red Had Enterprise Linux.
Viewing this page: https://www.singularity-hub.org/collections/95

I expected the trigger build button to add an active build to the list on the page

Clicking the refresh button on the page gives a message "No containers found in the pending queue"

[2018-01-16 12:54] vsoch commented on #99
hey @TormodLandet ! I wanted to let you know I see the issue, and expect a little delay from me while I recover from a surgery. I'll hopefully be able to catch up with things soon, and please let me know if this is urgent!

[2018-01-16 13:03] TormodLandet commented on #99
Take all the time you need. This was more for your information

[2018-01-16 14:43] vsoch commented on #99
thank you :relaxed:

[2018-01-24 22:14] lkmokadam opened #100 "error"
## Link to Container Collection Log, Build, or Collection (in that order)

Write here.

### Behavior when Building Locally

Write here.

### Error on Singularity Hub

Write here.

### What do you think is going on?

Write here.

[2018-01-24 23:24] vsoch opened #101 "add badges!"
Probably can't do this soon, but check out the coolness!

[![https://img.shields.io/badge/hosted-singularity--hub-%23e32929.svg](https://img.shields.io/badge/hosted-singularity--hub-%23e32929.svg)](https://singularity-hub.org/collections/458)

We could probably host the svg ourselves.  Here are various wanted formats:

[code]

[2018-01-24 23:33] vsoch commented on #100
Good thing I can read your mind, the robots have a log that you can look at to figure out what the error is. I see several, so that is where to start. Congrats on posting issue #100! You win a cookie! :cookie:

https://singularity-hub.org/containers/1460/log

[2018-01-25 14:55] YPatois opened #102 "What is singularityhub?"
Hi,
Just starting with singularity.
The doc seems to miss some "what is singularityhub made for?"
I guess it's a way to store singularity images description and helping to instantiate it, but I dont know.
The doc start by "providing more detail on how to build, manage, and deploy your images", but well, before the details, what is it about?
Thanks.

[2018-01-25 15:02] vsoch commented on #102
hey @YPatois ! I'd be glad to update this for you! Singularity Hub is a free an openly available registry for Singularity containers. It will build your containers from recipe files (simple text files) on Github, and then make them programmatically available with the Singularity software. Are you familiar with Singularity itself?

[2018-01-25 15:03] vsoch commented on #102
Did you see the README, and was this missing information for you?

https://github.com/singularityhub/singularityhub.github.io#singularity-hub

[2018-01-25 16:20] YPatois commented on #102
Thanks :-)
I didnt saw the README, that's right.
I went to look for the doc before having a look at the code in git.
Maybe a line in the doc could help anyway?
Thanks again.

[2018-01-25 16:53] vsoch commented on #102
Sure thing! What would you suggest?

[2018-01-26 09:39] YPatois commented on #102
Hi,
What you have in the readme looks good:
"What is Singularity Hub?

Singularity Hub is a registry for scientific images. The core of the Hub are the Singularity container images. A Singularity container image is built from a build file called Singularity, which is akin to the Dockerfile."

I'm not a native English speaker, so I may miss some details, anyway:

"scientific images" seems too vague

[2018-01-26 14:02] vsoch commented on #102
thanks @YPatois ! I just rewrote the first part of the README, let me know what you think. All of your points were spot on minus the detail for the build recipe. It must actually be called `Singularity` minimally (and can have some extension to indicate a tag) for the hub to search the repository and find it.

[2018-01-26 14:20] YPatois commented on #102
Hi,
Thanks for your work, I like it :-)

But my original comment was about something else.
If I google "singularity hub", I wont come on the github page, but there:
https://singularity-hub.org/

And there I read : "Hi friends! Welcome to the new Singularity Hub. Read the Release Notes for important changes to the platform, browse our updated documentation , and please let us know if you run into a

[2018-01-26 14:50] vsoch commented on #102
Ah I completely agree, the flow is terrible! (I hadn't thought about coming from the site). How about this fix?

https://github.com/singularityhub/singularityhub.github.io/wiki

So now you go from Singularity Hub website --> the link above, and it presents the more gentle opening. What do you think?

[2018-01-30 15:32] vsoch commented on #99
hey @TormodLandet I'm alive! *tiny roar* I've fixed the issue with the button (the link just needed to be on the outside, instead of inside around the text) if you'd like to take a look. Note that it won't add immediately a build to the current page, it takes you to select the commit and Singularity recipe file to choose first!

[2018-01-30 15:58] vsoch commented on #101
Done!
![badges](https://user-images.githubusercontent.com/814322/35576210-4abd60f6-0593-11e8-8b7c-de58fa1e4d14.png)

[2018-01-30 15:58] #101 closed

[2018-01-30 15:58] vsoch commented on #102
Thanks for greatly improving this! I'm going to close the issue give all our work, and please open up again for discussion if you find any other unclear documentation flows.

[2018-01-30 15:58] #102 closed

[2018-01-30 15:59] vsoch commented on #98
ping @henrykironde, how can I help?

[2018-01-30 16:04] henrykironde commented on #98
I talked to a few folks and it turned out that they have not used Drone io and singularity. May be a new feature request to support Drone io like dockers

[2018-01-30 16:04] TormodLandet commented on #99
Thank you! Working now 😃 🥇

[2018-01-30 16:04] #99 closed

[2018-01-30 16:10] YPatois commented on #102
Great :-) Thanks again!

[2018-01-30 16:14] vsoch commented on #98
If you could give me more details, it would be helpful. I don't know what drone.io is, or what an example use case looks like.

[2018-01-30 17:48] honwaileong opened #103 "Lost connection from github"
## Link to Container Collection Log, Build, or Collection (in that order)

https://www.singularity-hub.org/collections/502

### Behavior when Building Locally

No auto build of Singularity detected.

### Error on Singularity Hub

None.

### What do you think is going on?

I accidentally screwed up some settings in my github repository, manually removing some OAuth apps in github. As a result, when

[2018-01-30 18:32] vsoch commented on #103
If you removed the Oauth, then you essentially deleted your account. You need to start from scratch - make sure to log out from the browser, log in fresh to grant permission, and then try the build again.

[2018-01-30 18:51] honwaileong commented on #103
I tried login fresh and didn't work for the first time. I tried again and it is working now. Thanks for your prompt reply.

[2018-01-30 18:51] #103 closed

[2018-02-01 02:13] henrykironde commented on #98
This is for reference, an article on drone.io works with dockers.
https://blog.maqpie.com/2017/03/21/build-and-deploy-applications-using-drone-ci-docker-and-ansible/

[2018-02-01 18:18] vsoch commented on #98
If you are interested in singularity having integration with drone, this is an issue to bring up as an issue here https://github.com/singularityware/singularity/issues Having such functionality requires more advanced control of services that is not yet developed for Singularity, and that would be needed before any kind of discussion here. Thanks!

[2018-02-01 18:18] #98 closed

[2018-02-01 18:25] henrykironde commented on #98
Thanks @vsoch I will create a new issue https://github.com/singularityware/singularity/issues

[2018-02-01 18:34] vsoch commented on #98
Awesome thank you! There are a bunch of CI and general container tools that (once Singularity fits a formal specification and has controllers for services) will be really fun and useful to develop. I don't know a lot about drone.io but it looks clean and useful, and will definitely help out getting it up and running when Singularity proper is up to speed.

[2018-02-04 22:25] willprice commented on #85
@narrative could you share your Auto-Deployment configuration? I'm trying to set up a similar workflow but can't get the Auto-Deployment integration to trigger the Singularity Hub webhook.

Here's the workflow I'm after:
* Push new commit, status is set to `pending`
* Travis builds container
* Travis pushes container to Docker Hub
* Status of commit changes to `success`
* Auto-Deployment integrati

[2018-02-04 22:41] eriknstevenson commented on #85
Hi @willprice,

The workflow you describe is the same one I was after. I did manage to get it working eventually so there is hope. I configured GitHub Auto-Deployment as follows:

- **GitHub token**: I used a token generated in `GitHub's Settings -> Developer Settings -> Personal access tokens`. Ensure the token you generate has all "repo" permissions enabled.
- **Environments**: I used "productio

[2018-02-04 22:50] willprice commented on #85
Hi @narrative,

Thanks for the quick response. I've got more details on an ongoing thread on the Singularity mailing list: https://groups.google.com/a/lbl.gov/forum/#!topic/singularity/C79YrwZHyPY

I've got the exact configuration you describe *except* for *all* the `repo` permissions enabled, I've got all the sub-repo options enabled, but not the top level `repo` one. I've just created a new toke

[2018-02-09 04:51] andersgs opened #104 "Container building stalled. Manual trigger doesn't seem to fix it."
## Link to Container Collection Log, Build, or Collection (in that order)

https://www.singularity-hub.org/collections/579

### Behavior when Building Locally

Works! Built it successfully on a VM running Centos7 and the latest version of Singularity.

### Error on Singularity Hub

Just seems to sit there. Starts with "WAITING", and the other "PENDING". Then just sits on "WAITING". Because I had s

[2018-02-09 08:44] vsoch commented on #104
hey @andersgs ! I just looked into this for you - there have definitely been issues with triggering builds as a result of the google api's being pinged to remove your old running instance (and then the queue not being updated). I just changed some things around and you have a build running for the main "Singularity" file. For the second one, the build errored because you just needed to specify the

[2018-02-09 09:10] vsoch commented on #104
hey just fixed one more bug :) I'm going back to sleep but I'll check this when I wake up.

[2018-02-09 09:42] vsoch commented on #104
haha just kidding, wanted to get the second one up and running. NOW I'm going back to sleep! :sleeping:

[2018-02-09 14:23] vsoch commented on #104
Houston we have containers!

https://www.singularity-hub.org/collections/579

Let me know if you run into any other issues or have questions! Feel free to close if resolved.

[2018-02-09 21:58] andersgs commented on #104
That is awesome!! Thank you so much @vsoch!!! Much appreciated!!! Hope you had a good sleep.

[2018-02-09 21:58] #104 closed

[2018-02-14 19:33] shahzebsiddiqui opened #105 "tag display in container collection"
## Link to Container Collection Log, Build, or Collection (in that order)

https://www.singularity-hub.org/collections/143

I would like to have a column ``tag`` that shows the image tag since I am building multiple containers in a collection that represent different HPC application. This would be more intuitive than to click inside each container image to see the tag.

[2018-02-20 16:52] 0xaf1f opened #106 "broken link in wiki"
Towards the end of https://github.com/singularityhub/singularityhub.github.io/wiki/Share-Containers, the link where it talks about adding a README to the container is broken.

[2018-02-20 17:02] vsoch commented on #106
Fixed! Give it a try now.

[2018-02-20 20:31] 0xaf1f commented on #106
:ok_hand: Thanks!

[2018-02-20 20:31] #106 closed

[2018-02-23 13:57] #100 closed

[2018-02-23 14:04] apeltzer opened #107 "Permission issues with administrative/member access on GitHub"
### Error on Singularity Hub
When clicking on "add new collection" and selecting a project in our organization that was not initially created from me, I "turn the project on" and click on submit and get back to the listing of all my collections. There is no new project created, unfortunately.

### What do you think is going on?

We got this fixed by setting my access permissions to "administrator"

[2018-02-23 14:22] vsoch commented on #107
Thanks @apeltzer ! To add some more comments, right now shub is showing all repos that a user has membership for, but this doesn't always give write permission to create webhooks. See this table here https://help.github.com/articles/repository-permission-levels-for-an-organization/ about permission needed for webhooks is to change "settings" (admin or owner).

[2018-02-23 15:04] AaronTHolt commented on #82
I also ran into this issue as I'm compiling a bunch of software in my container. Would it be possible to add an error message for builds that are killed after 2 hours? A quick message in the docs would work, too.

[2018-02-23 15:28] vsoch commented on #82
If you look in the log, it should be there!

[2018-02-26 20:53] yarikoptic opened #108 "Make full uri and recipe visible upon hover or smth like that"
## Link to Container Collection Log, Build, or Collection (in that order)

when building from github receipes, uri might get lengthy and if there is also tags, they might all be truncated, so it is impossible to see which entry is actually which, see e.g. https://www.singularity-hub.org/collections/654
![and here is a webshot](http://www.onerussian.com/tmp/sing-cut.png)

So if at least I could fig

[2018-02-26 21:00] vsoch commented on #108
Totally agree! This is repeat of #105 so I'll close here. I can definitely do these fixes when some free time opens up, just a bit busy. Thanks @yarikoptic !

[2018-02-26 21:00] #108 closed

[2018-02-26 21:00] vsoch commented on #105
See the issue linked above (closed) for more detail and screenshots - this issue is still open and represented here (#105)

[2018-02-26 21:01] vsoch commented on #108
oh heck, I can add a quick tooltip! Give me a few minutes.

[2018-02-26 21:10] vsoch commented on #105
Done! Please check your respective collections and let me know if you like the change. The "branch" column was largely useless so I added tag there, and it already feels much more useful :)

![image](https://user-images.githubusercontent.com/814322/36695518-96ddad92-1b0f-11e8-8a8e-a5ac3f81c83a.png)

Apologies for the crappy screen shot - my laptop is struggling, lol.

[2018-02-26 21:11] yarikoptic opened #109 "debian bootstrap recipe fails, not clear reasons"
## Link to Container Collection Log, Build, or Collection (in that order)

Here is a sample (I have 4 tags) log: https://www.singularity-hub.org/containers/1873/log to build from this recipe https://github.com/yarikoptic/vowpal_wabbit/blob/master/singularity/Singularity.debian-unstable-i386

### Behavior when Building Locally

It seems to build just fine locally using

`sudo singularity build sing

[2018-02-26 21:11] vsoch commented on #108
And now I feel better about closing this because it's actually fixed :) Your wish for a tag column... granted!

[2018-02-26 21:12] vsoch commented on #108
...silly wabbit, tags are for kids!

[2018-02-26 21:17] vsoch commented on #109
I think this comes down to needing a dependency on the host that singularity hub doesn't have in the secure build. @cclerget any insight to this, other than manually doing the build and viewing the log? I'm finding similar bugs like https://github.com/meefik/linuxdeploy/issues/555

[2018-02-26 22:24] yarikoptic commented on #108
Gy, thanks!
But checkout mobile view... Even in a good one https://www.singularity-hub.org/collections/39 doesn't look that good :-/

[2018-02-26 22:34] vsoch commented on #108
Yes, we know I'm not a web developer, and I only do things on computers. If it's possible to pull and interact with containers, then I'll more quickly prioritize this :)  For now you will have to endure the terror!

[2018-02-27 00:42] yarikoptic commented on #108
ah ok, no problem.  I just discovered it because checked the "fix" while on the phone

[2018-02-27 01:04] #105 closed

[2018-02-27 02:05] shahzebsiddiqui commented on #105
@vsoch  it looks pretty good for starters I think we can close this task and get feedback from community. Another minor thing is why tag name is getting lower case. Check my files in https://github.com/shahzebsiddiqui/eb-singularity/tree/eb_images/centos/7.3.1611 and the corresponding containers in SHUB.

I tried following the documentation by using Singularity.<TAG-NAME> and it does not reflect t

[2018-02-27 02:09] vsoch commented on #105
Thanks! If you look at Docker Hub (and others) it's custom to make all lowercase - it generally decreases chance for error if the user asks for the wrong name.  https://github.com/docker/compose/issues/1416 I think it looks better too :)

[2018-03-01 13:38] yarikoptic commented on #109
@vsoch , thanks for pinging @cclerget .... but I wondered -- is there a way to get a hold of those /usr/local/var/singularity/mnt/container/debootstrap/debootstrap.log which might shine the light on the situation

[2018-03-01 13:41] vsoch commented on #109
I would have to catch the builder mid build, sneak in, and look at the log before the server is brought down. It also takes about 30 minutes to an hour to mimic the builder and manually bring up an instance to test. Given that a new builder will be made when Singularity is updated (soonish?) and the number of things on my todo queue, I would like to explore these other options first.

[2018-03-01 13:44] vsoch commented on #109
Ah but actually you can test this! If you install singularity (last release) and then run a secure build (with the --isolated flag) it should mimic what is going on (minus the extra bells and whistles). That might be worth trying in the meantime.

[2018-03-01 14:11] vsoch opened #110 "ensure that user profile not filtering for anonymous users"

[2018-03-01 14:11] vsoch commented on #110
to *include* anonymous users!

[2018-03-01 14:12] vsoch commented on #110
[code]

[2018-03-01 14:48] yarikoptic commented on #109
sure, no problem.  Actually, I could also probably just build them out of base docker images -- I think that might avoid the problem
isn't last release 2.4.2 which I have and which doesn't have --isolated for build?

[2018-03-01 14:51] vsoch commented on #109
We have isolated! Here is the routine to prepare the host: https://github.com/singularityware/singularity-python/blob/master/singularity/build/scripts/singularity-prepare-instance.sh#L52

[2018-03-01 14:52] vsoch commented on #109
And you know what they say, all roads lead (or come from) not Rome, but Docker layers!

[2018-03-01 15:07] cclerget commented on #109
@vsoch @yarikoptic Just reproduce error on my machine without and with  --isolated option, that's not related to secure build, I rebuild secure build image to use last ubuntu 18.04 (bionic): same errors. I run build under singularity 2.4.2-dist: same errors. Looks like a debootstrap bug, I have no idea why it works for you, maybe you patched debootstrap or you build on a i386 machine ? (I run buil

[2018-03-01 20:45] vsoch commented on #109
@yarikoptic can you try building the container with a docker debian base (not debootstrap?)

[2018-03-03 22:27] yarikoptic opened #111 "one build stuck Running another Errored"
## Link to Container Collection Log, Build, or Collection (in that order)

https://www.singularity-hub.org/collections/209

The Errored one used to build fine before -- I just moved recipe under a subdirectory in the git repo. Now fails with `E: Can not write log (Is /dev/pts mounted?) - posix_openpt (2: No such file or directory)` .

Another just says Running for a while already. Built fine local

[2018-03-03 22:43] vsoch commented on #111
Yeah I saw the container and killed it because it was running over a day! I think we will likely do best to wait for the update, but if you are able to start the container running again (and then ping me when it's been going and seems to be stuck) then I can connect to the build for some live debugging action! Sorry for the trouble, we will figure it out :)

[2018-03-05 21:33] justinblaber opened #112 "Pushing singularity image to singularity-hub"
Is there a way to create a singularity hub repo (similar to docker-hub) to push singularity images to? Instead of using a github + webhook to rebuild automatically. With dockerhub we can just push images whenever we feel like it with `docker push` and then assign whatever tag we want.

I guess my main issue here is if we have a large amount of data that we package in the singularity container what

[2018-03-05 22:13] vsoch commented on #112
You should deploy a Singularity registry for your institution, and you can push to that!

[2018-03-05 22:13] vsoch commented on #112
https://singularityhub.github.io/sregistry

[2018-03-05 22:32] justinblaber commented on #112
So just to be clear, singularity registry is like dockerhub but we would have to host it?

Whereas singularity-hub is a github dependent webhook based dockerhub basically?

And if we want the functionality of doing a `singularity push <singularity image>` we would definitely need a singularity registry?

I'm just trying to get the thousand foot view of our options here.

Thanks!

-Justin

[2018-03-05 23:04] vsoch commented on #112
Hey @justinblaber !

Now that I have a few moments I can take the time to give you a more thorough response! Singularity Hub is a cloud hosted (Google Cloud) builder service, meaning that there is a central server and workers (I call affectionately "the builders") that are deployed on demand to build an image. Singularity Hub is hosted by Stanford, so this means two things. First, while I would wi

[2018-03-05 23:06] vsoch commented on #112
We just merged teams into sregistry this morning, and next on the queue is security scanner (likely clair) and custom builders, if you have thoughts on those things!

[2018-03-06 02:26] justinblaber commented on #112
Thank you so much for the info!!! I'll try out Sregistry and see how it goes.

[2018-03-10 01:58] baberlevi opened #113 "build dying without much feedback"
## Link to Container Collection Log, Build, or Collection (in that order)

https://www.singularity-hub.org/containers/2019/log

### Behavior when Building Locally

Build completes

### Error on Singularity Hub

`Return value of 137`

### What do you think is going on?

No idea. This did take a long time to build locally, but otherwise was ok.

[2018-03-10 02:02] vsoch commented on #113
The log indicates it was killed, so it took too long given the limits of shub building. I would recommend you separate the build into components and then use one of the images as a base, and build the other onto it. Try to keep it under 2 hours, or you will get Killed. Give that a go, and please share an update!

[2018-03-14 01:49] justinblaber opened #114 "Activate Github button doesnt appear to do anything"
I'm trying to trigger a manual build but whenever I click "activate github" nothing *appears* to happen. Then when I try to trigger a new build it says "Beep Boop Error".

I did login to another github and try to authenticate through singularity hub and it actually ended up making the collection on this account by mistake (my thought were that singularity hub would make another account to match th

[2018-03-14 01:54] vsoch commented on #114
hey @justinblaber!  I do have the error in the server log - and I'm glad you pinged because it gives context!  Let me try to understand where you are starting from - what do you mean "activate Github?" Do you mean when you are originally logging in? If it's not obvious you can just take screen shots.

[2018-03-14 01:57] vsoch commented on #114
ah, so the reason for the second (server) error is because the response to get your branches came back unexpected - instead of the branches I see:

[code]
Could you share with me how you are trying to authenticate? Did you authenticate before and change anything?

[2018-03-14 01:58] justinblaber commented on #114
https://i.imgur.com/CUXdY4Y.png

Theres a button that says "activate github" even though I've logged in through my "justinblaber" account. I did login and authenticate on a separate github account ("vuiiscci" if you're interested) thinking it would create a "vuiiscci" account on singularity hub. Instead I stayed logged in to "justinblaber" and the container collection actually created it on my "ju

[2018-03-14 02:02] justinblaber commented on #114
I later cleared the cache and browser history on my browser and tried again and it created the a new "vuiiscci" account btw (to which I  was able to successfully create a singularity image)... But I'm wondering if this somehow corrupted my "justinblaber" account. Hopefully this makes sense.

[2018-03-14 02:09] justinblaber commented on #114
Also FYI I have no idea if these things are actually related to the problem but it seems like a bug to me...

[2018-03-14 02:22] vsoch commented on #114
no this information is great! We will try one thing at a time until it's resolved. The picture is very useful because it's a state that (no longer) should be attainable - being logged in but without Github credential. We can address that after the first (possibly easy) fix. You said that the button to authenticate with Github did nothing? I just looked at (and tweaked) the code, and have that butt

[2018-03-14 02:38] justinblaber commented on #114
Ok, I clicked it. It appeared to re-authenticate. Afterwards, it brought me back to the same page. But the button didn't go away. After clicking it again it does nothing now...

[2018-03-14 02:40] justinblaber commented on #114
![screenshot from 2018-03-13 21-38-46](https://user-images.githubusercontent.com/7379482/37380493-0091eaa2-2707-11e8-8780-ff2da88e5727.png)

If I log out and log back in I see this now. Clicking "Activate github" does nothing.

[2018-03-14 02:41] vsoch commented on #114
I think I found the bug, give me a few minutes to fix and restart the server! It looks like you somehow have two Github credentials associated with the justin account, so the function that verifies this (and renders the above) isn't working as it should. Thank you for your patience as we debug, I will let you know when to try again.

[2018-03-14 02:43] vsoch commented on #114
And just for sanity check, these are the collecitons you currently have for each user:

[code]

[2018-03-14 02:43] justinblaber commented on #114
I do? The other account uses a different e-mail... No idea how that happened.

And yes, those collections look correct.

[2018-03-14 02:49] vsoch commented on #114
Can you look in your Github settings and see if you have Singularity Hub authorized twice? And if just once, can you give me any (non private) details like what permissions it has? I can fix the issue with logging in, but I'm more interested in how this happened in the first place (I saw it once a few months ago)

[2018-03-14 02:53] vsoch commented on #114
Yes both the tokens for justin have the jusin-based email, and the vusicci the vusicci one. It's just two tokens for the same service associated with your account, that's what we would want to figure out how it got to that state :)

[2018-03-14 02:55] vsoch commented on #114
Oh I think it does make sense - one time you logged in with private, and the other without? That would create two tokens (associated with different permissions).

[2018-03-14 02:57] vsoch commented on #114
I just restarted the server - could you please try the login again and tell me what you get?

[2018-03-14 03:00] justinblaber commented on #114
![screenshot from 2018-03-13 21-55-20](https://user-images.githubusercontent.com/7379482/37381099-65dcc736-2709-11e8-819c-780108f58b60.png)
![screenshot from 2018-03-13 21-55-06](https://user-images.githubusercontent.com/7379482/37381101-65f6b40c-2709-11e8-82bc-4e905dd7fdd9.png)

Is there another place which would say if singularity hub is authorized twice? The above is what I could find.

[2018-03-14 03:02] justinblaber commented on #114
I can log in now but if I try to trigger build I get the beep boop sadness

[2018-03-14 03:03] vsoch commented on #114
Yes! But I think I know that bug now too :) Give me one sec to test out my intuition and then I'll give you an update.

[2018-03-14 03:51] vsoch commented on #114
ok I did a ton of work... could you please test? I might need to finish this tomorrow, I didn't sleep last night either and I feel kind of sick (I'm on east coast so it's near midnight)

[2018-03-14 03:58] justinblaber commented on #114
IT WORKS (or at least appears to)!!! Please get some sleep.

[2018-03-14 04:04] vsoch commented on #114
haha, and I just fixed another bug with returning available branches... let's hope that didn't undo that one :P  I will check the logs again tomorrow morning! Yes, going to start getting ready for bed! I had it SO planned out today to be :zzz: by 11pm and well, there's always tomorrow! Err, later today... :L)

[2018-03-14 16:01] JohnLangford opened #115 "Webhook isn't working or can't setup Collection."
## Link to Container Collection Log, Build, or Collection (in that order)

I want to setup Vowpal Wabbit (https://github.com/JohnLangford/vowpal_wabbit ), but am having some configuration problem in setting things up.

### Behavior when Building Locally

N/A.

### Error on Singularity Hub

I can't seem to add VW as a Collection no matter what I do in the singularity account.   See the detailed dis

[2018-03-14 16:07] vsoch commented on #115
There were a few bugs I fixed this morning, could you try deleting the collection (in Singularity hub) and reconnecting? I should be alerted again via the server logs if an issue comes up!

[2018-03-14 16:13] JohnLangford commented on #115
I don't think I have a collection to delete.

"My Collections" still leads to a mostly empty page with a "My Container
Collections" header followed by a "Add a Collection" button.

On Wed, Mar 14, 2018 at 12:07 PM, Vanessa Sochat <notifications@github.com>
wrote:

[2018-03-14 16:17] vsoch commented on #115
Can you come on Gitter to chat? It will be easier to interactively look into this! --> https://gitter.im/singularityhub/lobby

[2018-03-14 16:22] vsoch commented on #115
okay, so I don't see that you have any collections:

[code]
so that first page showing empty makes sense. If you are getting an error that the webhook already exists, it likely does and since Singularity Hub didn't do the deleting (because there was some bug) it still might exist with your collection (in Github settings). Could you look there?

[2018-03-14 16:40] JohnLangford commented on #115
Adding from gitter:
Apparently, there are many webhooks on github (not sure why they are
multiplying).
I deleted all webhooks in singularity and then did Add a Collection ->
click on vowpal_wabbit -> Submit Query. The result on singularityhub was:
Errors: Hook already exists on this repository
The result on github was a 404 in the webhook with (I believe)
Singularityhub saying: {"status": "error",

[2018-03-14 20:59] stevekm opened #116 "How to build several containers from a single repository?"
## Link to Container Collection Log, Build, or Collection (in that order)

Singularity:
https://www.singularity-hub.org/collections/730

Docker:
https://hub.docker.com/r/stevekm/ngs580-nf/tags/

### What do you think is going on?

On Docker Hub, I have several containers for a single repository. How can I set up the same configuration on Singularity Hub?

Screenshots of setup on Docker Hub & Singu

[2018-03-14 21:13] vsoch commented on #116
Hey @stevekm ! It's much simpler than that - the recipes are discovered in the repository as any file with a Singularity. prefix. The extension is the tag of the image, and no extension builds latest. The folder location is irrelevant, and in the case of duplicates, the most recent file is used. For example:

[code]
You would only need to go into specifying an actual file if you change your collec

[2018-03-15 04:02] vsoch commented on #114
hey @justinblaber did you hit any more issues today? I wound up fixing a few more bugs, so wanted to check back in with you.

[2018-03-15 04:35] justinblaber commented on #114
Has worked perfectly so far. Thank you!!!

[2018-03-15 04:37] vsoch commented on #114
Okay great! I'm closing the issue and please reopen if needed.

[2018-03-15 04:37] #114 closed

[2018-03-18 15:53] nickjer opened #117 "Keeps asking me to login"
I am not entirely sure where to post this issue, so feel free to point me in the right direction if this is the wrong place.

I am pretty lazy and so I regularly type in the url https://singularity-hub.org in my browser (note that I do not type out `www`). I login with my GitHub credentials successfully, but then I notice after I login it redirects me to https://www.singularity-hub.org (note the `

[2018-03-18 16:02] vsoch commented on #117
Hey @nickjer! You posted in the right spot :)  This is a weird problem because the redirect URL has to be one thing that cannot change, but as a user you could be coming from either. We had problems for a really long time just with both the www and not working with the certificates (I had to register them both from a custom file, it's pretty cool) so I was happy that it was working, period.

This

[2018-03-18 17:35] nickjer commented on #117
Great, no rush. I can definitely use the `www.` subdomain in the meantime. Thanks!

[2018-03-20 17:27] edraizen opened #118 "Build stuck running"
## Link to Container Collection Log, Build, or Collection (in that order)

https://www.singularity-hub.org/collections/248

### Error on Singularity Hub

Runs forever (> 1 day), tried many times after killing it. One time it it stopped with the error '"nvidia/cuda:8.0-cudnn6-devel-ubuntu16.04" does not exist', but it has worked in the past and I think that is still the recommended container to bui

[2018-03-20 18:00] vsoch commented on #118
hey I'll check this out for you!

[2018-03-20 18:34] vsoch commented on #118
okay, it looks like the build will run fine - what hangs is when it tries to track the remote branch py3, it hangs here:

[code]
I'm not sure about why this particular branch is having issue, but the quick fix is to try building from master (and see if it still hangs). What I am going to do for the next update (when I need to make new builders) is have the branch cloned from the getgo (right now i

[2018-03-20 19:28] edraizen commented on #118
Thanks, I will try that. Would it be possible to show that output in the log while it is building?

[2018-03-20 20:51] vsoch commented on #118
Yes!! And in fact that's what the web builder does - it will give you a url to go to (that updates every 10 seconds). Even as we speak I'm testing out grapha (so you could have a log and metrics)!! This stuff is SO cool!

[2018-03-20 21:16] edraizen commented on #118
Cool!

I pushed the changes of that branch into master and rebuilt that. However, it is still running after 2 hrs -- no idea if it's hanging somewhere or still working...

[2018-03-20 21:19] vsoch commented on #118
I can't say I know what's going on. I do think it has to do with the python version and running the builders. So I think our best option is to wait for the next version of Singularity when I make the builders and then to update those libraries. I will probably move the actual build steps outside of python and then just have the python bits do the interaction with the apis.

[2018-03-21 17:22] vsoch commented on #118
hey @edraizen I wanted to let you know I'm working on this now! I don't have an ETA because it's a lot of changes, but we will get your containers building soon! :)

[2018-03-21 18:42] edraizen commented on #118
Thanks! I think I found the problem: PyTorch takes a really long time to compile with one cpu.

[2018-03-21 20:04] vsoch commented on #118
ahh that would do it :)

[2018-03-22 15:49] baberlevi commented on #113
Layers are working. Thanks

[2018-03-22 15:49] #113 closed

[2018-03-26 19:42] smoe opened #119 "Failed invoking the NEWUSER namespace runtime: Invalid argument"
Dear @vsoch,

I installed singularity with conda and thought to follow the example deployment from https://github.com/singularityhub/singularityhub.github.io/wiki/Deploy

## Link to Container Collection Log, Build, or Collection (in that order)

$ singularity run shub://vsoch/hello-world
Progress |===================================| 100.0%
ERROR  : Failed invoking the NEWUSER namespace runtime: I

[2018-03-26 19:42] edraizen commented on #118
Not sure if that was the problem, it is still running!

[2018-03-26 19:55] vsoch commented on #118
I'll check it out for you.

[2018-03-26 19:58] vsoch commented on #119
If you are running this on your local machine then you should open the issue here https://www.github.com/singularityware/singularity/issues as it's an issue with Singularity (runtime) and not Singularity Hub. Thank you!

[2018-03-26 19:58] #119 closed

[2018-03-26 20:44] smoe commented on #119
Thank you, @vsoch. Over at singularity I found this closed issue https://github.com/singularityware/singularity/issues/415 which basically says that I need to contact our system adminsitrator for the likely need of a system-wide installation as root.

[2018-03-26 20:53] vsoch commented on #118
Just an update - I won't be able to do this until later this evening! I would recommend that you give the builders a try if you are able --> https://singularityhub.github.io/builders

[2018-03-26 20:55] vsoch commented on #119
Awesome! Yeah it seems to be different at every place. When you've installed and used singularity once... you've installed and used singularity once, haha :)

[2018-03-26 23:34] vsoch commented on #118
I don't see the collection, as a builder, so if it has running state it's an error. Does the collection still exist? If the collection exists and it says running, that is an incorrect state and you should delete the container and rebuild. Then when it's still running ping me and I'll shell in to test. A few more things to check:

 - how big is the image and layers? We have to download the layers,

[2018-03-28 21:23] mbhall88 opened #120 "Build status badge"
I know there is a badge you can add to Github that links to your container(s) being hosted on Singularity Hub but I was wondering if there is a way to have a build passing/failing badge also (similar to something like travis CI). I had a look at the API for my containers but there doesn't seem to be any fields in the response JSON that could be used to judge this.

Any thoughts?

## Link to Contai

[2018-03-28 21:35] vsoch commented on #120
This would be a cool feature! Right now you would have to link to the collection page and view the button. I'll keep this in mind for a future update!

[2018-03-29 14:50] vuiiscci opened #121 "Pulling from a private collection"
I have a private collection with a singularity image I'd like to run with:

`singularity run -e -B INPUTS/:/INPUTS -B OUTPUTS/:/OUTPUTS shub://vuiiscci/Multi_Atlas_app`

However, since it's private (I assume) I'm getting:

[code]
Is there a way we can log in (maybe by exporting environment variables) so I can pull this image?

Thanks,

-Justin

[2018-03-29 14:56] vsoch commented on #121
You are actually only the second user to take advantage of private! What I added to the interface for this case is that you can click on the name of the image link to get a link to download your image from the browser. This is how the client does it, but getting the link from the manifest first. The reason private images aren't supported right now is because it would require a level of authenticat

[2018-04-05 18:32] yarikoptic opened #122 "Singularity hub built images should contain a shub:// url for them in the metadata"
## Link to Container Collection Log, Build, or Collection (in that order)

ATM, having a local image file, it is not possible to figure out its "origin":

[code]
May be the images generated on the singularity hub could contain some kind of "origin" notion with a URL and anything else necessary to it could later be pulled down again.
Q: May be it is possible to ask singularity hub for a particular

[2018-04-05 18:57] vsoch commented on #122
The build is up to Singularity, so if you want this to be present, add it as a label! And yes, you can pull based on the hash if you add --hash to the pull command with shub.

[2018-04-05 22:03] yarikoptic commented on #122
I am talking about images from others, which I might have pulled and renamed and have no recollection where I got it from.
In our case -- we want them for repronim project where we are trying to trace components (packages, repositories, etc) to collect enough information to compare them ("am I using the same components?)") and where possible to reinstall (do all the same git clone, apt-get install

[2018-04-05 22:06] vsoch commented on #122
I would use Singularity Global Client then, it helps you with this management, eg:

[code]
Organization of your images I think is outside the scope of Singularity Hub.

that one just renames the file to match the hash... What I meant was to be able to pull it based on the hash:

You have to provide the image uri, and then get a hash as a result. To pull a specific hash you would then provide the u

[2018-04-06 04:25] vsoch commented on #122
I'm not saying an ability to figure out the origin is a bad idea or feature, but it belongs with the build software, not Singularity Hub. It's not in Singularity Hub business to add extra metadata or otherwise mess around with the build file. It is (I believe) being added to Singularity version 3.0 image signing, and this would provide a complete signed image. As for the url, you are able to pull

[2018-04-06 07:25] ipelupessy opened #123 "Zypper example does not build"
The vanilla zypper example doesn't build on singularity hub

## Link to Container Collection Log, Build, or Collection (in that order)

https://www.singularity-hub.org/containers/2421/log

### Behavior when Building Locally

works.

### Error on Singularity Hub

Valid metadata not found at specified URL

### What do you think is going on?

not sure. maybe the GPG keys are not imported automaticall

[2018-04-06 09:56] vsoch commented on #123
@cclerget is this a limitation of secure build?

[2018-04-14 16:24] omsai opened #124 "UI issue: collection page confusingly shows build status "..." when page width too small."
On Firefox 52.7.3 when the browser window width is 1435 pixels or smaller, the build "status" always shows "...".  I spent a day scratching my head not realizing whether or not my builds were submitting, couldn't check the logs, etc.

[2018-04-14 16:24] omsai commented on #124
See https://www.singularity-hub.org/collections/913

[2018-04-14 16:40] vsoch commented on #124
On Chrome:
![image](https://user-images.githubusercontent.com/814322/38770409-cdf0811a-3fe0-11e8-96e7-bf5c223b8990.png)

and on Firefox:
![image](https://user-images.githubusercontent.com/814322/38770417-f449a918-3fe0-11e8-8416-a9e08f01ab54.png)

I don't quite understand the issue, could you show me?

[2018-04-14 20:46] omsai commented on #124
Here are my screenshots (these are Xfce on Debian 9 and also on Gentoo):

Firefox 52.7.3 ESR (Debian 9)
![image](https://user-images.githubusercontent.com/166624/38772349-f975bf24-4023-11e8-864b-0a71587c1992.png)

Tor Browser 7.5.3 / Firefox 52.7.3 ESR (Debian 9)
![image](https://user-images.githubusercontent.com/166624/38772338-be7c15d0-4023-11e8-813a-20b9c9dfb63b.png)

Indeed, though the button

[2018-04-14 20:48] vsoch commented on #124
Can you look in the js console and see if the browser / adblock is blocking any scripts? Right click then inspect then console tab!

[2018-04-14 21:02] omsai commented on #124
I think I neglected to mention that if I resize the window over the ~1435 pixels, then the button appears:
![image](https://user-images.githubusercontent.com/166624/38772445-5c2671ca-4026-11e8-9551-3837f26c0ef4.png)

The 3 extensions I have are Zotero, Privacy Badger and HTTPS Everywhere (disabling them didn't have an effect).  Nothing in the javascript output besides depreciation warnings, and no

[2018-04-14 21:24] omsai commented on #124
Some progress!  In the inspector rules if I add `overflow: visible` to the `<td>` properties I see the button, but it's not pretty:

![image](https://user-images.githubusercontent.com/166624/38772594-05b76b9c-402a-11e8-8530-51e408da2c93.png)

[2018-04-14 21:53] vsoch commented on #124
Ah! I just got some intuition (I'm afk but can test this later!) I think there is a min-width of maybe 38 or something pixels on the button... what happens if you remove that attribute?

[2018-04-14 22:15] omsai commented on #124
There is a `width: 130` on the button (element  / HTML tag itself), and removing that helps but only very slightly.  There doesn't seem to be a `min-width` present in the hierarchy and adding a low `min-width` also doesn't help.

[2018-04-14 22:27] vsoch commented on #124
okay, replicated! Here is the issue replicated:

![image](https://user-images.githubusercontent.com/814322/38773005-600b7f20-4011-11e8-81e5-9d6fd26e3ca8.png)

And when I remove the width property, it shows up.

![image](https://user-images.githubusercontent.com/814322/38773007-6b84fe4e-4011-11e8-8cec-9352685c9890.png)

Does this fix it for you as well? I am using `tor-browser-linux64-7.5.3_en-US.t

[2018-04-14 22:57] omsai commented on #124
Thanks for all your help so far!

Your suggestion is something I had tried, but you'll find if you shrink the window slightly more to <= 984 pixels, the button disappears instead of clipping gracefully as in your first set of screenshots you posted.  I feel the button disappearing is problematic because it effectively imposes a minimum window width requirement of 984 pixels, but removing `width: 1

[2018-04-14 23:01] vsoch commented on #124
I can definitely make this fix for you, and it's at a loss of the buttons looking pretty on all pages that do have support for the width (because the buttons become unequal sizes). I don't think it's reasonable to jump through hoops to try and get it working under 900 or something pixels - Singularity Hub isn't intended to be used on mobile devices and I don't plan to invest (in the near future) i

[2018-04-15 00:51] omsai commented on #124
I can live with the ~900 pixels.  My laptop screen isn't big enough for the 1400+ pixels!  Thanks again.

[2018-04-15 01:04] vsoch commented on #124
okay please take a look! I just pushed the change.

[2018-04-15 12:38] #124 closed

[2018-04-17 17:56] vsoch opened #125 "next update: limit table size"

[2018-04-17 17:59] vsoch commented on #118
hey @edraizen did you get a chance to try the builders? Also, can you give me a rough estimate of time differences when building on 1 vs 2 vs 3 vs 4 cores? If it is significantly faster with more cores, I could consider increasing the default number (and the increase cost could be offset by the muchly decreased time). Thanks!

[2018-04-17 18:24] stevekm commented on #99
Not working for me, on macOS under Firefox 58.0.2 (64-bit) and Chrome Version 65.0.3325.181 (Official Build) (64-bit). I clicked it several times but it does nothing

<img width="1298" alt="screen shot 2018-04-17 at 2 20 54 pm" src="https://user-images.githubusercontent.com/10505524/38888917-0b1d0cb8-424b-11e8-9213-903053071973.png">

[2018-04-17 18:33] vsoch commented on #99
I don't think this issue is about the same button - to trigger a build you must select the commit to do, and click "Trigger Build." The button there I believe would be to rebuild an already existing container. If there is an error there I don't think that would work, but I haven't looked closely at it. Please try Triggering with the Trigger Build button and selecting a commit.