[2020-03-16 14:09] vsoch commented on #207
You have a 2 hour build limit, and here are some ideas!

- you can build a Docker container and pull to Singularity using the docker:// uri
 - you can build a Docker base image and skip time compiling in your build
 - you can do the same but with a Singularity base.

[2020-03-17 10:39] matmu commented on #207
@vsoch thanks for your answer. Are these suggestions meant for making the docker image available on singularity-hub.org? If yes, could you give me more specific information on how to do this? E.g. how can I "build a Docker base image and skip time compiling in my build"?

Regarding your first suggestion, I know that I can build a local Singularity image with
[code]
Is there a way to push it to sin

[2020-03-17 11:41] vsoch commented on #207
No, Singularity Hub does not allow pulling images. If you want I can offer to help with an automated build for Docker Hub, so you could always pull to Singularity.

[2020-03-17 11:44] matmu commented on #207
@vsoch that would be great!

[2020-03-17 11:49] vsoch commented on #207
okay, looks like you already have Dockerfiles! https://github.com/matmu/vep/. It's still before 6am here and I'm going to go back to sleep, but if you want to make an account on Quay.io or Docker Hub and then add DOCKER_USER and DOCKER_PASS (and for Quay this would be a robot username and token, that is my recommendation) I'll open a PR later today with a GitHub workflow to build and deploy.

[2020-03-17 11:50] vsoch commented on #207
And to be clear you don't need to share these secrets with me, just add them to your repository encrypted secrets and tell me the key that you chose so I can reference them in the recipe. See https://help.github.com/en/actions/configuring-and-managing-workflows/creating-and-storing-encrypted-secrets.

[2020-03-17 13:04] matmu commented on #207
@vsoch Sorry to bother you so early. I have created the encrypted secrets. It's not clear to me however, which key you need. Can you help me with that.

Also, could you use the Singularity recipes unter https://github.com/matmu/vep/ for the automated build? I have added some additional runscripts in there.

[2020-03-17 17:02] vsoch commented on #207
We are going to be building Docker containers for Docker Hub, so please update the Dockerfiles there for deployment. I'll put together a GitHub workflow soon and then use DOCKER_USER and DOCKER_PASS, which I assume you've set as secrets.

[2020-03-17 17:18] vsoch commented on #207
@matmu what is the name of the registry repository and your username that you want to push to?

[2020-03-17 17:22] vsoch commented on #207
I'll need to know at least which registry, and the name of the username/container to open a PR with this first draft. Thanks!

[2020-03-17 19:03] matmu commented on #207
@vsoch I hope, I get you right: I would like to push my images **from docker://matmu/vep** to **shub://matmu/vep** by using the recipe files Singularity.* at https://github.com/matmu/vep/. I have set the secrets DOCKER_USER and DOCKER_PASS for my repo at https://github.com/matmu/vep/.

[2020-03-17 19:30] vsoch commented on #207
Sorry I think there is some misunderstanding here - I can create an automated build _on GitHub_ that will build the Docker.* recipes in the repository and push to a _Docker Registry_ and then be available via:

[code]
You are still not allowed to push to Singularity Hub :0) Let me know if this is not clear...

[2020-03-18 22:02] RichardCorbett opened #208 "java heap space error"
### Links

 - container collection:   https://singularity-hub.org/containers/12557/log
 - GitHub repository or recipe file: https://github.com/RichardCorbett/PROFYLE_TMB

### Version of Singularity

Write here

### Behavior when Building Locally

Hi folks I can build this locally on my network without any special switches. ie:
`sudo singularity build  --force PROFYLE_TMB PROFYLE_TMB.recipe
`
### E

[2020-03-18 22:11] vsoch commented on #208
Yes, unfortunately the Singularity Hub instances only have about 3.75 GB of memory. You can try:

 - decreasing the requested amount, and I'd give it some buffer
 - building some base on Docker Hub and pulling said base after the memory operation is done
 - using sylabs cloud

[2020-03-18 22:23] RichardCorbett commented on #208
Thanks.   I tried a build locally using only 3Gb but ran out of RAM and it crashed.   I'll take a look into using sylabs.

[2020-03-18 22:42] vsoch commented on #208
Great! Sorry I can't offer more than that, I've been running this for almost 4 years now, and also procuring funding, refactoring when needed, responding to issues, and the thing that I definitely can't do is give total freedom to use expensive resources. Good luck with Sylabs Cloud, closing issue.

[2020-03-18 22:42] #208 closed

[2020-03-18 23:30] RichardCorbett commented on #208
No problem.   I really appreciate your responsiveness.   Best of luck!

[2020-03-18 23:36] vsoch commented on #208
Thanks! It's almost dinner here, so for this tiny bloop of space time, all is well! haha ;)

[2020-03-19 17:23] vsoch commented on #207
hey @matmu - just wanted to share with you that Docker just added an official GitHub Action:

https://github.com/marketplace/actions/build-and-push-docker-images

So this should make it very easy to copy the recipe there and create an automated build to Docker Hub for your Docker recipes! You can then pull those containers to singularity as I showed above. Please ping me if you want any help or re

[2020-03-19 17:23] #207 closed

[2020-03-22 00:25] adriansev opened #209 "el7 builders possible?"
### Links
 - container collection:
https://singularity-hub.org/collections/4175

 - GitHub repository or recipe file:
https://github.com/adriansev/cvmfs2go

### Version of Singularity
singularity version 3.5.3-1.1.el7

### Behavior when Building Locally
no problem, succesful

### Error on Singularity Hub
Nothing happens : No containers found in the pending queue.

### What do you think is going on

[2020-03-22 00:26] vsoch commented on #209
Please try a Docker bootstrap with a centos image, the host is not centos.

[2020-03-22 00:30] adriansev commented on #209
ok, thanks, this is a no-go for me.

[2020-03-22 00:30] #209 closed

[2020-03-23 21:19] adriansev opened #210 "how to trigger a manual build"
### Links
 - container collection:
https://singularity-hub.org/collections/4183
 - GitHub repository or recipe file:
https://github.com/adriansev/el7hep

### Version of Singularity
3-4-2-100-gb

The problem is that i cannot trigger the build on master.
I did many times (now i'm blocked) trigger-> select dash and Singularity and Build but nothing happened and no error messages were shown.
Any idea

[2020-03-23 22:09] vsoch commented on #210
You can only access an interface 25/day (or for some, just 10) so if you are blocked you'll need to wait until the next day. Once you are unblocked, please walk me through what you are trying to do, with screenshots if needed, and the error messages / other that you see. Thanks!

[2020-03-23 22:11] vsoch commented on #210
It looks like your Singularity recipe is a symbolic link, which if I recall correctly the builder should be able to handle, but you might be better off specifying the .def file directly. Also please confirm all of the settings you are using in your Collection Settings page - for example, there is an option to do a manual trigger for a build (and I suggest you try this first). Chat tomorrow!

[2020-03-24 00:00] adriansev commented on #210
So, i found the problem: when triggering the manual build it request a commit, and i was taking the `-` as a default head instead of missing variable. As soon as i actually selected the commit the build started. Would be possible to have the default entry `-` to mean the head of the branch? (in this case the master)?
Thank you!

[2020-03-24 00:08] vsoch commented on #210
Great! The `-` is just indicative of an empty select box - I never thought that someone would choose it as their commit! I'd be happy to look into if there is some way to remove / disable this empty value.

[2020-03-24 00:22] adriansev commented on #210
Well, i would propose to have `HEAD` as default value, with the meaning of the head of the branch...
given the possibility and recommendation to have versions mapped to branches, most often the intent of a builder would be to build the latest version of the said branch

[2020-04-02 14:30] matmu commented on #207
Hey @vsoch,

I apologize for my late reply. You could manage to create my own Github workflow for building and publishing. Unfortunately, Github-hosted runners are also restricted in size but I managed to free 40Gb which is enough for building.

All the best!

[2020-04-07 12:28] agilly opened #211 "Return value 137 when building on the Hub"
### Links

 - container collection: hmgu-itg/burden_testing
 - GitHub repository or recipe file: hmgu-itg/burden_testing/Singularity

### Version of Singularity

Locally, 3.5.2

### Behavior when Building Locally

Builds successfully.

### Error on Singularity Hub

[code]
### What do you think is going on?

Not sure. The build process is quite long due to the number of dependencies to download, bu

[2020-04-07 13:21] vsoch commented on #211
The killed signal says that the build is over the time or memory limits, and thus is killed.

[2020-04-07 14:47] agilly commented on #211
Thanks Vanessa, which do you think it is? I can try and make build shorter, but I'm not sure how to limit memory consumption at build time.

[2020-04-07 14:49] vsoch commented on #211
You can tell by looking at the start and ending time stamp for the log - if it’s exactly 2 hours it was time. Of course time is related to size and downloading, as that takes time. Have you tried building on Docker Hub or Quay and pulling to Singularity?

[2020-04-07 15:07] agilly commented on #211
I have a couple ideas to make it build faster, I'll try that first before I convert the recipe to a dockerfile. So 2 hours is the build time limit, what's the memory cap?

Another quick question, there is no way to see the build logs live, is there?

[2020-04-07 15:13] vsoch commented on #211
n1-standard-2 - see here for the stats! https://cloud.google.com/compute/docs/machine-types

[2020-04-07 15:15] vsoch commented on #211
And no, unfortunately logs are known to the server after the build (or when it fails) via sending to storage. If there were oodles of more interest, money, or time for Singularity Hub I could have thought of a live way (seems that all CI services have that) but since it’s a small operation this has worked ok. :)

[2020-04-07 15:51] agilly commented on #211
I see. Well, FWIW I think the whole Singularity ecosystem is an important and useful effort, and hosting containers on the hub for easy access is very convenient. The container in question is actually for analysis by multiple scientific groups as part of a scientific consortium. With this setup, they just have to install singularity, pull the image and run. All libraries and prerequisites are incl

[2020-04-07 15:53] ramou commented on #211
Amen to that.

On Tue, Apr 7, 2020 at 11:51 AM Arthur Gilly <notifications@github.com> wrote:

--
Stuart Thiel, P. Eng.

[2020-04-09 06:05] agilly commented on #211
Unfortunately even after doing some optimisations on the Singularity file, it still seems to build in >2h on the cloud (much faster locally). You mentioned docker, so I used `spython` with a docker writer to produce a Dockerfile. Had to make manual changes (e.g. `cd` to `WORKDIR`) but it eventually built, and was pushed to docker hub.

Still wanted to have an image on shub for user convenience, ho

[2020-04-09 06:07] vsoch commented on #211
Can you please post the log here so it’s not behind a login for future inspection? You can use a details html tag if it’s very big.

[2020-04-09 06:11] agilly commented on #211
Sure, here they are:
[code]

[2020-04-09 06:18] agilly commented on #211
And attached is the former log which attempted to build everything on shub directly (that one is long, too long even for `<details>`).

[build.log](https://github.com/singularityhub/singularityhub.github.io/files/4454357/build.log)

[2020-04-09 06:20] vsoch commented on #211
Wow! So the container is really so big that it takes a full two hours just to pull layers and try to create the sif - you can see the time stamp cut at 2 hours with the kill message to a T. 14.5GB! That might be the biggest that I’ve seen attempted to build:

https://hub.docker.com/r/agilly/burden_testing/tags and actually we can’t even be sure it would ever finish that, the machine has only ~7.5

[2020-04-09 06:32] agilly commented on #211
I was afraid you were going to say that 😅 The image is massive because of one single large data download, which is performed at install time by a crucial piece of software in there (ensembl VEP). I had already thought about ways to make the user download it and then mount it, but it's a bit tricky because changes are then needed in multiple bits of code. Until we decide to embark in that direction

[2020-04-09 06:33] #211 closed

[2020-04-22 13:49] dctrud opened #212 "HTTP Code is 200 OK when body indicates an error"
### Version of Singularity
3.5.3

### Error on Singularity Hub

[code]

### What do you think is going on?

Singularity Hub is returning a response that is the text '429' (too many requests), but the HTTP status code on the response is 200 - so Singularity is trying to interpret it as a successful request.

[code]

The HTTP code on the response should be set to `429` rather than `200 OK` so that c

[2020-04-22 15:06] vsoch commented on #212
Yeah I’m aware of this. For now just assume that the body of 429 indicates this error. I won’t be doing server work for some time.

[2020-04-22 16:18] vsoch commented on #212
Code is updated, will go live with next round of server work (and I'll update the issue here).

[2020-05-07 14:44] zhinoos opened #213 "ERROR: 'Bootstrap' type not supported: library"
### Links

 - container collection:
 - GitHub repository or recipe file:

### Version of Singularity

Write here

### Behavior when Building Locally

Write here.

### Error on Singularity Hub

I recieved this error while building image on singularity hub :
Found spec file Singularity.latest in repository
ERROR: 'Bootstrap' type not supported: library
ERROR: 'Bootstrap' type not supported: library

[2020-05-07 15:03] ramou commented on #213
40% chance running dos2unix on your singularity file. Took me forever to
figure out that it was hiding that linebreaks were confusing it,
specifically windows linebreaks.

On Thu, May 7, 2020 at 10:45 AM zhinoos <notifications@github.com> wrote:

--
Stuart Thiel, P. Eng.

[2020-05-07 16:06] vsoch commented on #213
Thanks @ramou ! Also be sure to check that your builder (collection settings) is 3.x and not something like 2.5.1.

[2020-05-08 02:10] zhinoos commented on #213
@vsoch the default version of singularity is 2.x, so how can I change it to 3.x?I could not find settings in my collections.

[2020-05-08 02:13] vsoch commented on #213
If you go to your collection you can click on settings and change your default builder. Are you aware of the documentation, which is linked in the top bar? https://singularityhub.github.io/singularityhub-docs/docs/builds/#how-do-i-customize-build-settings

[2020-05-08 04:31] zhinoos commented on #213
Yes, thanks. Just found it. and do you know why I can not run .def file to build an image on Singularity hub?

[2020-05-08 04:33] vsoch commented on #213
The recipes are auto detected and must be named in the structure of Singularity.* or just Singularity. You can try putting .def files in a folder called Singularity and I’ve seen that hack work. You can also trigger manual builds and specify any file that you want. I would encourage you to look more closely at the documentation because most of these questions that you’re asking are already answere

[2020-05-12 23:01] kangzhiq opened #214 "[User Guide correction]Image building issue for the first Singularity file"
### Links

N/A

### Version of Singularity

N/A
### Behavior when Building Locally

N/A

### Error on Singularity Hub

The Singularity file created before **Add a new repository** is not built.

### What do you think is going on?
I am new to Singularity so I followed the Use Guide step by step to create my first image: [Build A Contrainer](https://github.com/singularityhub/singularityhub.github.io

[2020-05-29 22:04] vsoch commented on #213
@zhinoos do you still need help here or can we close the issue?

[2020-05-29 22:06] vsoch commented on #182
Closing issue here, nothing to do. If you are interested in deploying your own registry, see https://singularityhub.github.io/sregistry that now has a minio backend for very speedy interactions.

[2020-05-29 22:06] #182 closed

[2020-05-29 22:07] vsoch commented on #182
Also you might be interested in https://github.com/biowdl/singularity-permanent-cache/pull/1, a little library one of the Cromwell folks is putting together to handle downloads that honor the cache and don't require connectivity.

[2020-05-29 22:09] vsoch commented on #212
okay the server is updated, so the issue should be resolved (the response message is formatted as you specified with the correct status). Thanks for reporting this, sorry for the delay, and please re-open if anyone reports issue.

[2020-05-29 22:09] #212 closed

[2020-05-29 22:10] #184 closed

[2020-05-29 22:51] dtrudg commented on #212
:+1:

[code]

[2020-05-29 22:59] vsoch commented on #212
hooray! So happy to see an error message (said no one ever, except for today!) Have a good weekend @dctrud and thanks again.

[2020-06-04 05:44] jafaruddinlie opened #215 "builder does not detect finished image in subfolder"
### Links

 - container collection: https://singularity-hub.org/collections/4402
 - GitHub repository or recipe file: https://github.com/jafaruddinlie/shub/blob/master/vardict/Singularity.vardict_1

### Version of Singularity

Local: 3.5.3
shub: singularity-builder-3.4.1-100GB

### Behavior when Building Locally

Builds fine.

### Error on Singularity Hub

The build looks OK but exited with this e

[2020-06-04 05:51] vsoch commented on #215
Could you please attach the entire log here as a text file?

[2020-06-04 06:09] jafaruddinlie commented on #215
Done and done!
[singularity-build-log-jafaruddinlie_shub-June 4, 2020, 12_02 a.m..txt](https://github.com/singularityhub/singularityhub.github.io/files/4727854/singularity-build-log-jafaruddinlie_shub-June.4.2020.12_02.a.m.txt)

[2020-06-04 06:18] vsoch commented on #215
I don’t see the end message about the finish time which concerns me - perhaps the builder was killed because of memory or filesystem limits. Could you please run again and:

- enable debug mode in your collection settings
 - report the total build time on Singularity hub
- report the memory and build time on your local machine

And then again include the log here! It’s after midnight so I’m off to

[2020-06-05 00:38] jafaruddinlie commented on #215
Hope you had a good night sleep!
Here's the log as requested (debug mode turned on)

I didn't manage to note down the time it takes to build on shub, but on local machine it is around 30 minutes, size of the container 3.7GB, and memory used during the build around 1GB.

[singularity-build-log-jafaruddinlie_shub-June 4, 2020, 2_35 a.m..txt](https://github.com/singularityhub/singularityhub.github.io

[2020-06-05 00:48] vsoch commented on #215
Thank you! The build time looks ok, similar to on your host:
[code]
I'll need to debug this interactively, if not tomorrow then over the weekend (it's already after dinner time the next day since you originally posted, so time to relax!)

[2020-06-05 14:51] vsoch commented on #215
hey @jafaruddinlie ! I've tested your build, and the container does complete successfully. There are two issues that I found (that we can debug separately) to figure out which is leading to the failure. The first is the container test. To test the container, we execute the "ls" command. However, your container doesn't seem to have an ls:

[code]
So even if there is an issue before that, the test w

[2020-06-08 01:03] jafaruddinlie commented on #215
1. I found out that one of the export PATH had a typo in the %environment section, I've fixed this and re-uploaded the Singularity file but it still has the same error.
2. Same updated recipe, built from the root, works.

Both logs are attached.

[singularity-build-log-jafaruddinlie_shub-vardict_notroot_dir.txt](https://github.com/singularityhub/singularityhub.github.io/files/4743377/singularity-b

[2020-06-08 01:07] vsoch commented on #215
Great! So we know the exact bug now. I update builders when there is a major release of Singularity _and_ it coincides with a server restart, so unfortunately that won't be any time soon. I'll rename this issue to be with respect to the image path not detected when from a subfolder, and in the meantime you'll have to do builds with a recipe in the root. Thanks for reporting this issue!

[2020-06-08 12:11] vsoch commented on #215
@jafaruddinlie if you could, might we be able to keep the recipe around for use when I develop the builder? I can ping you again when that time comes to keep you updated about the process.

[2020-06-09 00:19] jafaruddinlie commented on #215
Yep, not a problem!

[2020-06-16 13:00] ctpelok77 opened #216 "Webhooks are rejected with 500"
### Links

 - container collection:
https://singularity-hub.org/collections/4449

 - GitHub repository or recipe file:
https://github.com/ctpelok77/fd-red-black-postipc2018

### Version of Singularity
Tried all three

### Behavior when Building Locally

Not tried

### Error on Singularity Hub

Not showing errors, not showing any activity.

### What do you think is going on?

Webhooks from github a

[2020-06-16 13:50] ctpelok77 commented on #216
Not sure if that's related, but I also cannot choose a commit for manual build. I can only see the "-" and the field is not writeable.

[2020-06-16 16:31] vsoch commented on #216
hey @ctpelok77 ! I know this error well - you've exhausted the branch limit for one call to the API (how we get branches for a collection) so that master isn't in the list. Here is what Singularity Hub sees:

[code]
This has only happened once before in the ~4 years or so, so it's not something I've refactored the server to fit (I am very conservative about making changes generally). What I can do

[2020-06-17 16:17] Aneoshun commented on #136
Hi @vsoch,
I am running into the same problem. I have an organisation for my research group, and I want the members of my lab to put their code on github and use Shub to host the final image of their papers. However, I would like to also have access to their collections on shub, for instance to maintain them after they leave the lab.  Now that SRegistry has teams (and bots), do you see a different

[2020-06-17 16:47] vsoch commented on #136
Singularity Registry server is similar in some respects, but it's an entirely different tool, so adding teams wouldn't be an easy copy paste thing, and further, it would complicate trying to do it alongside GitHub permissions. I am hugely averse to changing the model that would need to do a migration on the database, because I absolutely cannot afford to lose it, so I don't see wanting to change t

[2020-06-17 16:51] Aneoshun commented on #136
Alright! Thanks for letting me know. I totally understand.

Given that we only have a single project, probably the easier would be to delete the collection on my student's Shub account and recreate it on my Shub account. In the future, I will make sure to be the one creating the collections. Do you see a potential risk in doing this?

[2020-06-17 16:54] vsoch commented on #136
The only risk is that you would delete the previously built containers, and need to re-build on your account. I'd be happy to make the change for you on the server, in the case that you have containers already, it would save extra builds (each of which we pay for).

[2020-06-17 16:56] Aneoshun commented on #136
Ahh I haven't thought about this. Where/how do you want me to submit the request with the info?

[2020-06-17 17:00] vsoch commented on #136
I'll send you an email!

[2020-06-17 17:01] Aneoshun commented on #136
Thanks!

[2020-06-17 19:16] tjhendrickson opened #217 "Singularity recipe not building. Any help much appreciated!"
### Links

 - container collection: 3125
 - GitHub repository or recipe file: https://github.com/tjhendrickson/CORTADO

### Version of Singularity

Write here

### Behavior when Building Locally

Within the Singularity recipe file I am attempting to install Miniconda and required python packages. I copied and pasted what I believe are the offending lines in the Singularity recipe:
**wget https://r

[2020-06-17 21:46] vsoch commented on #217
Have you built this recipe successfully locally?

[2020-06-17 21:50] vsoch commented on #217
okay, I just tried to build your container locally and I got the same exit with failure:

[code]
Let me look at the error message and see if I can offer any help!

[2020-06-17 21:52] vsoch commented on #217
This looks like it's a dependency issue - the conflicts are not able to be resolved, and you can see that in the full error message:

[code]

[2020-06-17 21:54] vsoch commented on #217
The error that you see on shub is likely that the console doesn't support one of the characters printed in the output above, it's mostly a distraction from the main issue. To fix this, you'll have to figure out how to resolve dependencies. Why are you using Python 2, to be curious? It's been deprecated now a while, and a lot of the software you need has much more updated versions.

Anyway, I'm gla

[2020-06-17 21:57] vsoch commented on #217
I'm testing it for you now with Miniconda 3.

[2020-06-17 22:01] vsoch commented on #217
Try this - it changes the miniconda install and that's it. It went through the conda install fine, and I pressed control+c at the FSL install, so it would be worth testing to see if it completely builds.

[code]

[2020-06-18 12:31] tjhendrickson commented on #217
Wow thank you so much Vanessa!

Thank you for going through all of this testing. Part of the issue here is
that due to COVID and working from home I no longer have a machine to build
containers locally. I suppose I could look into whether I could easily do
this with my windows laptop... Anyway, I've been using Singularity Hub to
test my builds for the time being, but it is not as verbose as local

[2020-06-18 14:41] vsoch commented on #217
Glad to help!

[2020-06-18 14:41] #217 closed

[2020-06-18 15:56] ctpelok77 commented on #216
It works, thank you!
I often work with repos that have a large number of branches. Maybe worth making sure that the default branch is in the list?

[2020-06-18 16:04] vsoch commented on #216
The default branch doesn't actually come back as anything special in the response, it's just one in the list!

[2020-06-18 16:08] vsoch commented on #216
Let me do a quick test to see how easy it would be to paginate, brb.

[2020-06-18 16:11] vsoch commented on #216
Wow, you have a LOT of branches.

[code]

[2020-06-18 16:13] ctpelok77 commented on #216
There is a "default_branch" property in the response (see example here: https://developer.github.com/v3/repos/#get )

[2020-06-18 16:18] vsoch commented on #216
okay I just did a (manual) update so you would actually have 474 (yikes!) if you want to take a look - this won't go live until the next server update which wouldn't be for a few months.

[2020-06-18 16:19] vsoch commented on #216
The call done is https://api.github.com/repos/ctpelok77/fd-red-black-postipc2018/branches.

[2020-06-18 16:20] vsoch commented on #216
It's not really a sure thing to just assume that the user wants the default branch, there is actually no good way to predict what other branches they might want to build. So we either truncate at 30 and give the user advice to manage branches, or the update I just did, which paginates the request to return all branches found.

[2020-06-18 16:38] ctpelok77 commented on #216
I was only suggesting that if you go with truncating at, say, 30, it might be helpful to many to add the default branch to that small subset. Obviously, it will not cover all cases.

[2020-06-18 16:39] vsoch commented on #216
Sorry I can be more clear - I already updated the call to the branches endpoint to paginate.

[2020-06-18 16:45] ctpelok77 commented on #216
Appreciate your help! I guess we can close the issue now

[2020-06-18 16:58] vsoch commented on #216
I'll add the finished label (and we can leave open) and that's an indicator / reminder to future me to do some sanity checks when I next do server work. Thanks for reporting the issue!

[2020-06-29 04:13] frankier opened #218 "Feature request: build on successful checks"
### Links

 - container collection: https://singularity-hub.org/collections/4494
 - GitHub repository or recipe file: https://github.com/frankier/skelshop/blob/master/Singularity

### Error on Singularity Hub

No error, but it doesn't build on a successful deployment. Looking at GitHub webhooks the latest has received the response: `{"status": "Received, building disabled."}`, but I have re-enable

[2020-06-29 04:22] vsoch commented on #218
hey @frankier - building is certainly not disabled, and the message is indicating that the standard commit -> build is disabled, which it is, because you collection is set to deploy on DEPLOYMENT (which must be triggered from a CI service). If you want to change your collection to build on a commit or manual trigger, then you need to change the build trigger. If you are having difficulty still, I

[2020-06-29 04:23] vsoch commented on #218
And here is more information about what it means to trigger based on deployment: https://singularityhub.github.io/singularityhub-docs/docs/builds/deployment

[2020-06-29 04:59] frankier commented on #218
The GitHub documentation is a bit all over the place now, but I now get the idea this would mean pinging the GitHub API with curl or something to create a new deployment event/object, while making sure to protect my personal authorisation key. This is a bit complex for simple cases where we just want to run some tests and only build when they pass.

So may I instead rather cheekily make issue into

[2020-06-29 05:28] vsoch commented on #218
It's much simpler than that, when you use CI services and they are connected via "GitHub checks" a similar webhook is sent out to attached services. You as a user do not need to do any sort of "pinging with curl" or even interact with an authorization key. When the webhook is created, a secret is shared with singularity hub that is used to validate the payload. All the user needs to do is check wh

[2020-06-29 05:48] vsoch commented on #218
More information on the [deployment event](https://developer.github.com/webhooks/event-payloads/#deployment) and then for example, how to trigger a deployment from a CI [travis](https://docs.travis-ci.com/user/deployment/releases/). If you want to meet the use case of "do a build when all checks pass" this would be functionally equivalent to having a trigger of commit to master, which you would th

[2020-06-29 05:56] frankier commented on #218
Thanks for the info. Working to condense some of this higher level info into the docs.

[2020-06-29 16:47] vsoch commented on #218
Thanks again for your help with the docs @frankier ! https://singularityhub.github.io/singularityhub-docs/docs/builds/deployment.

[2020-07-01 00:12] vsoch commented on #218
I think we've addressed the issue and updated the docs, so going to close. Thanks again @frankier !

[2020-07-01 00:12] #218 closed

[2020-07-30 14:37] cokelaer opened #219 "How does singularity hub deal with github repository renaming ? not reflected in my collections"
### Links

 - container collection:   https://singularity-hub.org/collections/4586
 - GitHub repository or recipe file: github.com/cokelaer/damona

### Version of Singularity

This is about the singularity_hub  rather than singularity itself

### Behavior when Building Locally

looks good locally and on singularity hub

### Error on Singularity Hub

1. I had a repository names github.com/cokelaer/

[2020-07-30 15:31] vsoch commented on #219
I could change this for you, would that work? The repository is actually stored based on its id (a number) which is why it still works. The name is mostly metadata that is captured when you first connect.

[2020-07-30 16:08] vsoch commented on #219
okay I've confirmed this collection belongs to you and does redirect to the new name, so I've changed the name - please take a look!

[2020-07-30 16:23] cokelaer commented on #219
what about the uri ? they seem to still have the previous name ? thanks

[2020-07-30 16:28] vsoch commented on #219
Okay check now!

[2020-07-30 20:56] cokelaer commented on #219
great. it works. thanks for quick reply and fix. I let you close the issue I suppose.

[2020-07-30 21:04] vsoch commented on #219
Sure thing, happy to close the issue and help out!

[2020-07-30 21:04] #219 closed

[2020-07-31 19:52] singular55 commented on #215
I can confirm this problem as well.  It seems to be an issue with the newer version builder only as I had a recipe that built successfully with the 2-5 builder.  I moved to trying the 3-4-2 builder and could not get an error free build.  When I found this issue I moved my recipe to the top directory of my GitHub repo and the build was successful.

[2020-07-31 19:54] vsoch commented on #215
Yep thanks for reporting! I’ll be able to update the builder to address this bug for the next round of server work. In the meantime, your approach to move the recipe to root is what I suggest.

[2020-08-03 13:42] cokelaer opened #220 "build error on singularity-hub (is my build too long ?)"
### Links

 - container collection: 4586
 - GitHub repository or recipe file:
https://github.com/cokelaer/damona/blob/master/recipes/conda/Singularity.conda_4.7.12

### Version of Singularity

singularity hub. latest version on local

### Behavior when Building Locally

Generates a 300Mb image is a few minutes

### Error on Singularity Hub

The build finishes with an error. No obvious message from

[2020-08-03 14:57] vsoch commented on #220
hey @cokelaer - your recipe link is 404, but based on the path I think you are hitting this issue. https://github.com/singularityhub/singularityhub.github.io/issues/215. I won't be able to fix this until it's time for server updates, so in the meantime you can try building recipes from the root, or using an older builder.

[2020-08-03 16:05] cokelaer commented on #220
@vsoch, thanks. I fixed thelink (for book keeping and help you). I rebuilt the image locally in debug mode and also tto get some info.
so this is with version 3.6.0 of singularity and it took 277s (user time).

This is the final line:

    277.34user 24.02system 2:00.36elapsed 250%CPU (0avgtext+0avgdata 909076maxresident)k

so 9Gb of memory. Also,  one warning at the end:

    WARNING: /root/.cond

[2020-08-03 16:13] vsoch commented on #220
If your recipe is located in a subfolder of your repository, the build will fail (this is a known bug) so you should put it in the base (or the root) of the repository, not in a subfolder.

[2020-08-03 17:07] cokelaer commented on #220
hum, I'm quite surprise since the other recipes worked and there are also in sub-directories at the same level ?

[2020-08-03 17:25] vsoch commented on #220
It's a bug only with a few versions of the builder, so it could be that you are using a version that doesn't have it.

[2020-08-03 18:12] cokelaer commented on #220
I see. one more question then, what is the current version of singularity on the server and do you an estimate date for the server update ? thanks in advance

[2020-08-03 18:14] vsoch commented on #220
You should be able to see the singularity version that your builders are using in your collection settings. For updates, depending on how busy I am it will likely be sometime in the fall or at the end of the year. this year is a bit different because the whole server needs updating which is a lot more work so I might wait until I do that.

[2020-08-03 18:23] cokelaer commented on #220
I see. I had version 2.5 I believe ;I switched to 3.4 and will have a go.

[2020-08-04 08:06] cokelaer commented on #220
same results. I guess I'll wait for the next update. You can close the issue; thanks again for the quick feedbacks

[2020-08-07 22:37] vsoch commented on #215
hey @jafaruddinlie and @singular55 - I took a look at the server, and work to update for newer singularity 3.6.1, and that particular task is substantial enough that I'm going to wait for the larger server refactor closer to the winter. However, that doesn't mean that we can't fix this issue for the current latest version on shub, which is 3.4.2! So I have prepared a fixed image `singularity-build

[2020-08-07 22:39] vsoch commented on #220
Thanks @cokelaer ! Just an update for you - see my message here - https://github.com/singularityhub/singularityhub.github.io/issues/215#issuecomment-670771506 I'll have a fix for you to test in two weeks (likely August 21st morning or evening). I'm going to close the issue here since it's represented in #215. Thanks again for reporting!

[2020-08-07 22:39] #220 closed

[2020-08-07 22:39] vsoch commented on #216
Hey just a quick update - this will go live in 2 weeks (after August 21st).

[2020-08-10 11:54] singular55 commented on #215
Sounds great, thanks for the heads up!

From: Vanessasaurus <notifications@github.com>
Sent: Friday, August 7, 2020 6:38 PM
To: singularityhub/singularityhub.github.io <singularityhub.github.io@noreply.github.com>
Cc: Brosius, Kevin <Kevin.Brosius@gryphontechnologies.com>; Mention <mention@noreply.github.com>
Subject: Re: [singularityhub/singularityhub.github.io] builder does not detect finished i

[2020-08-11 10:06] ftabaro opened #221 "Final image does not exist after build complete message"
### Links

 - container collection: https://singularity-hub.org/collections/4638
 - GitHub repository or recipe file: https://github.com/ftabaro/MethylSnake/blob/master/singularity/Singularity

### Version of Singularity

Tried both with 3.2.1 and 3.4.2

### Behavior when Building Locally

Locally on 3.5.3 builds correctly

### Error on Singularity Hub

Build completes, final image does not exist

[2020-08-11 10:09] ftabaro commented on #221
Seems related to #215 but the error is there also with builder 3.4.2.

[2020-08-11 12:00] ftabaro commented on #221
The same recipe in a simpler repository (a single recipe file, no folders or other fancy stuff) builds fine with 3.4.2 builder.

[2020-08-11 14:45] vsoch commented on #221
It’s 100% #215 - please follow that issue, and note the comment that the builder will be updated within a week or so. Closing here for duplicate issue.

[2020-08-11 14:45] #221 closed

[2020-08-21 17:28] vsoch commented on #213
No response, issue resolved and closing.

[2020-08-21 17:28] vsoch commented on #191
Any updates since last year or can we close the issue?

[2020-08-21 17:36] vsoch commented on #216
Okay, change is live! This should no longer be an issue. Thanks for your patience!

[2020-08-21 17:40] vsoch commented on #215
hey @jafaruddinlie and @singular55, I have a development builder for your to test! If you go to your collection settings, there should be a new entry (the last one in the list) for a builder with version 3.4.2 (no size mentioned). Could you please give this a test with 1) a recipe in the base of the repository (to make sure nothing was broken) and 2) a recipe in a subfolder? Please take your time!

[2020-08-21 17:41] vsoch commented on #205
It looks like we didn't find a cause, but the issue was resolved https://github.com/hpcng/singularity/issues/5102#issuecomment-621118703.

[2020-08-21 17:42] vsoch commented on #190
hey @sbilge it looks like this was resolved, so I'm closing the issue.  There was an issue that if you have many branches, the request wasn't paginated, so you could possibly not see branches. I'm not sure if that's related, but since you haven't pinged for ~10 months I'm going to guess the issue is resolved.

[2020-08-21 19:06] ctpelok77 commented on #216
Thank you for handling this issue so efficiently!

On Fri, Aug 21, 2020, 1:36 PM Vanessasaurus <notifications@github.com>
wrote:

[2020-08-22 16:55] containrs opened #222 "Deleting account"
Hello,
I was trying to delete my account. The delete account button seems not to work. I've read a previous issue about it needing some time but I tried it multiple days now. By inspecting the page there seems no action to be programmed by clicking the button?
Thanks for your help!

[2020-08-22 17:05] vsoch commented on #222
hey @containrs I'd be happy to help here! Let's first debug a little bit why it's not working. The command uses [confirm]() first to verify that you want to delete:
[code]
Can you open any window and test that out and see if it returns True? Here is what it looks like for me:

![image](https://user-images.githubusercontent.com/814322/90961548-067f6c80-e467-11ea-9c54-48687ee25f68.png)

If that does

[2020-08-25 15:37] containrs commented on #222
Ah ok I think then it's on me, mainly because I didn't provide enough info. Sorry about that.
The full story is that I renamed my github and hoped it would also rename the singularity hub account. Since that didn't happen I wanted to delete the singularity hub account in order to create a new one with the new github user name. The old username was "flx-hub". I assume the change in name brought up

[2020-08-25 16:06] vsoch commented on #222
I can do either, but I need some kind of confirmation that you own the account. Can you give me a repo with the old username that now directs to yours?

[2020-08-25 16:42] containrs commented on #222
there is only one collection on the account called flx-hub/container 3 builds 1 download.
Is that sufficient?

[2020-08-25 16:45] vsoch commented on #222
The name would need to redirect to yours (containrs) https://github.com/flx-hub/container. From my standpoint, you could be giving me someone else's user name. I need to have confirmation that you own the account. Let me see if there is an associated email that I can send a confirmation code to, and you could verify.

[2020-08-25 16:46] vsoch commented on #222
Ah nevermind it does redirect! I had a space in it. Let me take a look at the account.

[2020-08-25 16:48] vsoch commented on #222
okay I'm sending a confirmation to the email associated with the account. Please tell me what it is here.

[2020-08-25 17:06] containrs commented on #222
7889

[2020-08-25 17:16] vsoch commented on #222
okay all set, your previous collections and user account are deleted. Let me know if you need help with anything else, otherwise feel free to close the issue.

[2020-08-25 19:18] containrs commented on #222
thanks a lot for the help!

[2020-08-25 19:18] #222 closed

[2020-08-29 00:21] singular55 commented on #215
Thanks for the setup!  My initial build in the root seems to have failed with not much in the way of a log.  See attached.  Not sure what to make if it.

[2020-08-29 00:28] vsoch commented on #215
@singular55 I think you attached it to an email (which doesn't come through) could you show it here? I also deleted the various headers / other email bits that probably shouldn't be on here.

[2020-08-29 00:29] vsoch commented on #215
Also could you please make sure to have debug turned on in your collection settings? It might not add additional info, but just in case, it can be helpful.

[2020-08-29 00:36] singular55 commented on #215
Funny thing, when you say "show it here", that comes through in the email as well...

Here's a paste inline.  Debug is already on.

Start Time: Fri Aug 28 15:21:03 UTC 2020.Cloning into '/tmp/tmpa5bl_laj'...warning: redirecting to https://github.com/singular55/container01.git/Switched to a new branch 'sing_353_shub'Branch 'sing_353_shub' set up to track remote branch 'sing_353_shub' from 'origin'.

[2020-08-29 00:47] vsoch commented on #215
You're right! The log was so small I thought it was email signature leftovers :) Thanks for the report, I'll take a look when I can clear up some time.

[2020-08-29 00:51] singular55 commented on #215
Yeah, looks like it hung up right away.  Path seems wrong in the GitHub link, now that I look.  Thanks!

[2020-08-29 00:54] vsoch commented on #215
@singular55 it looks like the build has an extensive setup section, and that there wasn't output / change for 2 hours. Do you have a simple recipe you could test?

[2020-08-29 01:11] singular55 commented on #215
I'm working on a new one now that looks like it built successfully, I'll double check and see if that one works.

Normally the recipe I ran earlier is about a 20-25min build on shub, so 2 hours wouldn't be normal (I guess unless one of the wget's is non-responsive for some reason.)

[2020-08-29 01:38] singular55 commented on #215
@vsoch Yes, it works with smaller recipe and both root and subdir!

[2020-08-29 01:40] vsoch commented on #215
Awesome! 😎 Just curious, what is your reasoning to do so much of the build in %setup instead of %post? I think we might have seen the full output of the timeout or other issue if it was done there.

[2020-08-29 01:45] singular55 commented on #215
Good question, I'm not really a Singularity expert, but I thought from my initial attempts that package installs that copied files from other outside sources only worked in %setup for me.  Should they work after the yum install instructions in %post?  I recall having problems with that and the wget transfer, extract steps.

[2020-08-29 02:55] jafaruddinlie commented on #215
Hi @vsoch , can confirm both builds work fine with 3.4.2 that you set for us.

[2020-08-29 03:27] vsoch commented on #215
Awesome @jafaruddinlie! @singular55 I’ll take a look at your recipe tomorrow and test building locally, and also give a shot at adding those sections to post. Have a good evening (morning? afternoon?) everyone!

[2020-08-29 16:43] vsoch commented on #215
hey @singular55! I built your container like this:

<detail>

[code]
</detail>

When I tested your recipe before change, it also exit with 127 because wget could not be found. I have it on my machine so likely it's not available to the build at that step.

Thanks to you both for testing this out! I'm going to close the issue - there is a lot of server work to do at the end of the year, but hopeful

[2020-08-29 16:43] #215 closed

[2020-08-30 16:11] singular55 commented on #215
Thanks for the tips!  I recall having some trouble like that in the past.  I wonder if the newer 3.x versions of Singularity have changed behavior somewhat.

[2020-08-30 16:14] vsoch commented on #215
I have seen changed behavior - it used to be that you could copy files from the host to /tmp, and have it work. I was testing old recipes from a few years back and the files were no longer found there, so I wonder if that could have been the issue. It also seems to be that the host's software is not accessible to the build, which makes sense because it could have escalated privileged and do someth

[2020-08-30 16:44] singular55 commented on #215
Yes, that's what I saw.  I think that was the issue.  In 2.5, I needed wget, and had to install it prior to use, but then I needed to use it as well.  I think in the 2.5 builder I could not get wget to run in the same section after the 'yum install'.  Sounds like an improvement if that works now.  Thanks for that.  I have not made changes to the recipe since starting to use 3.x versions of builder

[2020-09-12 15:27] piyanatk commented on #215
Hi @vsoch. I am having the same issue as described in #221, which pointed me to here. I have read through the conversation but am still unsure what the solution is. Could you help me please? The definition file can be found [here](https://github.com/HERA-Team/hera-rtp-singularity/blob/master/hera-rtp/Singularity.hera-rtp), and the builder log is attached below. I am simply trying to build a contai

[2020-09-12 16:35] vsoch commented on #215
You’ll want to use the last builder (the one you report taking more than 2 hours). If indeed that’s the case, it likely is low on memory when converting to sif and you won’t be able to use Singularity hub for such a large image.

[2020-09-12 16:50] piyanatk commented on #215
Let me clarify. The build takes about 20 minutes on my laptop and the output image is about 1.4GB. The same definition file take extremely long time to build with `singularity-builder-v3-4-2` on Singularity Hub. By the time that the build was terminated after two hours, it has not finished installing Ubuntu packages, which I found really strange.

[2020-09-12 16:58] vsoch commented on #215
How much memory does your laptop have?

[2020-09-12 17:02] vsoch commented on #215
And could you please include the log for the build that times out?

[2020-09-12 20:43] piyanatk commented on #215
Here is the build log for the build that times out.
[singularity-build-log-HERA-Team_hera-rtp-singularity-Sept. 12, 2020, 3 40 p.m..txt](https://github.com/singularityhub/singularityhub.github.io/files/5213213/singularity-build-log-HERA-Team_hera-rtp-singularity-Sept.12.2020.3.40.p.m.txt)

And my laptop has 8GB of memory.

[2020-09-12 20:51] vsoch commented on #215
That should be comparable then! Let's try a few things to debug, because it shouldn't just hang like that:
 - Remove `apt-get clean` - in case this removes something needed in /tmp.
 - Remove any sections of the build recipe that are empty / you don't use
 - Try installing from ubuntu:18.04 from `docker` instead of `library`
 - If those don't give insight, try removing the vim install to see if it

[2020-09-15 17:17] piyanatk commented on #215
I have tried all of the above, including switching from Ubuntu to CentOS, with no success. The builds always stop somewhere while installing OS packages. [Here](https://github.com/singularityhub/singularityhub.github.io/files/5226607/singularity-build-log-HERA-Team_hera-rtp-singularity-Sept.15.2020.12.06.p.m.txt) is the debug log of the [CentOS recipe](https://github.com/HERA-Team/hera-rtp-singula

[2020-09-15 18:07] vsoch commented on #215
There aren't any differences between accounts - the only customization you can do is to specify the builder (which you already know about!)

The way I'd debug this is to start bare bones - literally just have your recipe like this:

[code]
And then slowly add one command at a time. Your recipe is hugely complex, and what we need to do is figure out the exact line that is triggering the timeout. On

[2020-09-16 19:14] tinavisnovska opened #223 "build on singularity-hub times out even when fbuilding locally in up to 5mins"
### Links

 - container collection: https://singularity-hub.org/collections/4784
 - GitHub repository or recipe file: Singularity.preprocess

### Version of Singularity

Locally v3.3.0, on singularity-hub v3-4-2

### Behavior when Building Locally

builds in up to 5 mins, 16gb RAM

### Error on Singularity Hub

build times-out on 'wget miniconda2'  (line 11 of the recipe, when lines 11-23 are comm

[2020-09-16 19:37] vsoch commented on #223
Can you please share the GitHub repository?

[2020-09-16 19:42] tinavisnovska commented on #223
Have sent you an invite.

[2020-09-16 20:17] vsoch commented on #223
Got it! So I interactively created a builder and was able to build your container (relatively quickly) with the wget line, and then uncommenting the other lines (and it seems to work as well, and quickly). I'm afraid I'm as stumped as you are - it could be a transient thing, or something different about how the container is built without the interactive session. Possibly try exporting:

[code]
Thi

[2020-09-17 14:25] tinavisnovska commented on #223
Hi,
the newer variant of 3.4.2 did the trick and it builds the recipe in 5mins without a problem so maybe there is something going on with the older v3.4.2 builder after all.

Anyway, thanks heaps for pointing in that direction!

[2020-09-17 14:25] #223 closed

[2020-09-17 14:26] vsoch commented on #223
Sure thing! Sorry for the trouble.

[2020-09-20 13:42] piyanatk commented on #215
Hi. I did several more tests.
- A barebone Ubuntu recipe, i.e. just copying the OS image, build fine as expected.
- Copying the OS **and** updating the package list with `apt-get update` also build fine as it should be.
- Installing packages with `apt-get install` give confusing errors
    - It build fine with when `git wget` (and `vim`) were install. [osonly-test log](https://github.com/singulari

[2020-09-20 14:20] archanaydv opened #224 "//dcouvin/CRISPRCasFinder:4.2.18"
### Links

 - container collection:
 - GitHub repository or recipe file:

### Version of Singularity

Write here

### Behavior when Building Locally

Write here.

### Error on Singularity Hub

Write here.

### What do you think is going on?

Write here.

[2020-09-20 15:11] vsoch commented on #224
Please include the link to the recipe on GitHub, the collection builder name, and attach the log file here. I cannot help without any information...

[2020-09-20 15:13] vsoch commented on #215
Did you verify it’s building the commit you think it’s building? You should see all print statements in the log (eg your echos).

[2020-09-21 12:39] singular55 commented on #215
I have noticed that errors and operations seem to be interleaved in the build logs with the latest builder.  At least from my experience it looks like a failure will occur higher in the log than the end of the log file, and installer operations will still be shown after that point until the build ends.  Look for your echo statements to be embedded in the log earlier than you expected and see if yo

[2020-09-28 15:17] piyanatk commented on #215
@vsoch Hi. Yes, I double checked and it was building the right commit. However, the echo statements do not appear in the log.

[2020-09-28 15:22] vsoch commented on #215
@piyanatk please point me to the exact commit (recipe) and the builder you are using, and I'll try to reproduce your error. I'm not sure how else to help.

[2020-09-28 16:14] piyanatk commented on #215
@vsoch Please see for the recipe: https://github.com/HERA-Team/hera-rtp-singularity/blob/287f83e344e81462ba5bc1b5bf0d16593b788f8d/hera-rtp/Singularity.hera-rtp-ubuntu-conda2
And here is the error log that I got using `singularity-builder-v3-4-2` builder.
[singularity-build-log-HERA-Team_hera-rtp-singularity-Sept. 20, 2020, 5 05 a.m.(1).txt](https://github.com/singularityhub/singularityhub.github.i

[2020-09-28 17:13] vsoch commented on #215
hey @piyanatk - I've done the build with:

  - [the older 2.5.1](https://singularity-hub.org/containers/14482) and that worked
  - [3.2.1](https://singularity-hub.org/containers/14484) also worked.
  - [3.4.2](https://singularity-hub.org/containers/14485) I reproduced the issue with the same recipe and 3.4.2 (newer builder), and indeed it hangs when unpacking wget. While on the server I updated th

[2020-09-28 17:21] piyanatk commented on #215
Hi @vsoch. Thank you for checking on this! I think when I tried the older builder, the image was not saved (exactly this issue I think), and you suggested that I used the newer builder. I will give 3.2.1 a try and will report back.

Unfortunately I do not have any insight as I am a novice on this myself. I am just trying to get a container build for the collaboration that I am involved with so tha

[2020-09-28 17:23] vsoch commented on #215
You might consider an automated build to Docker Hub or Quay, and then pulling down to Singularity, e.g., for the repository `vanessa/salad`

[code]
this is especially useful for development containers that warrant many builds a day, as Singularity Hub is more intended to build final / "I want to publish this" containers.

[2020-11-02 19:17] thomas-robinson opened #225 "Hanging on running for a build"
### Links

 - container collection: https://singularity-hub.org/collections/4931
 - GitHub repository or recipe file: https://github.com/thomas-robinson/fms_containers/blob/main/gcc10/openmpi/ubuntu/Singularity.FMS-netcdf4.6.3

### Version of Singularity

3.6.4 (local)

3-4-2-100-gb (shub)

### Behavior when Building Locally

[code]
builds successfully

### Error on Singularity Hub

The status has

[2020-11-02 19:20] vsoch commented on #225
I’ve seen a similar issue with hanging on installing packages, and it was fixed with switching to a different builder. Can you try the other version of 3.4.2 and make sure you use a recipe in the root of the repository? You can also easily try the 2.5.1 builder.

[2020-11-03 12:16] thomas-robinson commented on #225
Switching to 3.4.2 solved my build issue.  Thanks for your help.

[2020-11-03 12:16] #225 closed

[2020-12-07 21:24] Gresliebear opened #226 "Does singularityhub collection work with Gitlab?"
Does singularityhub collection work with Gitlab?

[2020-12-07 21:53] vsoch commented on #226
It does not.

[2020-12-08 16:58] lesliewubbel commented on #226
Thank you! is the code base open source to extend that capability or no?

[2020-12-08 17:49] vsoch commented on #226
Unfortunately no - I always wanted to, but since I'm the only engineer to create and ever touch the code, it made me nervous to have it out there and then allow for someone to potentially act maliciously. What I did do, however, was make an open source derivative - Singularity Registry Server, so if you wanted to deploy something like Singularity Hub (and contribute to it!) that would be an option

[2020-12-08 18:43] lesliewubbel commented on #226
I will take a crack it one day basically there is a size limit on github and LFS didn't work out as planned gitlab provides a 10.0 GB size limit. Thank you!

[2020-12-08 18:45] vsoch commented on #226
Sure! Feel free to close the issue if I've answered your question.

[2020-12-08 18:51] #226 closed

[2020-12-10 08:47] Gresliebear opened #227 "Simple Error FATAL - Failed to get manifest"
### Links

 - container collection: https://singularity-hub.org/collections/5024
 - GitHub repository or recipe file: Singularity.OP_image

### Version of Singularity
singularity version 3.5.2

### Behavior when Building Locally
it builds as intended

### Error on Singularity Hub
the build is completed

### What do you think is going on?
I run the command to pull my image
singularity pull shub://G

[2020-12-10 08:54] lesliewubbel commented on #227
singularity pull shub://Gresliebear/Singularity_container_HPC_OP:op_image

Dont forgot the tag on the image pull!!!!!!

![image](https://user-images.githubusercontent.com/13157730/101749160-67c15f00-3a9b-11eb-93fa-26295b786ff2.png)

[2020-12-10 08:54] #227 closed

[2020-12-15 09:18] ryosuek232 opened #228 "push"
### Links

 - container collection:
 - GitHub repository or recipe file:

### Version of Singularity

Write here

### Behavior when Building Locally

Write here.

### Error on Singularity Hub

Write here.

### What do you think is going on?

Write here.

[2020-12-15 09:18] #228 closed

[2021-01-01 18:25] dcasciotti opened #229 "run"
### Links

 - container collection:
 - GitHub repository or recipe file:

### Version of Singularity

Write here

### Behavior when Building Locally

Write here.

### Error on Singularity Hub

Write here.

### What do you think is going on?

Write here.

[2021-01-01 18:54] vsoch commented on #229
??

[2021-01-01 21:02] dcasciotti opened #230 "no such file or directory"
### Links

 - container collection:
 - GitHub repository or recipe file:

### Version of Singularity

Write here

### Behavior when Building Locally

Write here.

### Error on Singularity Hub

Write here.

### What do you think is going on?

Write here.

[2021-01-01 21:25] vsoch commented on #230
I can’t help you if you give me no context. Happy New Year!

[2021-01-01 21:27] vsoch commented on #229
No context to support addressing this issue.

[2021-01-01 21:27] #229 closed

[2021-01-01 21:29] vsoch commented on #230
No context, please provide the links to the container collection and GitHub repository file as specified, along with the sections that are asked for:

1. Version of Singularity
2. Behavior when building locally
3. Error on Singularity Hub
4. What do you think is going on.

[2021-01-01 21:29] #230 closed

[2021-01-16 11:58] ast0815 opened #231 "Cannot access collection settings page"
### Links

 - container collection: https://singularity-hub.org/collections/5081
 - GitHub repository or recipe file: private

### Error on Singularity Hub

When I click on the "settings button", I get an error message "Beep Boop, Error!".
Also it does not seem to do any building when I push to the GitHub repo.

### What do you think is going on?

Something went wrong when I created the collection

[2021-01-16 18:07] vsoch commented on #231
hey @ast0815! It looks like when you created your collection there was some issue with authentication, so only half of the usual creation actions occurred (creating the collection) and not the final half (creating a builder for your collection). I've just manually done it, so you should be able to test looking at the collections page, and I'd also test the GitHub webhook again (because I do see it

[2021-01-16 18:08] #224 closed

[2021-01-16 18:08] vsoch commented on #191
No response, closing issue.

[2021-01-16 18:08] #191 closed

[2021-01-16 20:57] ast0815 commented on #231
Thanks! It seems to work now. I don't remember doing anything out of the ordinary when I added the collection. I will let you know if it happens again.

[2021-01-16 21:39] vsoch commented on #231
Great! It probably was something like navigating away from the page before the server completed the response successfully. I'll close the issue here, and please reopen with details if you are able to reproduce.

[2021-01-16 21:39] #231 closed

[2021-03-03 21:58] dPys opened #232 "Option to upload an existing .simg rather than rely on triggered builds?"
My workflow involves custom tweaks to the container made after building it. Is there a way that I can incorporate this into my images that get maintained on hub?

[2021-03-03 23:24] vsoch commented on #232
Unfortunately not! I would suggest doing a CI build on some free service (GitHub actions, CircleCI or similar), doing that tweak, pushing to a Docker registry (quay is my favorite, but of course there is Docker Hub and recently GitHub packages) and then pulling down to a Singularity container.

[2021-03-04 01:44] dPys commented on #232
Darn. Well thanks for the quick reply about it anyway! Might be good to add this one to the wish-list?

[2021-04-04 02:21] baxpr opened #233 "Trying to debug a build"
### Links

 - container collection: https://singularity-hub.org/collections/5207
 - GitHub repository or recipe file: https://github.com/baxpr/gf-fmri

### Version of Singularity

Tried with two builders: 2.5-100 and 3.2.1-100

### Behavior when Building Locally

Builds fine locally with singularity 2.6.1 in an ubuntu 18.04 docker container

### Error on Singularity Hub

The matlab binary https://

[2021-04-04 02:24] baxpr commented on #233
...one thing I do know is that running this binary uncompresses about 220 MB of files into a new folder. That is why it needs to be run in the first place - to generate these files in the container initially, because they can't be generated at runtime because the container is read-only.

[2021-04-04 02:31] baxpr commented on #233
One more thing, here is a very similar situation where the build worked fine with ~800 MB of files unpacked:
https://github.com/baxpr/cersuit
https://singularity-hub.org/collections/4797

[2021-04-04 02:49] vsoch commented on #233
@baxpr thank you for the detailed links! I haven't used spm in maybe 10 years so I'm feeling out of my base here - it does seem like there is some issue with the binary. Is the run_spm12.sh script made an executable, is it using the right interpreter, and then is spm12 what you think it is (e.g., it's not a dump from GitHub LFS saying "Sorry over quota!" or something like that. I would do some san

[2021-04-04 03:05] baxpr commented on #233
Oh for heaven's sake. That's exactly what it is. I had marked the `spm12` binary for LFS along with the actual large file `spm12.ctf`, but failed to download it so the container must be getting the github pointer instead of the file. Let me fix that and see if the problem doesn't go away.

[2021-04-04 03:06] vsoch commented on #233
Fingers crossed! 🤞

[2021-04-04 14:45] baxpr commented on #233
Yep, that was it. Thanks very much for the extra eyes!

[2021-04-04 14:45] #233 closed

[2021-04-08 16:42] georgepar opened #234 "Error when pulling container"
Hi all,

I've integrated singularity hub with my repo, but I am not able to pull the container. Specifically I get the following error:

[code]

Also the failed pulls seem to count towards the daily 50 pull quota.

Do you have any suggestions? Thank you!

### Links

 - container collection: https://singularity-hub.org/collections/5346/
 - GitHub repository or recipe file: https://github.com/george

[2021-04-08 16:49] #234 closed

[2021-04-08 16:51] georgepar commented on #234
I didn't know that there was another stage after RUNNING (COMPLETE). Sorry for the issue.

[2021-04-08 16:53] vsoch commented on #234
Totally okay! I'm glad that you got everything working.

[2021-04-13 12:31] radiantone opened #235 "Cannot exec container from shub 403 Forbidden"
[xxxx@xxxxx ~]$ singularity exec --containall  shub://radiantone/gsas2container:gsas2 /work/miniconda/bin/python gsas_example.py
FATAL:   Unable to handle shub://radiantone/gsas2container:gsas2 uri: failed to get manifest for: shub://radiantone/gsas2container:gsas2: 403 Forbidden

### Links

 - container collection: radiantone/gsas2container:gsas2
 - GitHub repository or recipe file: https://githu

[2021-04-13 12:46] vsoch commented on #235
Yes 403 means the container or collection reached its weekly pull limit. When it resets you should pull the container once and use the binary to avoid that.

[2021-04-19 14:58] baxpr opened #236 "Building is disabled"
### Links

 - container collection: https://singularity-hub.org/collections/5170
 - GitHub repository or recipe file: https://github.com/baxpr/gf-edat

### Error on Singularity Hub

`Building is disabled`

`You've used 0 out of 10 of your daily builds.`

What am I missing? Thanks!

[2021-04-19 16:27] vsoch commented on #236
Sorry you missed the announcement!

https://twitter.com/vsoch/status/1380980790301888513

[2021-04-19 16:29] vsoch commented on #236
You could use Docker Hub or Quay.io to pull to singularity, the Sylabs free tier on their cloud, or (more recently what I found is possible) saving an image to a repository release asset: https://github.com/singularityhub/singularity-deploy. And then you can pull with shpc. Good luck!

[2021-04-19 16:48] baxpr commented on #236
I missed it, all right! Best wishes :)

[2021-04-19 16:48] #236 closed

[2021-04-19 16:49] vsoch commented on #236
Thank you @baxpr <3

[2021-04-20 18:35] Romit-Maulik opened #237 "Get error that building is disabled"
### Links

https://github.com/Romit-Maulik/singularity_recipes

### Version of Singularity

N/A

### Behavior when Building Locally

N/A

### Error on Singularity Hub

I keep getting a "Building is disabled" message when I try to trigger a manual build. I also do not see any of my recipes. I also ensured that my main branch is enabled for building.

### What do you think is going on?

Not sure.

!

[2021-04-20 18:50] vsoch commented on #237
You missed the announcement! https://twitter.com/vsoch/status/1380980790301888513 It's currently in read only mode.

[2021-04-20 18:52] Romit-Maulik commented on #237
Wow - just when I was really starting to love this! Thanks for all the great work :)

[2021-04-22 21:21] adriansev opened #238 "Trigger build gives "Building is disabled""
### Links

 - container collection:
https://singularity-hub.org/collections/4203

 - GitHub repository or recipe file:
https://github.com/adriansev/el7cvmfs.sing

### Error on Singularity Hub
Trying to trigger the build gives a very dry "Building is disabled" message

### What do you think is going on?
i have no idea .. yesterday it worked

[2021-04-22 23:06] vsoch commented on #237
Closing issue, thanks again for your kind words!

[2021-04-22 23:06] #237 closed

[2021-04-22 23:06] vsoch commented on #238
Singularity Hub is read only this week, here is the announcement -> https://twitter.com/vsoch/status/1380980790301888513

[2021-04-23 06:24] adriansev commented on #238
@vsoch oh, i did not see it.. Thank you very much for all your work and i wish you all the best in your future activities!

[2021-04-23 06:25] vsoch commented on #238
Thank you @adriansev - that is very kind, and the best to you as well! <3

[2021-04-23 16:04] tfunck opened #239 ""Building is Disabled" even though it is enabled in Settings"
### Links

 - container collection: https://singularity-hub.org/collections/3471
 - GitHub repository or recipe file: https://github.com/APPIAN-PET/APPIAN

### Version of Singularity

Don't know, whatever the default on Singularity hub is. Locally it's 2.4.2-dist.

### Behavior when Building Locally

Builds normally.

### Error on Singularity Hub

I get a message saying "Building is Disabled" howe

[2021-04-23 16:17] vsoch commented on #238
I'm going to re-open so hopefully other users see this issue (I keep getting new ones!) relevant ones are:

 - #237
 - #236
 - #239
 - #240
 - #241

[2021-04-23 16:18] vsoch commented on #239
Please see discussion in #238 and linked issues - Singularity Hub is read only this week. Thank you!

[2021-04-23 22:54] grpiccoli opened #240 "Beep Boop, Error! on clicking settings"
### Links

 - container collection: https://singularity-hub.org/collections/5382/settings
 - GitHub repository or recipe file: https://github.com/grpiccoli/longqc-image

Can't access settings to set up builds

### Behavior when Building Locally

Singularity.1.2
Builds without errors

### Error on Singularity Hub

Beep Boop, Error!

### What do you think is going on?

No clue

[2021-04-23 23:01] vsoch commented on #240
Please see https://github.com/singularityhub/singularityhub.github.io/issues/238. Singularity Hub is in read only mode, and (builders) are shutting down, likely in the next few days. Existing containers will still be available in an archive.

[2021-04-23 23:27] grpiccoli commented on #240
Thank you for the prompt response, I am going to subscribe to anouncements for the future, I am closing this now

[2021-04-23 23:27] #240 closed

[2021-04-24 00:00] radiantone opened #241 "Clicking 'Trigger Build' displays message "Building is disabled""
### Links

 - container collection: radiantone/gsas2container
 - GitHub repository or recipe file: https://github.com/radiantone/gsas2container/blob/main/Singularity.gsas2

### Version of Singularity

Singularity Hub

### Behavior when Building Locally

Write here.

### Error on Singularity Hub

Clicking 'Trigger Build' displays message "Building is disabled"

### What do you think is going on?

N

[2021-04-24 00:11] vsoch commented on #241
Please see https://github.com/singularityhub/singularityhub.github.io/issues/238.

[2021-05-04 14:24] dongfang91 opened #242 "Is singularityhub down"
I want to check the status of my singularity image, but when I go to the [Singularity-Hub](https://singularity-hub.org/), it redirects me to this new website http://datasets.datalad.org/?dir=/shub

[2021-05-04 14:50] vsoch commented on #242
Singularity hub is now an archive at Dartmouth. If your containers were built before the 19th of April they should be there, and still pullable.

[2021-05-04 14:51] vsoch commented on #242
https://singularityhub.github.io/singularityhub-docs/2021/going-read-only/

[2021-05-04 17:09] dongfang91 commented on #242
Got it, thank you!

[2021-05-04 17:09] #242 closed

[2021-05-08 18:54] #238 closed

[2021-05-08 18:54] #239 closed

[2021-05-08 18:54] #235 closed

[2021-05-08 18:54] #186 closed

[2021-05-08 18:55] #120 closed

[2021-05-08 18:55] #138 closed

[2021-05-08 18:55] #174 closed

[2021-05-08 18:55] #210 closed

[2021-05-08 18:55] #232 closed

[2021-06-17 17:51] sbaskin-hlmx opened #243 "Data Removal Request"
Hi,
Please remove all archive collections under helomics-software-dev.
Thank you.

[2021-06-17 18:02] vsoch commented on #243
hey @sbaskin-hlmx I don't manage the archive, so you probably want to post an issue at https://github.com/con/shub/. I don't think there should be any issue with removing your data, but please let me know if you run into any trouble.

[2021-06-17 18:16] sbaskin-poai commented on #243
Okay, thanks for letting me know!